<!--序号资源表管理-->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">系统管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">个性化配置管理</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="bigform">
    <div class="col-md-12" >
        <div class="portlet light">
            <div class="portlet-body">
                <div ui-grid="gridOptions"  class="grid"
                     ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns>
                </div>
                <div class="actions btn-set" style="float: right; margin-top:12px;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="config.add()"> 新增配置
                    </button>
                    <button type="button" name="back" class="btn btn-primary" ng-click="config.edit()">  修改配置
                    </button>
                    <button type="button" name="back" class="btn btn-primary" ng-click="config.histroy()"> 查看概况
                    </button>
                    <button type="button" name="back" class="btn btn-danger" ng-click="config.del()"> 删除配置
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>