<!-- 菜单管理-->
<div class="row">
    <!-- 组织机构树 start -->
    <div class="col-md-3">
        <div class="portlet light" style="width: 100%;min-height:848px;height: 100%">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">应用菜单</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form id="s">
                    <input type="search" id="q"/>
                    <button type="submit">检索</button>
                </form>
                <div id="container"></div>
            </div>
        </div>
    </div>
    <!-- 组织机构树 end -->
    <!-- 右侧展示页面 start -->
    <div class="col-md-9">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered" style="width: 100%;min-height:848px;height: 100%" ng-if='menu.menushow'>
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart"></i> 菜单详情 </div>
            </div>
            <div class="portlet-body" style="min-height:500px; height: 100%" >
                <div class="table-container">
                    <div ui-grid="gridOptions"
                         ui-grid-edit ui-grid-pagination
                         ui-grid-selection ui-grid-resize-columns>
                    </div>
                    <div class="actions btn-set" style="float: right; margin-top:12px;">
                        <button type="button" name="back" class="btn btn-primary" ng-click="menuAdd()"> 新增
                        </button>
                        <button type="button" name="back" class="btn btn-primary" ng-click="menuEdit(4)">  修改
                        </button>
                        <button type="button" name="back" class="btn btn-danger" ng-click="menuDelete()"> 删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light portlet-fit portlet-datatable bordered" style="height: 100%" ng-if='menu.menusearch'>
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart"></i> 菜单详细信息 </div>
            </div>
            <div class="portlet-body" style="min-height:500px; height: 100%" >
                <form action="#" name="menuform" class="form-horizontal ">
                    <div class="form-body ">
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">父菜单显示名称</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.parshowname"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">菜单名称:<span ng-class="{required:menuform.dict_key.$invalid}"  > * </span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.menuname"
                                           name="dict_key" ng-disabled="!editflag" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4"> 菜单显示名称:<span ng-class="{required:menuform.dict_key1.$invalid}"  > * </span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.menushowname"
                                           name="dict_key1" ng-disabled="!editflag" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">菜单代码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.menucode"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">是否叶子菜单</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="dict_open" ng-model="menuFrom.childmenu" ng-disabled="!editflag">
                                        <option value=""></option>
                                        <option value="s">是</option>
                                        <option value="a">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">功能名称</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.funname"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">页面打开方法</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="dict_open" ng-model="menuFrom.openfade" ng-disabled="!editflag">
                                        <option value="">普通页面</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">显示顺序</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.order"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">菜单闭合路径</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.closeurl"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">菜单展开路径</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.openurl"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">菜单层次</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.arrangement"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <label class="control-label col-md-4">子节点数</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           ng-model="menuFrom.childnum"
                                           name="id" ng-disabled="!editflag"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <div class="actions btn-set" style="text-align: center;" ng-if="!editflag">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="menu.menuEdit(menuFrom)"> 编辑信息
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="menu.childAdd(menuFrom)">增加子菜单
                                        </button>
                                    </div>
                                    <div class="actions btn-set" style="text-align: center" ng-if="editflag">
                                        <button type="button" name="back"  class="btn btn-primary" ng-if="menuform.$invalid == false"  ng-disabled="menuform.$invalid" popover-trigger="mouseenter" ng-click="menu.save(menuFrom)" > 保存
                                        </button>
                                        <button type="button" name="back" class="btn default" ng-if="menuform.$invalid == true"  ng-disabled="menuform.$invalid" popover-trigger="mouseenter" > 保存
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="menu.cenel()"> 取消
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>