<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcEntityfieldMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcEntityfield">
	    INSERT INTO AC_ENTITYFIELD 
	    (
	    	 guid
	    	,guid_entity
	    	,field_name
	    	,field_desc
	    	,display_format
	    	,doclist_code
	    	,checkbox_value
	    	,fk_inputurl
	    	,fk_fielddesc
	    	,fk_columnname
	    	,fk_tablename
	    	,desc_fieldname
	    	,ref_type
	    	,field_type
	    	,display_order
	    	,column_name
	    	,width
	    	,default_value
	    	,min_value
	    	,max_value
	    	,length_value
	    	,precision_value
	    	,validate_type
	    	,ismodify
	    	,isdisplay
	    	,isinput
	    	,ispk
	    	,isautokey
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{guidEntity,jdbcType=VARCHAR},
			#{fieldName,jdbcType=VARCHAR},
			#{fieldDesc,jdbcType=VARCHAR},
			#{displayFormat,jdbcType=VARCHAR},
			#{doclistCode,jdbcType=VARCHAR},
			#{checkboxValue,jdbcType=VARCHAR},
			#{fkInputurl,jdbcType=VARCHAR},
			#{fkFielddesc,jdbcType=VARCHAR},
			#{fkColumnname,jdbcType=VARCHAR},
			#{fkTablename,jdbcType=VARCHAR},
			#{descFieldname,jdbcType=VARCHAR},
			#{refType,jdbcType=VARCHAR},
			#{fieldType,jdbcType=VARCHAR},
			#{displayOrder,jdbcType=DECIMAL},
			#{columnName,jdbcType=VARCHAR},
			#{width,jdbcType=DECIMAL},
			#{defaultValue,jdbcType=VARCHAR},
			#{minValue,jdbcType=VARCHAR},
			#{maxValue,jdbcType=VARCHAR},
			#{lengthValue,jdbcType=DECIMAL},
			#{precisionValue,jdbcType=DECIMAL},
			#{validateType,jdbcType=VARCHAR},
			#{ismodify,jdbcType=CHAR},
			#{isdisplay,jdbcType=CHAR},
			#{isinput,jdbcType=CHAR},
			#{ispk,jdbcType=CHAR},
			#{isautokey,jdbcType=CHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcEntityfield">
    	UPDATE AC_ENTITYFIELD 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="guid_entity != null" >
			guid_entity = #{guidEntity,jdbcType=VARCHAR},
		</if>
		<if test="field_name != null" >
			field_name = #{fieldName,jdbcType=VARCHAR},
		</if>
		<if test="field_desc != null" >
			field_desc = #{fieldDesc,jdbcType=VARCHAR},
		</if>
		<if test="display_format != null" >
			display_format = #{displayFormat,jdbcType=VARCHAR},
		</if>
		<if test="doclist_code != null" >
			doclist_code = #{doclistCode,jdbcType=VARCHAR},
		</if>
		<if test="checkbox_value != null" >
			checkbox_value = #{checkboxValue,jdbcType=VARCHAR},
		</if>
		<if test="fk_inputurl != null" >
			fk_inputurl = #{fkInputurl,jdbcType=VARCHAR},
		</if>
		<if test="fk_fielddesc != null" >
			fk_fielddesc = #{fkFielddesc,jdbcType=VARCHAR},
		</if>
		<if test="fk_columnname != null" >
			fk_columnname = #{fkColumnname,jdbcType=VARCHAR},
		</if>
		<if test="fk_tablename != null" >
			fk_tablename = #{fkTablename,jdbcType=VARCHAR},
		</if>
		<if test="desc_fieldname != null" >
			desc_fieldname = #{descFieldname,jdbcType=VARCHAR},
		</if>
		<if test="ref_type != null" >
			ref_type = #{refType,jdbcType=VARCHAR},
		</if>
		<if test="field_type != null" >
			field_type = #{fieldType,jdbcType=VARCHAR},
		</if>
		<if test="display_order != null" >
			display_order = #{displayOrder,jdbcType=DECIMAL},
		</if>
		<if test="column_name != null" >
			column_name = #{columnName,jdbcType=VARCHAR},
		</if>
		<if test="width != null" >
			width = #{width,jdbcType=DECIMAL},
		</if>
		<if test="default_value != null" >
			default_value = #{defaultValue,jdbcType=VARCHAR},
		</if>
		<if test="min_value != null" >
			min_value = #{minValue,jdbcType=VARCHAR},
		</if>
		<if test="max_value != null" >
			max_value = #{maxValue,jdbcType=VARCHAR},
		</if>
		<if test="length_value != null" >
			length_value = #{lengthValue,jdbcType=DECIMAL},
		</if>
		<if test="precision_value != null" >
			precision_value = #{precisionValue,jdbcType=DECIMAL},
		</if>
		<if test="validate_type != null" >
			validate_type = #{validateType,jdbcType=VARCHAR},
		</if>
		<if test="ismodify != null" >
			ismodify = #{ismodify,jdbcType=CHAR},
		</if>
		<if test="isdisplay != null" >
			isdisplay = #{isdisplay,jdbcType=CHAR},
		</if>
		<if test="isinput != null" >
			isinput = #{isinput,jdbcType=CHAR},
		</if>
		<if test="ispk != null" >
			ispk = #{ispk,jdbcType=CHAR},
		</if>
		<if test="isautokey != null" >
			isautokey = #{isautokey,jdbcType=CHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcEntityfield">
    	UPDATE AC_ENTITYFIELD 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		guid_entity = #{guidEntity,jdbcType=VARCHAR},
		field_name = #{fieldName,jdbcType=VARCHAR},
		field_desc = #{fieldDesc,jdbcType=VARCHAR},
		display_format = #{displayFormat,jdbcType=VARCHAR},
		doclist_code = #{doclistCode,jdbcType=VARCHAR},
		checkbox_value = #{checkboxValue,jdbcType=VARCHAR},
		fk_inputurl = #{fkInputurl,jdbcType=VARCHAR},
		fk_fielddesc = #{fkFielddesc,jdbcType=VARCHAR},
		fk_columnname = #{fkColumnname,jdbcType=VARCHAR},
		fk_tablename = #{fkTablename,jdbcType=VARCHAR},
		desc_fieldname = #{descFieldname,jdbcType=VARCHAR},
		ref_type = #{refType,jdbcType=VARCHAR},
		field_type = #{fieldType,jdbcType=VARCHAR},
		display_order = #{displayOrder,jdbcType=DECIMAL},
		column_name = #{columnName,jdbcType=VARCHAR},
		width = #{width,jdbcType=DECIMAL},
		default_value = #{defaultValue,jdbcType=VARCHAR},
		min_value = #{minValue,jdbcType=VARCHAR},
		max_value = #{maxValue,jdbcType=VARCHAR},
		length_value = #{lengthValue,jdbcType=DECIMAL},
		precision_value = #{precisionValue,jdbcType=DECIMAL},
		validate_type = #{validateType,jdbcType=VARCHAR},
		ismodify = #{ismodify,jdbcType=CHAR},
		isdisplay = #{isdisplay,jdbcType=CHAR},
		isinput = #{isinput,jdbcType=CHAR},
		ispk = #{ispk,jdbcType=CHAR},
		isautokey = #{isautokey,jdbcType=CHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_ENTITYFIELD where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_ENTITYFIELD <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_ENTITYFIELD 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_entity != null" >
        	guid_entity = #{domain.guidEntity,jdbcType=VARCHAR}
      	</if>
		<if test="domain.field_name != null" >
        	field_name = #{domain.fieldName,jdbcType=VARCHAR}
      	</if>
		<if test="domain.field_desc != null" >
        	field_desc = #{domain.fieldDesc,jdbcType=VARCHAR}
      	</if>
		<if test="domain.display_format != null" >
        	display_format = #{domain.displayFormat,jdbcType=VARCHAR}
      	</if>
		<if test="domain.doclist_code != null" >
        	doclist_code = #{domain.doclistCode,jdbcType=VARCHAR}
      	</if>
		<if test="domain.checkbox_value != null" >
        	checkbox_value = #{domain.checkboxValue,jdbcType=VARCHAR}
      	</if>
		<if test="domain.fk_inputurl != null" >
        	fk_inputurl = #{domain.fkInputurl,jdbcType=VARCHAR}
      	</if>
		<if test="domain.fk_fielddesc != null" >
        	fk_fielddesc = #{domain.fkFielddesc,jdbcType=VARCHAR}
      	</if>
		<if test="domain.fk_columnname != null" >
        	fk_columnname = #{domain.fkColumnname,jdbcType=VARCHAR}
      	</if>
		<if test="domain.fk_tablename != null" >
        	fk_tablename = #{domain.fkTablename,jdbcType=VARCHAR}
      	</if>
		<if test="domain.desc_fieldname != null" >
        	desc_fieldname = #{domain.descFieldname,jdbcType=VARCHAR}
      	</if>
		<if test="domain.ref_type != null" >
        	ref_type = #{domain.refType,jdbcType=VARCHAR}
      	</if>
		<if test="domain.field_type != null" >
        	field_type = #{domain.fieldType,jdbcType=VARCHAR}
      	</if>
		<if test="domain.display_order != null" >
        	display_order = #{domain.displayOrder,jdbcType=DECIMAL}
      	</if>
		<if test="domain.column_name != null" >
        	column_name = #{domain.columnName,jdbcType=VARCHAR}
      	</if>
		<if test="domain.width != null" >
        	width = #{domain.width,jdbcType=DECIMAL}
      	</if>
		<if test="domain.default_value != null" >
        	default_value = #{domain.defaultValue,jdbcType=VARCHAR}
      	</if>
		<if test="domain.min_value != null" >
        	min_value = #{domain.minValue,jdbcType=VARCHAR}
      	</if>
		<if test="domain.max_value != null" >
        	max_value = #{domain.maxValue,jdbcType=VARCHAR}
      	</if>
		<if test="domain.length_value != null" >
        	length_value = #{domain.lengthValue,jdbcType=DECIMAL}
      	</if>
		<if test="domain.precision_value != null" >
        	precision_value = #{domain.precisionValue,jdbcType=DECIMAL}
      	</if>
		<if test="domain.validate_type != null" >
        	validate_type = #{domain.validateType,jdbcType=VARCHAR}
      	</if>
		<if test="domain.ismodify != null" >
        	ismodify = #{domain.ismodify,jdbcType=CHAR}
      	</if>
		<if test="domain.isdisplay != null" >
        	isdisplay = #{domain.isdisplay,jdbcType=CHAR}
      	</if>
		<if test="domain.isinput != null" >
        	isinput = #{domain.isinput,jdbcType=CHAR}
      	</if>
		<if test="domain.ispk != null" >
        	ispk = #{domain.ispk,jdbcType=CHAR}
      	</if>
		<if test="domain.isautokey != null" >
        	isautokey = #{domain.isautokey,jdbcType=CHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcEntityfield">
		select <include refid="Base_Column_List"/> from AC_ENTITYFIELD where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcEntityfield" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_ENTITYFIELD <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_ENTITYFIELD <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_entity
		,field_name
		,field_desc
		,display_format
		,doclist_code
		,checkbox_value
		,fk_inputurl
		,fk_fielddesc
		,fk_columnname
		,fk_tablename
		,desc_fieldname
		,ref_type
		,field_type
		,display_order
		,column_name
		,width
		,default_value
		,min_value
		,max_value
		,length_value
		,precision_value
		,validate_type
		,ismodify
		,isdisplay
		,isinput
		,ispk
		,isautokey
	</sql>
</mapper>