<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcFuncResourceMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
	    INSERT INTO AC_FUNC_RESOURCE 
	    (
	    	 guid_func
	    	,attr_type
	    	,attr_key
	    	,attr_value
	    	,memo
	    )
	    VALUES 
	    (
			#{guidFunc,jdbcType=VARCHAR},
			#{attrType,jdbcType=VARCHAR},
			#{attrKey,jdbcType=VARCHAR},
			#{attrValue,jdbcType=VARCHAR},
			#{memo,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
    	UPDATE AC_FUNC_RESOURCE 
	    <set>
		<if test="guidFunc != null" >
			guid_func = #{guidFunc,jdbcType=VARCHAR},
		</if>
		<if test="attrType != null" >
			attr_type = #{attrType,jdbcType=VARCHAR},
		</if>
		<if test="attrKey != null" >
			attr_key = #{attrKey,jdbcType=VARCHAR},
		</if>
		<if test="attrValue != null" >
			attr_value = #{attrValue,jdbcType=VARCHAR},
		</if>
		<if test="memo != null" >
			memo = #{memo,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
    	UPDATE AC_FUNC_RESOURCE 
	    <set>
		guid_func = #{guidFunc,jdbcType=VARCHAR},
		attr_type = #{attrType,jdbcType=VARCHAR},
		attr_key = #{attrKey,jdbcType=VARCHAR},
		attr_value = #{attrValue,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_FUNC_RESOURCE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_FUNC_RESOURCE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_FUNC_RESOURCE 
	   <set>
		<if test="domain.guidFunc != null" >
        	guid_func = #{domain.guidFunc,jdbcType=VARCHAR},
      	</if>
		<if test="domain.attrType != null" >
        	attr_type = #{domain.attrType,jdbcType=VARCHAR},
      	</if>
		<if test="domain.attrKey != null" >
        	attr_key = #{domain.attrKey,jdbcType=VARCHAR},
      	</if>
		<if test="domain.attrValue != null" >
        	attr_value = #{domain.attrValue,jdbcType=VARCHAR},
      	</if>
		<if test="domain.memo != null" >
        	memo = #{domain.memo,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcFuncResource">
		select <include refid="Base_Column_List"/> from AC_FUNC_RESOURCE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcFuncResource" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_FUNC_RESOURCE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_FUNC_RESOURCE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_func as guidFunc
		,attr_type as attrType
		,attr_key as attrKey
		,attr_value as attrValue
		,memo as memo
	</sql>
</mapper>