<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcFuncResourceMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
	    INSERT INTO AC_FUNC_RESOURCE 
	    (
	    	 guid_func
	    	,res_type
	    	,res_path
	    	,compack_name
	    	,res_show_name
	    )
	    VALUES 
	    (
			#{guidFunc,jdbcType=VARCHAR},
			#{resType,jdbcType=VARCHAR},
			#{resPath,jdbcType=VARCHAR},
			#{compackName,jdbcType=VARCHAR},
			#{resShowName,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
    	UPDATE AC_FUNC_RESOURCE 
	    <set>
		<if test="guidFunc != null" >
			guid_func = #{guidFunc,jdbcType=VARCHAR},
		</if>
		<if test="resType != null" >
			res_type = #{resType,jdbcType=VARCHAR},
		</if>
		<if test="resPath != null" >
			res_path = #{resPath,jdbcType=VARCHAR},
		</if>
		<if test="compackName != null" >
			compack_name = #{compackName,jdbcType=VARCHAR},
		</if>
		<if test="resShowName != null" >
			res_show_name = #{resShowName,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
    	UPDATE AC_FUNC_RESOURCE 
	    <set>
		guid_func = #{guidFunc,jdbcType=VARCHAR},
		res_type = #{resType,jdbcType=VARCHAR},
		res_path = #{resPath,jdbcType=VARCHAR},
		compack_name = #{compackName,jdbcType=VARCHAR},
		res_show_name = #{resShowName,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_FUNC_RESOURCE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_FUNC_RESOURCE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_FUNC_RESOURCE 
	   <set>
		<if test="domain.guid_func != null" >
        	guid_func = #{domain.guidFunc,jdbcType=VARCHAR}
      	</if>
		<if test="domain.res_type != null" >
        	res_type = #{domain.resType,jdbcType=VARCHAR}
      	</if>
		<if test="domain.res_path != null" >
        	res_path = #{domain.resPath,jdbcType=VARCHAR}
      	</if>
		<if test="domain.compack_name != null" >
        	compack_name = #{domain.compackName,jdbcType=VARCHAR}
      	</if>
		<if test="domain.res_show_name != null" >
        	res_show_name = #{domain.resShowName,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcFuncResource">
		select <include refid="Base_Column_List"/> from AC_FUNC_RESOURCE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcFuncResource" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_FUNC_RESOURCE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_FUNC_RESOURCE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_func as guidFunc
		,res_type as resType
		,res_path as resPath
		,compack_name as compackName
		,res_show_name as resShowName
	</sql>
</mapper>