<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcFuncBhvtypeMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcFuncBhvtype">
	    INSERT INTO AC_FUNC_BHVTYPE 
	    (
	    	 guid_func
	    	,guid_bhvtype
	    )
	    VALUES 
	    (
			#{guidFunc,jdbcType=VARCHAR},
			#{guidBhvtype,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcFuncBhvtype">
    	UPDATE AC_FUNC_BHVTYPE 
	    <set>
		<if test="guidFunc != null" >
			guid_func = #{guidFunc,jdbcType=VARCHAR},
		</if>
		<if test="guidBhvtype != null" >
			guid_bhvtype = #{guidBhvtype,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcFuncBhvtype">
    	UPDATE AC_FUNC_BHVTYPE 
	    <set>
		guid_func = #{guidFunc,jdbcType=VARCHAR},
		guid_bhvtype = #{guidBhvtype,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_FUNC_BHVTYPE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_FUNC_BHVTYPE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_FUNC_BHVTYPE 
	   <set>
		<if test="domain.guid_func != null" >
        	guid_func = #{domain.guidFunc,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_bhvtype != null" >
        	guid_bhvtype = #{domain.guidBhvtype,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcFuncBhvtype">
		select <include refid="Base_Column_List"/> from AC_FUNC_BHVTYPE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcFuncBhvtype" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_FUNC_BHVTYPE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_FUNC_BHVTYPE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_func as guidFunc
		,guid_bhvtype as guidBhvtype
	</sql>
</mapper>