<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcMenuMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcMenu">
	    INSERT INTO AC_MENU 
	    (
	    	 guid
	    	,guid_app
	    	,guid_func
	    	,menu_name
	    	,menu_label
	    	,menu_code
	    	,isleaf
	    	,ui_entry
	    	,menu_level
	    	,guid_parents
	    	,guid_root
	    	,display_order
	    	,image_path
	    	,expand_path
	    	,menu_seq
	    	,open_mode
	    	,sub_count
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{guidApp,jdbcType=VARCHAR},
			#{guidFunc,jdbcType=VARCHAR},
			#{menuName,jdbcType=VARCHAR},
			#{menuLabel,jdbcType=VARCHAR},
			#{menuCode,jdbcType=VARCHAR},
			#{isleaf,jdbcType=CHAR},
			#{uiEntry,jdbcType=VARCHAR},
			#{menuLevel,jdbcType=DECIMAL},
			#{guidParents,jdbcType=VARCHAR},
			#{guidRoot,jdbcType=VARCHAR},
			#{displayOrder,jdbcType=DECIMAL},
			#{imagePath,jdbcType=VARCHAR},
			#{expandPath,jdbcType=VARCHAR},
			#{menuSeq,jdbcType=VARCHAR},
			#{openMode,jdbcType=VARCHAR},
			#{subCount,jdbcType=DECIMAL}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcMenu">
    	UPDATE AC_MENU 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="guidApp != null" >
			guid_app = #{guidApp,jdbcType=VARCHAR},
		</if>
		<if test="guidFunc != null" >
			guid_func = #{guidFunc,jdbcType=VARCHAR},
		</if>
		<if test="menuName != null" >
			menu_name = #{menuName,jdbcType=VARCHAR},
		</if>
		<if test="menuLabel != null" >
			menu_label = #{menuLabel,jdbcType=VARCHAR},
		</if>
		<if test="menuCode != null" >
			menu_code = #{menuCode,jdbcType=VARCHAR},
		</if>
		<if test="isleaf != null" >
			isleaf = #{isleaf,jdbcType=CHAR},
		</if>
		<if test="uiEntry != null" >
			ui_entry = #{uiEntry,jdbcType=VARCHAR},
		</if>
		<if test="menuLevel != null" >
			menu_level = #{menuLevel,jdbcType=DECIMAL},
		</if>
		<if test="guidParents != null" >
			guid_parents = #{guidParents,jdbcType=VARCHAR},
		</if>
		<if test="guidRoot != null" >
			guid_root = #{guidRoot,jdbcType=VARCHAR},
		</if>
		<if test="displayOrder != null" >
			display_order = #{displayOrder,jdbcType=DECIMAL},
		</if>
		<if test="imagePath != null" >
			image_path = #{imagePath,jdbcType=VARCHAR},
		</if>
		<if test="expandPath != null" >
			expand_path = #{expandPath,jdbcType=VARCHAR},
		</if>
		<if test="menuSeq != null" >
			menu_seq = #{menuSeq,jdbcType=VARCHAR},
		</if>
		<if test="openMode != null" >
			open_mode = #{openMode,jdbcType=VARCHAR},
		</if>
		<if test="subCount != null" >
			sub_count = #{subCount,jdbcType=DECIMAL}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcMenu">
    	UPDATE AC_MENU 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		guid_app = #{guidApp,jdbcType=VARCHAR},
		guid_func = #{guidFunc,jdbcType=VARCHAR},
		menu_name = #{menuName,jdbcType=VARCHAR},
		menu_label = #{menuLabel,jdbcType=VARCHAR},
		menu_code = #{menuCode,jdbcType=VARCHAR},
		isleaf = #{isleaf,jdbcType=CHAR},
		ui_entry = #{uiEntry,jdbcType=VARCHAR},
		menu_level = #{menuLevel,jdbcType=DECIMAL},
		guid_parents = #{guidParents,jdbcType=VARCHAR},
		guid_root = #{guidRoot,jdbcType=VARCHAR},
		display_order = #{displayOrder,jdbcType=DECIMAL},
		image_path = #{imagePath,jdbcType=VARCHAR},
		expand_path = #{expandPath,jdbcType=VARCHAR},
		menu_seq = #{menuSeq,jdbcType=VARCHAR},
		open_mode = #{openMode,jdbcType=VARCHAR},
		sub_count = #{subCount,jdbcType=DECIMAL}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_MENU where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_MENU <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_MENU 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidApp != null" >
        	guid_app = #{domain.guidApp,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidFunc != null" >
        	guid_func = #{domain.guidFunc,jdbcType=VARCHAR},
      	</if>
		<if test="domain.menuName != null" >
        	menu_name = #{domain.menuName,jdbcType=VARCHAR},
      	</if>
		<if test="domain.menuLabel != null" >
        	menu_label = #{domain.menuLabel,jdbcType=VARCHAR},
      	</if>
		<if test="domain.menuCode != null" >
        	menu_code = #{domain.menuCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.isleaf != null" >
        	isleaf = #{domain.isleaf,jdbcType=CHAR},
      	</if>
		<if test="domain.uiEntry != null" >
        	ui_entry = #{domain.uiEntry,jdbcType=VARCHAR},
      	</if>
		<if test="domain.menuLevel != null" >
        	menu_level = #{domain.menuLevel,jdbcType=DECIMAL},
      	</if>
		<if test="domain.guidParents != null" >
        	guid_parents = #{domain.guidParents,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidRoot != null" >
        	guid_root = #{domain.guidRoot,jdbcType=VARCHAR},
      	</if>
		<if test="domain.displayOrder != null" >
        	display_order = #{domain.displayOrder,jdbcType=DECIMAL},
      	</if>
		<if test="domain.imagePath != null" >
        	image_path = #{domain.imagePath,jdbcType=VARCHAR},
      	</if>
		<if test="domain.expandPath != null" >
        	expand_path = #{domain.expandPath,jdbcType=VARCHAR},
      	</if>
		<if test="domain.menuSeq != null" >
        	menu_seq = #{domain.menuSeq,jdbcType=VARCHAR},
      	</if>
		<if test="domain.openMode != null" >
        	open_mode = #{domain.openMode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.subCount != null" >
        	sub_count = #{domain.subCount,jdbcType=DECIMAL}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcMenu">
		select <include refid="Base_Column_List"/> from AC_MENU where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcMenu" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_MENU <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_MENU <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as guid
		,guid_app as guidApp
		,guid_func as guidFunc
		,menu_name as menuName
		,menu_label as menuLabel
		,menu_code as menuCode
		,isleaf as isleaf
		,ui_entry as uiEntry
		,menu_level as menuLevel
		,guid_parents as guidParents
		,guid_root as guidRoot
		,display_order as displayOrder
		,image_path as imagePath
		,expand_path as expandPath
		,menu_seq as menuSeq
		,open_mode as openMode
		,sub_count as subCount
	</sql>
</mapper>