<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcOperatorFuncMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcOperatorFunc">
	    INSERT INTO AC_OPERATOR_FUNC 
	    (
	    	 guid_operator
	    	,guid_func
	    	,auth_type
	    	,start_date
	    	,end_date
	    	,guid_app
	    	,guid_funcgroup
	    )
	    VALUES 
	    (
			#{guidOperator,jdbcType=VARCHAR},
			#{guidFunc,jdbcType=VARCHAR},
			#{authType,jdbcType=VARCHAR},
			#{startDate,jdbcType=DATE},
			#{endDate,jdbcType=DATE},
			#{guidApp,jdbcType=VARCHAR},
			#{guidFuncgroup,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcOperatorFunc">
    	UPDATE AC_OPERATOR_FUNC 
	    <set>
		<if test="guidOperator != null" >
			guid_operator = #{guidOperator,jdbcType=VARCHAR},
		</if>
		<if test="guidFunc != null" >
			guid_func = #{guidFunc,jdbcType=VARCHAR},
		</if>
		<if test="authType != null" >
			auth_type = #{authType,jdbcType=VARCHAR},
		</if>
		<if test="startDate != null" >
			start_date = #{startDate,jdbcType=DATE},
		</if>
		<if test="endDate != null" >
			end_date = #{endDate,jdbcType=DATE},
		</if>
		<if test="guidApp != null" >
			guid_app = #{guidApp,jdbcType=VARCHAR},
		</if>
		<if test="guidFuncgroup != null" >
			guid_funcgroup = #{guidFuncgroup,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcOperatorFunc">
    	UPDATE AC_OPERATOR_FUNC 
	    <set>
		guid_operator = #{guidOperator,jdbcType=VARCHAR},
		guid_func = #{guidFunc,jdbcType=VARCHAR},
		auth_type = #{authType,jdbcType=VARCHAR},
		start_date = #{startDate,jdbcType=DATE},
		end_date = #{endDate,jdbcType=DATE},
		guid_app = #{guidApp,jdbcType=VARCHAR},
		guid_funcgroup = #{guidFuncgroup,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_OPERATOR_FUNC where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_OPERATOR_FUNC <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_OPERATOR_FUNC 
	   <set>
		<if test="domain.guidOperator != null" >
        	guid_operator = #{domain.guidOperator,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidFunc != null" >
        	guid_func = #{domain.guidFunc,jdbcType=VARCHAR},
      	</if>
		<if test="domain.authType != null" >
        	auth_type = #{domain.authType,jdbcType=VARCHAR},
      	</if>
		<if test="domain.startDate != null" >
        	start_date = #{domain.startDate,jdbcType=DATE},
      	</if>
		<if test="domain.endDate != null" >
        	end_date = #{domain.endDate,jdbcType=DATE},
      	</if>
		<if test="domain.guidApp != null" >
        	guid_app = #{domain.guidApp,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidFuncgroup != null" >
        	guid_funcgroup = #{domain.guidFuncgroup,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcOperatorFunc">
		select <include refid="Base_Column_List"/> from AC_OPERATOR_FUNC where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcOperatorFunc" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_OPERATOR_FUNC <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_OPERATOR_FUNC <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_operator as `guidOperator`
		,guid_func as `guidFunc`
		,auth_type as `authType`
		,start_date as `startDate`
		,end_date as `endDate`
		,guid_app as `guidApp`
		,guid_funcgroup as `guidFuncgroup`
	</sql>
</mapper>