<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcOperatorConfigMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcOperatorConfig">
	    INSERT INTO AC_OPERATOR_CONFIG 
	    (
	    	 guid_operator
	    	,guid_config
	    	,config_value
	    )
	    VALUES 
	    (
			#{guidOperator,jdbcType=VARCHAR},
			#{guidConfig,jdbcType=VARCHAR},
			#{configValue,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcOperatorConfig">
    	UPDATE AC_OPERATOR_CONFIG 
	    <set>
		<if test="guidOperator != null" >
			guid_operator = #{guidOperator,jdbcType=VARCHAR},
		</if>
		<if test="guidConfig != null" >
			guid_config = #{guidConfig,jdbcType=VARCHAR},
		</if>
		<if test="configValue != null" >
			config_value = #{configValue,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcOperatorConfig">
    	UPDATE AC_OPERATOR_CONFIG 
	    <set>
		guid_operator = #{guidOperator,jdbcType=VARCHAR},
		guid_config = #{guidConfig,jdbcType=VARCHAR},
		config_value = #{configValue,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_OPERATOR_CONFIG where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_OPERATOR_CONFIG <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_OPERATOR_CONFIG 
	   <set>
		<if test="domain.guidOperator != null" >
        	guid_operator = #{domain.guidOperator,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidConfig != null" >
        	guid_config = #{domain.guidConfig,jdbcType=VARCHAR},
      	</if>
		<if test="domain.configValue != null" >
        	config_value = #{domain.configValue,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcOperatorConfig">
		select <include refid="Base_Column_List"/> from AC_OPERATOR_CONFIG where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcOperatorConfig" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_OPERATOR_CONFIG <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_OPERATOR_CONFIG <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_operator as `guidOperator`
		,guid_config as `guidConfig`
		,config_value as `configValue`
	</sql>
</mapper>