<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcOperatorBehaviorMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcOperatorBehavior">
	    INSERT INTO AC_OPERATOR_BEHAVIOR 
	    (
	    	 guid_operator
	    	,guid_behavior
	    	,auth_type
	    )
	    VALUES 
	    (
			#{guidOperator,jdbcType=VARCHAR},
			#{guidBehavior,jdbcType=VARCHAR},
			#{authType,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcOperatorBehavior">
    	UPDATE AC_OPERATOR_BEHAVIOR 
	    <set>
		<if test="guid_operator != null" >
			guid_operator = #{guidOperator,jdbcType=VARCHAR},
		</if>
		<if test="guid_behavior != null" >
			guid_behavior = #{guidBehavior,jdbcType=VARCHAR},
		</if>
		<if test="auth_type != null" >
			auth_type = #{authType,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcOperatorBehavior">
    	UPDATE AC_OPERATOR_BEHAVIOR 
	    <set>
		guid_operator = #{guidOperator,jdbcType=VARCHAR},
		guid_behavior = #{guidBehavior,jdbcType=VARCHAR},
		auth_type = #{authType,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_OPERATOR_BEHAVIOR where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_OPERATOR_BEHAVIOR <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_OPERATOR_BEHAVIOR 
	   <set>
		<if test="domain.guid_operator != null" >
        	guid_operator = #{domain.guidOperator,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_behavior != null" >
        	guid_behavior = #{domain.guidBehavior,jdbcType=VARCHAR}
      	</if>
		<if test="domain.auth_type != null" >
        	auth_type = #{domain.authType,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcOperatorBehavior">
		select <include refid="Base_Column_List"/> from AC_OPERATOR_BEHAVIOR where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcOperatorBehavior" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_OPERATOR_BEHAVIOR <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_OPERATOR_BEHAVIOR <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_operator
		,guid_behavior
		,auth_type
	</sql>
</mapper>