<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcOperatorIdentityMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcOperatorIdentity">
	    INSERT INTO AC_OPERATOR_IDENTITY 
	    (
	    	 guid
	    	,guid_operator
	    	,identity_name
	    	,identity_flag
	    	,seq_no
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{guidOperator,jdbcType=VARCHAR},
			#{identityName,jdbcType=VARCHAR},
			#{identityFlag,jdbcType=CHAR},
			#{seqNo,jdbcType=DECIMAL}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcOperatorIdentity">
    	UPDATE AC_OPERATOR_IDENTITY 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="guidOperator != null" >
			guid_operator = #{guidOperator,jdbcType=VARCHAR},
		</if>
		<if test="identityName != null" >
			identity_name = #{identityName,jdbcType=VARCHAR},
		</if>
		<if test="identityFlag != null" >
			identity_flag = #{identityFlag,jdbcType=CHAR},
		</if>
		<if test="seqNo != null" >
			seq_no = #{seqNo,jdbcType=DECIMAL}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcOperatorIdentity">
    	UPDATE AC_OPERATOR_IDENTITY 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		guid_operator = #{guidOperator,jdbcType=VARCHAR},
		identity_name = #{identityName,jdbcType=VARCHAR},
		identity_flag = #{identityFlag,jdbcType=CHAR},
		seq_no = #{seqNo,jdbcType=DECIMAL}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_OPERATOR_IDENTITY where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_OPERATOR_IDENTITY <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_OPERATOR_IDENTITY 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_operator != null" >
        	guid_operator = #{domain.guidOperator,jdbcType=VARCHAR}
      	</if>
		<if test="domain.identity_name != null" >
        	identity_name = #{domain.identityName,jdbcType=VARCHAR}
      	</if>
		<if test="domain.identity_flag != null" >
        	identity_flag = #{domain.identityFlag,jdbcType=CHAR}
      	</if>
		<if test="domain.seq_no != null" >
        	seq_no = #{domain.seqNo,jdbcType=DECIMAL}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcOperatorIdentity">
		select <include refid="Base_Column_List"/> from AC_OPERATOR_IDENTITY where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcOperatorIdentity" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_OPERATOR_IDENTITY <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_OPERATOR_IDENTITY <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as guid
		,guid_operator as guidOperator
		,identity_name as identityName
		,identity_flag as identityFlag
		,seq_no as seqNo
	</sql>
</mapper>