<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.AcRoleFuncMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcRoleFunc">
	    INSERT INTO AC_ROLE_FUNC 
	    (
	    	 guid_role
	    	,guid_func
	    	,guid_app
	    	,guid_funcgroup
	    )
	    VALUES 
	    (
			#{guidRole,jdbcType=VARCHAR},
			#{guidFunc,jdbcType=VARCHAR},
			#{guidApp,jdbcType=VARCHAR},
			#{guidFuncgroup,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcRoleFunc">
    	UPDATE AC_ROLE_FUNC 
	    <set>
		<if test="guid_role != null" >
			guid_role = #{guidRole,jdbcType=VARCHAR},
		</if>
		<if test="guid_func != null" >
			guid_func = #{guidFunc,jdbcType=VARCHAR},
		</if>
		<if test="guid_app != null" >
			guid_app = #{guidApp,jdbcType=VARCHAR},
		</if>
		<if test="guid_funcgroup != null" >
			guid_funcgroup = #{guidFuncgroup,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcRoleFunc">
    	UPDATE AC_ROLE_FUNC 
	    <set>
		guid_role = #{guidRole,jdbcType=VARCHAR},
		guid_func = #{guidFunc,jdbcType=VARCHAR},
		guid_app = #{guidApp,jdbcType=VARCHAR},
		guid_funcgroup = #{guidFuncgroup,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_ROLE_FUNC where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_ROLE_FUNC <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_ROLE_FUNC 
	   <set>
		<if test="domain.guid_role != null" >
        	guid_role = #{domain.guidRole,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_func != null" >
        	guid_func = #{domain.guidFunc,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_app != null" >
        	guid_app = #{domain.guidApp,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_funcgroup != null" >
        	guid_funcgroup = #{domain.guidFuncgroup,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcRoleFunc">
		select <include refid="Base_Column_List"/> from AC_ROLE_FUNC where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcRoleFunc" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_ROLE_FUNC <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_ROLE_FUNC <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_role as guidRole
		,guid_func as guidFunc
		,guid_app as guidApp
		,guid_funcgroup as guidFuncgroup
	</sql>
</mapper>