<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.ac.ApplicationMapper">
  
  
    <select id="queryAcAppVo" resultType="org.tis.tools.model.vo.ac.AcAppVo" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_APP <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
  
  <select id="queryAcFuncVo" resultType="org.tis.tools.model.vo.ac.AcFuncVo"  parameterType="org.tis.tools.base.WhereCondition" >    	
    	select <include refid="Base_Column_List_1" /> from AC_FUNC as a left join AC_FUNC_RESOURCE as b on a.guid =b.guid_func 
    	<include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>  	
  	</select>

	<select id="queryBhvtypeDefByFunc" resultType="org.tis.tools.model.po.ac.AcBhvtypeDef"  parameterType="java.lang.String" >
    	select <include refid="BhvtypeDef_Column_List" /> FROM AC_BHVTYPE_DEF  a JOIN AC_FUNC_BHVTYPE  b ON a.guid = b.`GUID_BHVTYPE` WHERE b.GUID_FUNC = #{funcGuid,jdbcType=VARCHAR}
  	</select>

	<select id="queryBhvDefInTypeForFunc" resultType="map">
    	select <include refid="FuncBhvDef_Column_List" /> from AC_BHV_DEF a JOIN AC_FUNC_BHV b ON a.GUID = b.GUID_BHV WHERE b.GUID_FUNC = #{funcGuid,jdbcType=VARCHAR} and a.GUID_BEHTYPE = #{bhvtypeGuid,jdbcType=VARCHAR}
  	</select>

	<select id="queryAllBhvDefForFunc" resultType="map">
    	select <include refid="FuncBhvDef_Column_List2" />
		from
			AC_BHV_DEF a
			JOIN AC_FUNC_BHV b ON a.GUID = b.GUID_BHV
			JOIN AC_BHVTYPE_DEF c ON a.GUID_BEHTYPE = c.GUID
		WHERE b.GUID_FUNC = #{funcGuid,jdbcType=VARCHAR}
  	</select>
	
	<select id="queryFuncBhvRelation" resultType="map" parameterType="org.tis.tools.base.WhereCondition" >
		SELECT b.GUID_FUNC,a.GUID_BEHTYPE AS GUID_BHVTYPE,a.`GUID` AS GUID_BHV FROM AC_BHV_DEF a JOIN AC_FUNC_BHV b ON a.GUID = b.GUID_BHV
		<include refid="Where_Clause" />
	</select>

	<select id="queryEmpAllApp" resultType="org.tis.tools.model.po.ac.AcApp">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			AC_APP
		WHERE
			GUID IN (
				SELECT
				a2.GUID_APP AS GUID_APP
				FROM
				OM_EMP_GROUP a,
				OM_GROUP_APP a2
				WHERE
				a.GUID_GROUP = a2.GUID_GROUP
				AND
				GUID_EMP = #{empGuid}
				UNION
				SELECT
				b2.GUID_APP AS GUID_APP
				FROM
				OM_EMP_POSITION b ,
				OM_POSITION_APP b2
				WHERE
				b.GUID_POSITION = b2.GUID_POSITION
				and
				b.GUID_EMP = #{empGuid}
			)

	</select>

	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>

	<sql id="Base_Column_List" >
		 guid as guid
		,app_code as appCode
		,app_name as appName
		,app_type as appType
		,isopen as isopen
		,open_date as openDate
		,url as url
		,app_desc as appDesc
		,guid_emp_maintenance as guidEmpMaintenance
		,guid_role_maintenance as guidRoleMaintenance
		,remark as remark
		,iniwp as iniwp
		,intaskcenter as intaskcenter
		,ip_addr as ipAddr
		,ip_port as ipPort
	</sql>
	
	<sql id="Base_Column_List_1" >
		 a.guid as guid
		,a.guid_funcgroup as guidFuncgroup
		,a.func_code as funcCode
		,a.func_name as funcName
		,a.func_desc as funcDesc
		,a.func_action as funcAction
		,a.para_info as paraInfo
		,a.func_type as funcType
		,a.ischeck as ischeck
		,a.ismenu as ismenu
		,b.guid_func as guidFunc
		,b.res_type as resType
		,b.res_path as resPath
		,b.compack_name as compackName
		,b.res_show_name as resShowName
	</sql>

	<sql id="BhvtypeDef_Column_List" >
		a.guid as guid
		,a.bhvtype_code as bhvtypeCode
		,a.bhvtype_name as bhvtypeName
	</sql>

	<sql id="FuncBhvDef_Column_List" >
		a.guid as guid
		,a.guid_behtype as guidBehtype
		,a.bhv_code as bhvCode
		,a.bhv_name as bhvName
		,b.iseffective as iseffective
	</sql>

	<sql id="FuncBhvDef_Column_List2" >
		a.guid as guid
		,a.guid_behtype as guidBehtype
		,c.BHVTYPE_NAME AS bhvtypeName
		,a.bhv_code as bhvCode
		,a.bhv_name as bhvName
		,b.iseffective as iseffective
	</sql>


	<sql id="AcApp_Column_List" >
		guid as guid
		,app_code as appCode
		,app_name as appName
		,app_type as appType
		,isopen as isopen
		,open_date as openDate
		,url as url
		,app_desc as appDesc
		,guid_emp_maintenance as guidEmpMaintenance
		,guid_role_maintenance as guidRoleMaintenance
		,remark as remark
		,iniwp as iniwp
		,intaskcenter as intaskcenter
		,ip_addr as ipAddr
		,ip_port as ipPort
	</sql>

</mapper>