
*.log

*.metadata

*.recommenders

*.classpath

*.project

*.settings

*.svn

*.tar

*.rar

*.gz

*.zip

*.cache

*.lock

*.searchable

*.DS_Store

target/

autogen/

conf/

logs/

#暂时不提交tools-web-tools
tools-web-tools3/

tools-web-tools/src/main/webapp/.idea/

tools-web-tools/cache/.tools-web-tools.cache.swp

~$Github团队协作.pptx

tools-core/model/~$业务字典.xlsx
