<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.jnl.JnlTransFeatureMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.jnl.JnlTransFeature">
	    INSERT INTO JNL_TRANS_FEATURE 
	    (
	    	 guid
	    	,guid_trans
	    	,trans_sno
	    	,trans_field
	    	,trans_data
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_trans,jdbcType=varchar},
			#{trans_sno,jdbcType=varchar},
			#{trans_field,jdbcType=varchar},
			#{trans_data,jdbcType=varchar}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.jnl.JnlTransFeature">
    	UPDATE JNL_TRANS_FEATURE 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_trans != null" >
			guid_trans = #{guid_trans,jdbcType=varchar},
		</if>
		<if test="trans_sno != null" >
			trans_sno = #{trans_sno,jdbcType=varchar},
		</if>
		<if test="trans_field != null" >
			trans_field = #{trans_field,jdbcType=varchar},
		</if>
		<if test="trans_data != null" >
			trans_data = #{trans_data,jdbcType=varchar}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.jnl.JnlTransFeature">
    	UPDATE JNL_TRANS_FEATURE 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_trans = #{guid_trans,jdbcType=varchar},
		trans_sno = #{trans_sno,jdbcType=varchar},
		trans_field = #{trans_field,jdbcType=varchar},
		trans_data = #{trans_data,jdbcType=varchar}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from JNL_TRANS_FEATURE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from JNL_TRANS_FEATURE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE JNL_TRANS_FEATURE 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_trans != null" >
        	guid_trans = #{domain.guid_trans,jdbcType=varchar}
      	</if>
		<if test="domain.trans_sno != null" >
        	trans_sno = #{domain.trans_sno,jdbcType=varchar}
      	</if>
		<if test="domain.trans_field != null" >
        	trans_field = #{domain.trans_field,jdbcType=varchar}
      	</if>
		<if test="domain.trans_data != null" >
        	trans_data = #{domain.trans_data,jdbcType=varchar}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.jnl.JnlTransFeature">
		select <include refid="Base_Column_List"/> from JNL_TRANS_FEATURE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.jnl.JnlTransFeature" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from JNL_TRANS_FEATURE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from JNL_TRANS_FEATURE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_trans
		,trans_sno
		,trans_field
		,trans_data
	</sql>
</mapper>