<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>
<body>
<div>
    <!-- 组织机构树 start -->
    <div class="col-md-3">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">组织机构管理</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form id="s">
                    <input type="search" id="q"/>
                    <button type="submit">检索</button>
                </form>
                <div id="container"></div>
            </div>
        </div>
    </div>
    <!-- 组织机构树 end -->
    <!-- 右侧展示页面 start -->
    <div class="col-md-9 portlet light">
        <div class="portlet light">
            <div class="portlet-body portlet light">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
                    <li ng-class="{true:'active',false:''}[showListPage()]">
                        <a id="tab-list" data-toggle="tab" href ng-class="{true:'link',false:''}[showListPage()]" ng-click="abftree.switchToListView()">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>机构详情信息
                        </a>
                    </li>
                    <li ng-if="showEditPage() || showDetailPage()" ng-class="{true:'active',false:''}[showEditPage() || showDetailPage()]">
                        <a id="tab-form" data-toggle="tab" href ng-class="{true:'link',false:''}[showEditPage() || showDetailPage()]">
                            <i class="green ace-icon fa bigger-120" ng-class="{true:'fa-plus',false:'fa-pencil'}[editMethod == 'edit']"></i>编辑机构信息
                        </a>
                    </li>
                </ul>
                <div class="tab-content portlet light" ng-if="showListPage()">
                    <!-- 列表页 begin-->
                    <!-- 机构详情 -->
                    <form action="#" name="myform" class="form-horizontal clear">
                        <div class="form-body portlet light">
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构状态</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgStatus"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style=" visibility: hidden;">
                                <div class="form-group form-control col-md-8">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构代码</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="abftree.item.orgCode" name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构名称</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgName"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构类型</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgType"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构等级</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.Degree"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构地址</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgAddr"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">邮编</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.zipcode"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">联系电话</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.linkTel"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">电子邮件</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.email"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">网站地址</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.webUrl"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">创建时间</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.createTime"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">备注</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.remark"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="actions btn-set" style="float: right;">
                                            <button type="button" name="back" class="btn btn-primary" ng-click="abftree.test()"> 新增子机构
                                            </button>
                                            <button type="button" name="back" class="btn btn-primary" ng-click="abftree.edit()"> 编辑机构
                                            </button>
                                            <button type="button" name="back" class="btn btn-danger" ng-click="OrgDelete(wd.item)"> 删除机构
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- 机构详情 end -->
                    <!-- 列表页 end-->
                </div>
                <div class="tab-content portlet light" ng-if="showEditPage()">
                    <!-- 列表页 begin-->
                    <!-- 机构详情 -->
                    <form action="#" name="myform" class="form-horizontal clear">
                        <div class="form-body portlet light">
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构状态</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgStatus"
                                               name="id"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style=" visibility: hidden;">
                                <div class="form-group form-control col-md-8">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构代码</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="abftree.item.orgCode" name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构名称</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgName"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构类型</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgType"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构等级</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.Degree"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">机构地址</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.orgAddr"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">邮编</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.zipcode"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">联系电话</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.linkTel"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">电子邮件</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.email"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">网站地址</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.webUrl"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">创建时间</label>
                                    <div class="col-md-8">
                                        <!--<input type="text" class="form-control"-->
                                               <!--ng-model="abftree.item.createTime"-->
                                               <!--name="id" readonly/>-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-DD" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                    <span class="input-group-btn">
						                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">备注</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control"
                                               ng-model="abftree.item.remark"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="actions btn-set" style="float: right;">
                                            <button type="button" name="back" class="btn btn-primary" ng-click="abftree.test()"> 保存
                                            </button>

                                            <button type="button" name="back" class="btn btn-danger" ng-click=""> 取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- 机构详情 end -->
                    <!-- 列表页 end-->
                </div>
            </div>
           
        </div>
    </div>

    <!--<div ui-grid="gridOptions" ></div>-->


    <!-- end -->
</div>
</body>
</html>