<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">新增员工</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <form action="#" name="myform" class="form-horizontal ">
            <div class="form-body ">
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">员工代码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgStatus"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工姓名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="subFrom.orgCode" name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工全名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="subFrom.orgCode" name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">性别</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgName"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工状态</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgType"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工职级</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.Degree"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">主机构编号</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgAddr"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">基本岗位</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.link_man"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">直接主管</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.area"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">入职日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.zipcode"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">离职日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.linkTel"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公电话</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.email"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公地址</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.webUrl"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公邮编</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.createTime"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公邮件</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.start_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">传真号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">手机号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">MSN号码</label>
                        <div class="col-md-8">
                            <input class="form-control" style="" type="text" ng-model="subFrom.asd">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">证件类型</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">证件号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">出生日期:</label>
                        <div class="col-md-8">
                            <div class="input-group date form_datetime"  ng-init="$root.settings.utils.initpicker()">
                                    <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                <input type="text" class="form-control" ng-model="subFrom.startDate" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">家庭电话</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">家庭邮编</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">私人邮箱</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">家庭地址</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.remark"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">政治面貌</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">操作员编号</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">操作员</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">可授权角色</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">可管理机构</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">工作描述</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.end_date"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">备注</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.remark"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">

                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back1" class="btn btn-primary" ng-click="emp.add(subFrom)"> 保存
                                </button>

                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>