<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">新增组织机构</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light" ng-form="bigform">
        <form action="#" name="myform" class="form-horizontal" >
            <div class="form-body " ng-show="next">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构等级:<span style="color:red">*</span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_OM_ORGDEGREE')">
                            <select  ng-model="subFrom.orgDegree" class="form-control">
                               <option ng-repeat="d in $settings.diclist['DICT_OM_ORGDEGREE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">所属地域:<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <select  ng-model="subFrom.area" class="form-control">
                                <option value="010">北京地区</option>
                                <option value="021">上海地区</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构名称:<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgName"
                                   name="id" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构类型:<span style="color:red">*</span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_OM_ORGTYPE')">
                            <select class="form-control" ng-model="subFrom.orgType">
                                <option ng-repeat="d in $settings.diclist['DICT_OM_ORGTYPE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">

                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back" class="btn btn-primary" ng-click="skip(subFrom)"> 下一步
                                </button>

                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6" >-->
            <!--<div class="form-group">-->
            <!--<label class="control-label col-md-4">机构状态</label>-->

            <!--<div class="col-md-8">-->
            <!--<input type="text" class="form-control"-->
            <!--ng-model="subFrom.orgStatus"-->
            <!--name="id" />-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6" style=" visibility: hidden;">-->
            <!--<div class="form-group form-control col-md-8">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-body" ng-show="!next">
                <!--<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构代码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="subFrom.orgCode" name="id" readonly/>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构代码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="subFrom.orgCode" disabled name="id"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构地址:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgAddr"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">联系人姓名:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.linkMan"
                                   name="id" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">邮编:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.zipcode"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">联系电话:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.linkTel"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">电子邮件:</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control"
                                   ng-model="subFrom.email"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">网站地址:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.webUrl"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">备注:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.remark"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">机构名称:<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="subFrom.orgName"
                                   name="id" required/>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">

                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back" class="btn btn-primary"  ng-click="add(subFrom)"> 保存
                                </button>

                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>