<!--新增资源类型弹窗页面-->
<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">导入功能类型</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <div ui-grid="gridOptions"  class="grid"
             ui-grid-edit ui-grid-pagination
             ui-grid-selection ui-grid-resize-columns>
        </div>
        <div class="col-md-2 col-md-offset-10">
            <div class="actions btn-set" style="margin-top:20px;">
                <button type="button" name="back" class="btn btn-primary" ng-click="importAdd()"> 导入
                </button>
                <button type="button" name="back" class="btn btn-primary" ng-click="cancel()"> 取消
                </button>
            </div>
        </div>
    </div>
</div>