<!--新增资源弹窗页面-->
<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    {{resourFrom}}
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">新增资源</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <form action="#" name="myform" class="form-horizontal ">
            <div class="form-body ">
                <div class="col-md-12" >
                    <div class="form-group">
                        <label class="control-label col-md-2">构建包名</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="resourFrom.appname"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">显示名称</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="resourFrom.showname"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">资源类型</label>
                        <div class="col-md-8">
                            <select class="form-control" name="dict_open" ng-model="resourFrom.type">
                                <option value="s" selected>页面流</option>
                                <option value="a">测试功能</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <label class="control-label col-md-2">资源路径</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="resourFrom.url"
                                   name="id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">

                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back" class="btn btn-primary" ng-click="add(appFrom)"> 保存
                                </button>
                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>