<!--新增资源弹窗页面-->
<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase" ng-if="!id">新增资源</span>
            <span class="caption-subject font-green-sharp bold uppercase" ng-if="id">修改资源</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <form action="#" name="myform" class="form-horizontal ">
            <div class="form-body ">
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">属性类型:<span ng-class="{required:myform.dict_key1.$invalid}"  > * </span></label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="resourFrom.attrType" required
                                   name="dict_key1"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">属性名:<span ng-class="{required:myform.dict_key2.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="resourFrom.attrKey"
                                   name="dict_key2"  required  ng-disabled="id"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">属性值:<span ng-class="{required:myform.dict_key3.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="resourFrom.attrValue" required
                                   name="dict_key3" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <label class="control-label col-md-2">备注</label>
                        <div class="col-md-10">
                            <textarea class="form-control"  ng_model="resourFrom.memo" maxlength="128" length-limit  num-length=512  scope-models="resourFrom.memo"  name="ctl_desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">

                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="add(resourFrom)" > 保存
                                </button>
                                <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 保存
                                </button>
                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>