<!-- 新增应用-->
<div class="row" ng-form="bigform">
    <div class="col-md-12 col-xs-12">
        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase" ng-if="!id">新增应用</span>
                    <span class="caption-subject font-green-sharp bold uppercase" ng-if="id">编辑应用</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <!-- BEGIN FORM-->
                            <form action="#" name="myform" class="form-horizontal" style="margin-left: -10px;">
                                <div class="form-body" >
                                    <!--/row-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 应用名称:<span ng-class="{required:myform.dict_key.$invalid}"  > * </span></label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" maxlength="128"   ng-model="dictionaryAdd.appName"
                                                       required
                                                       name="dict_key"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 应用代码: <span ng-class="{required:myform.dicts_kesy.$invalid}" >* </span></label>
                                            <div class="col-md-8">
                                                <input type="text"  class="form-control"
                                                       required  ng-model="dictionaryAdd.appCode"
                                                       name="dicts_kesy"  maxlength="64"/>
                                                <span style="color: #ccc">请输入应用代码,以APP_开头</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 应用类型:<span ng-class="{required:myform.dict_type.$invalid}" >* </span></label>
                                            <div class="col-md-8" ng-init="$settings.getDictData('DICT_AC_APPTYPE')">
                                                <select class="form-control"  maxlength="255"   ng-model="dictionaryAdd.appType" required name="dict_type">
                                                    <option ng-repeat="d in $settings.diclist['DICT_AC_APPTYPE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                   <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 是否开通:<span ng-class="{required:myform.dict_isopen.$invalid}" >* </span> </label>
                                            <div class="col-md-8" ng-init="$settings.getDictData('DICT_YON')">
                                                <select class="form-control" required  ng-model="dictionaryAdd.isopen"  name="dict_isopen">
                                                    <option ng-repeat="d in $settings.diclist['DICT_YON'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->
                                    <!--<div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 开通日期: </label>
                                            <div class="col-md-8">
                                                <div class="input-group date form_datetime" ng-init="$root.settings.utils.initpicker()" >
                                                    <span class="input-group-btn">
                                                        <button class="btn default date-set"  type="button"><i  class="fa fa-calendar"></i></button>
                                                    </span>
                                                    <input type="text" class="form-control" ng-model="dictionaryAdd.openDateStr"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> IP: </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control"
                                                       name="table_name" ng-model="dictionaryAdd.ipAddr" maxlength="50"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 访问地址: </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control"
                                                       name="column_name" maxlength="256" ng-model="dictionaryAdd.url"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 端口: </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control"
                                                       name="column_name" ng-model="dictionaryAdd.ipPort" maxlength="10"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 管理维护人员: </label>
                                            <div class="col-md-8" ng-init="$settings.getCommData('EMP')">
                                                <select class="form-control" name="dict_open" ng-model="dictionaryAdd.guidEmpMaintenance"  maxlength="128">
                                                    <option ng-repeat="d in $settings.commlist['EMP'] track by $index" value="{{d.guid}}">{{d.empName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 应用管理角色: </label>
                                            <div class="col-md-8" ng-init="$settings.getCommData('ROLE')">
                                                <select class="form-control" name="dict_open" ng-model="dictionaryAdd.guidRoleMaintenance" maxlength="128">
                                                    <option ng-repeat="d in $settings.commlist['ROLE'] track by $index" value="{{d.guid}}">{{d.roleName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2"> 应用描述: </label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"
                                                       ng-model="dictionaryAdd.appDesc"  maxlength="516"
                                                       name="dict_name"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-10">
                        <div class="actions btn-set">
                            <button type="button" name="back" class="btn btn-primary" ng-if="bigform.$invalid == false" ng-disabled="bigform.$invalid" popover-trigger="mouseenter" ng-click="saveDict(dictionaryAdd)" > 保存
                            </button>
                            <button type="button" name="back" class="btn default" ng-if="bigform.$invalid == true" ng-disabled="bigform.$invalid" popover-trigger="mouseenter" > 保存
                            </button>
                            <button type="button" name="back" class="btn default" ng-click="cancel()"> 关闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>