<!-- 应用功能管理 -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">权限管理</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">应用功能管理</a>
    </li>
</ul>

<div class="row">
    <!-- 组织机构树 start -->
    <div class="col-md-3">
        <div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">应用功能管理</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form id="s">
                    <input type="search" id="q"/>
                    <button type="submit">检索</button>
                </form>
                <div id="container"></div>
            </div>
        </div>
    </div>
    <!-- 组织机构树 end -->
    <!-- 右侧展示页面 start -->
    <div class="col-md-9">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered" ng-if='biz.applica'>
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart"></i> 应用列表 </div>
            </div>
            <div class="portlet-body">
                <div>
                    <div class ="bizLogHandle">
                        <label class="biz-label">应用名称</label>
                        <input class="input-text" type="type" ng-model="biz.trans_date_start">
                        <label class="biz-label">应用类别</label>

                        <select name="" class="input-text">
                            <option value="0">本地</option>
                            <option value="1">远程</option>
                        </select>
                        <input class="input-button" type="button" value="查询" ng-click="querySumInfo(biz.trans_date_start,biz.trans_date_end)">
                    </div>

                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover table-checkable">
                            <thead>
                            <tr role="row" class="heading">
                                <th width="2%" class="table-checkbox">
                                    <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single"><input type="checkbox" class="group-checkable" ng-model="headcheck" ng-click="biz.checkAll(!headcheck)"/><span></span>
                                    </label>
                                </th>
                                <th width="10%">应用名称</th>
                                <th width="10%">应用代码</th>
                                <th width="10%">应用类别</th>
                                <th width="10%">是否开通</th>
                                <th width="10%">开通日期</th>
                                <th width="10%">访问地址</th>
                                <th width="10%">IP</th>
                                <th width="10%">端口</th>
                                <th width="18%">应用描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="d in biz.dataList" ng-class-odd="'odd'" ng-class-even="'even'">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single"><input type="checkbox"  ng-model="d.checked"  class="checkboxes"/><span></span></label>
                                </td>
                                <td>{{d.appname}}</td>
                                <td>{{d.appcode}}</td>
                                <td>{{d.dict_type}}</td>
                                <td>{{d.dict_open}}</td>
                                <td>{{d.dict_data}}</td>
                                <td>{{d.address}}</td>
                                <td>{{d.ip}}</td>
                                <td>{{d.port}}</td>
                                <td>{{d.dict_des}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--开始table尾部分页以及工具栏-->
                <div class="row" >
                    <div class="col-md-4 col-sm-12">
                        <div class="actions btn-set" style="float: left;">
                            <button type="button" name="back" class="btn btn-primary" ng-click="show_win()"> 新增
                            </button>
                            <button type="button" name="back" class="btn btn-primary" ng-click="show_edit()">  修改
                            </button>
                            <button type="button" name="back" class="btn btn-danger" ng-click="transsetDelAll()"> 删除
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12" >
                        <div class="dataTables_paginate">
                            <div class="pagination-panel">
                                第 <a ng-click="getPerPage()"
                                     class="btn btn-sm default prev" title="Prev"><i
                                    class="fa fa-angle-left"></i></a><input type="text"
                                                                            ng-model="biz.page.currentPage"
                                                                            class="pagination-panel-input form-control input-mini input-inline input-sm"
                                                                            maxlenght="5" style="text-align: center; margin: 0 5px;"><a
                                    ng-click="getPostPage()"
                                    class="btn btn-sm default next" title="Next"><i
                                    class="fa fa-angle-right"></i></a> 页,&nbsp;&nbsp;&nbsp;总<span
                                    class="pagination-panel-total">{{biz.page.totalPages}}</span>页
                            </div>
                        </div>
                        <div class="dataTables_length">
                            <label><span class="seperator">|</span>每页 <select
                                    ng-model="biz.page.itemsperpage"
                                    class="form-control input-xsmall input-sm input-inline" ng-options="i for i in [10,20,50,100,150]">
                            </select> 条</label>
                        </div>
                        <div class="dataTables_info" role="status" aria-live="polite">
                            <span class="seperator">|</span>总计{{biz.page.totalItems}}
                            条
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12"></div>
                </div>
                <!--结束table尾部分页以及工具栏-->
            </div>
        </div>
        <div class="portlet light portlet-fit portlet-datatable bordered" ng-if='biz.apptab'>
            <div class="portlet-body portlet light">
                <!-- 应用页签-->
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="!tabflag">
                    <li ng-class="{true:'active',false:''}[yyflag.yyxx]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[yyflag.yyxx]" ng-click="yyflag.loadgwdata(0)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>应用信息
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[yyflag.gnzlb]">
                        <a  data-toggle="tab" href ng-class="{true:'link',false:''}[yyflag.gnzlb]" ng-click="yyflag.loadgwdata(1)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>功能组列表
                        </a>
                    </li>
                </ul>
                <!--应用页签结束-->
                <!-- 应用信息开始 -->
                <div class="tab-content portlet light clearfix "   ng-if="yyflag.yyxx">
                    <div class="col-md-12" ng-form="bigform">
                        <div class="portlet-body portlet light" style="height:100%">
                            <div class="tab-content portlet light">
                                <form action="#" name="myform" class="form-horizontal" style="height: 100%">
                                    <div class="form-body">
                                        <!--/row-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 应用名称:<span ng-class="{required:myform.dict_key.$invalid}"  > * </span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" ng-model="dictionaryAdd.item.appname"
                                                           required
                                                           name="dict_key"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 应用代码: <span   ng-class="{required:myform.dicts_kesy.$invalid}" >* </span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           required  ng-model="dictionaryAdd.item.appcode"
                                                           name="dicts_kesy"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 应用类别: </label>
                                                <div class="col-md-8">
                                                    <select class="form-control"  name="dict_type" ng-model="dictionaryAdd.item.dict_type" name="dict_type">
                                                        <option value=""></option>
                                                        <option value="0">本地</option>
                                                        <option value="1">远程</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 是否开通: </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" name="dict_open" ng-model="dictionaryAdd.item.dict_open">
                                                        <option value=""></option>
                                                        <option value="s">是</option>
                                                        <option value="a">否</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 开通日期: </label>
                                                <div class="col-md-8">
                                                    <input class="input-appAdd" style="" type="date" ng-model="dictionaryAdd.item.data">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> IP: </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           name="table_name" ng-model="dictionaryAdd.item.ip"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 访问地址: </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           name="column_name" ng-model="dictionaryAdd.item.address"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"> 端口: </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           name="column_name" ng-model="dictionaryAdd.item.port"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-2"> 应用描述: </label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control"
                                                           ng-model="dictionaryAdd.item.des"
                                                           name="dict_name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align: center">
                                            <button type="button" name="back"  class="btn btn-primary" ng-if="bigform.$invalid == false"  ng-disabled="bigform.$invalid" popover-trigger="mouseenter" ng-click="saveDict(dictionaryAdd)" > 保存
                                            </button>
                                            <button type="button" name="back" class="btn default" ng-if="bigform.$invalid == true"  ng-disabled="bigform.$invalid" popover-trigger="mouseenter" > 保存
                                            </button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 应用信息结束-->
                <!-- 功能组列表开始-->
                <div class="tab-content portlet light clearfix"  ng-show="yyflag.gnzlb">
                    <div class="col-md-12">
                        <div class="portlet-body portlet light">
                            <div class="portlet-body">
                                    <div class="table-container">
                                        <table class="table table-striped table-bordered table-hover table-checkable">
                                            <thead>
                                            <tr role="row" class="heading">
                                                <th width="8%" class="table-checkbox">
                                                    <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single"><input type="checkbox" class="group-checkable" ng-model="headcheck" ng-click="biz.checkAll(!headcheck)"/><span></span>
                                                    </label>
                                                </th>
                                                <th width="23%">功能组名称</th>
                                                <th width="23%">节点层次</th>
                                                <th width="23%">功能组序号</th>
                                                <th width="23%">是否叶子节点</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat = 'd in appcom.dataList' ng-class-odd="'odd'" ng-class-even="'even'">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single"><input type="checkbox"  ng-model="d.checked"  class="checkboxes"/><span></span></label>
                                                </td>
                                                <td>{{d.renzhen}}</td>
                                                <td>{{d.nodestrs}}</td>
                                                <td>{{d.appxh}}</td>
                                                <td>{{d.isnodes}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--开始table尾部分页以及工具栏-->
                                <div class="row" >
                                    <div class="col-md-4 col-sm-12">
                                        <div class="actions btn-set" style="float: left;">
                                            <button type="button" name="back" class="btn btn-primary" ng-click="addApp()"> 新增
                                            </button>
                                            <button type="button" name="back" class="btn btn-primary" ng-click="show_edit()">  修改
                                            </button>
                                            <button type="button" name="back" class="btn btn-danger" ng-click="transsetDelAll()"> 删除
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12" >
                                        <div class="dataTables_paginate">
                                            <div class="pagination-panel">
                                                第 <a ng-click="getPerPage()"
                                                     class="btn btn-sm default prev" title="Prev"><i
                                                    class="fa fa-angle-left"></i></a><input type="text"
                                                                                            ng-model="biz.page.currentPage"
                                                                                            class="pagination-panel-input form-control input-mini input-inline input-sm"
                                                                                            maxlenght="5" style="text-align: center; margin: 0 5px;"><a
                                                    ng-click="getPostPage()"
                                                    class="btn btn-sm default next" title="Next"><i
                                                    class="fa fa-angle-right"></i></a> 页,&nbsp;&nbsp;&nbsp;总<span
                                                    class="pagination-panel-total">{{biz.page.totalPages}}</span>页
                                            </div>
                                        </div>
                                        <div class="dataTables_length">
                                            <label><span class="seperator">|</span>每页 <select
                                                    ng-model="biz.page.itemsperpage"
                                                    class="form-control input-xsmall input-sm input-inline" ng-options="i for i in [10,20,50,100,150]">
                                            </select> 条</label>
                                        </div>
                                        <div class="dataTables_info" role="status" aria-live="polite">
                                            <span class="seperator">|</span>总计{{biz.page.totalItems}}
                                            条
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12"></div>
                                </div>
                                <!--结束table尾部分页以及工具栏-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 功能组列表结束-->
            </div>
        </div>
    </div>
</div>