<!-- 应用功能管理 -->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">权限</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">应用功能管理</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="bigform">
    <div class="col-md-12" >
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <!-- 组织机构树 start -->
                    <div class="col-md-3">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">应用功能管理</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="reload">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body"  style="overflow-y:hidden;">
                                <form id="s">
                                    <input type="search" id="q"/>
                                    <button type="submit">检索</button>
                                </form>
                                <div id="container" style="margin-top: 20px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 组织机构树 end -->
                    <div class="col-md-9">
                        <!-- 右侧展示页面 start -->
                        <div class="portlet light portlet-fit portlet-datatable bordered"  ng-if='biz.applica'>
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-shopping-cart"></i> 应用列表 </div>
                            </div>
                            <div class="portlet-body" style="min-height:500px; height: 100%" >
                                <div class="table-container">
                                    <div ui-grid="gridOptions0"
                                         ui-grid-pagination
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top:12px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="show_win()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="show_edit(4)">  修改
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="transsetDelAll()"> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet light portlet-fit portlet-datatable bordered" style="height: 100%" ng-if='biz.apptab'>
                            <div class="portlet-body portlet light">
                                <!-- 应用页签-->
                                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="!tabflag">
                                    <li ng-class="{true:'active',false:''}[yyflag.yyxx]">
                                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[yyflag.yyxx]" ng-click="yyflag.loadgwdata(0)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>应用信息
                                        </a>
                                    </li>
                                    <li ng-class="{true:'active',false:''}[yyflag.gnzlb]">
                                        <a  data-toggle="tab" href ng-class="{true:'link',false:''}[yyflag.gnzlb]" ng-click="yyflag.loadgwdata(1)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>功能组列表
                                        </a>
                                    </li>
                                </ul>
                                <!--应用页签结束-->
                                <!-- 应用信息开始 -->
                                <div class="tab-content portlet light clearfix "   ng-if="yyflag.yyxx">
                                    <div class="col-md-12" ng-form="bigform" style="padding-left: 0px;">
                                        <div class="portlet-body portlet light">
                                            <div class="tab-content portlet light">
                                                <form action="#" name="myform" class="form-horizontal">
                                                    <div class="form-body">
                                                        <!--/row-->
                                                        <div class="col-md-12 col-lg-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 应用名称:<span ng-class="{required:myform.dict_key.$invalid}"  > * </span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" ng-model="dictionaryAdd.appName"
                                                                           required
                                                                           name="dict_key" ng-disabled="!editflag"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 应用代码: <span   ng-class="{required:myform.dicts_kesy.$invalid}" >* </span></label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control"
                                                                           required  ng-model="dictionaryAdd.appCode"
                                                                           name="dicts_kesy" ng-disabled="!editflag"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 应用类别: </label>
                                                                <div class="col-md-8">
                                                                    <select class="form-control"  name="dict_type" ng-model="dictionaryAdd.appType" name="dict_type" ng-disabled="!editflag">
                                                                        <option value=""></option>
                                                                        <option value="0">本地</option>
                                                                        <option value="1">远程</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 是否开通: </label>
                                                                <div class="col-md-8">
                                                                    <select class="form-control" name="dict_open" ng-model="dictionaryAdd.isOpen" ng-disabled="!editflag">
                                                                        <option value=""></option>
                                                                        <option value="s">是</option>
                                                                        <option value="a">否</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> IP: </label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control"
                                                                           name="table_name" ng-model="dictionaryAdd.ipAddr"  ng-disabled="!editflag"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 访问地址: </label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control"
                                                                           name="column_name" ng-model="dictionaryAdd.url" ng-disabled="!editflag" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 端口: </label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control"
                                                                           name="column_name" ng-model="dictionaryAdd.ipPort"  ng-disabled="!editflag"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4"> 开通日期: </label>
                                                                <div class="col-md-8">
                                                                    <div class="input-group date form_datetime" ng-init="$root.settings.utils.initpicker()"  ng-disabled="!editflag" >
                                                                            <span class="input-group-btn">
                                                                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                                            </span>
                                                                        <input type="text" class="form-control" ng-model="dictionaryAdd.openDateStr" readonly/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-lg-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-lg-2"> 应用描述: </label>
                                                                <div class="col-md-8 col-lg-10">
                                                                    <input type="text" class="form-control"
                                                                           ng-model="dictionaryAdd.appDesc"
                                                                           name="dict_name"  ng-disabled="!editflag"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 " style="text-align: center">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-2"></label>
                                                                <div class="col-md-10">
                                                                    <div class="actions btn-set" style="float: right;" ng-if="!editflag">
                                                                        <button type="button" name="back" class="btn btn-primary" ng-click="biz.appedit(dictionaryAdd)"> 编辑机构
                                                                        </button>
                                                                    </div>
                                                                    <div class="actions btn-set" style="float: right;" ng-if="editflag">
                                                                        <button type="button" name="back"  class="btn btn-primary" ng-if="bigform.$invalid == false"  ng-disabled="bigform.$invalid" popover-trigger="mouseenter" ng-click="biz.appsave(dictionaryAdd)" > 保存
                                                                        </button>
                                                                        <button type="button" name="back" class="btn default" ng-if="bigform.$invalid == true"  ng-disabled="bigform.$invalid" popover-trigger="mouseenter" > 保存
                                                                        </button>
                                                                        <button type="button" name="back" class="btn btn-danger" ng-click="biz.edit()"> 取消
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 应用信息结束-->
                                <!-- 功能组列表开始-->
                                <div class="table-container" ng-if="yyflag.gnzlb">
                                    <div ui-grid="gridOptions1"
                                          ui-grid-pagination
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right;margin-top: 12px;;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="addApp()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="exidApp(4)">  修改
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="funlistDel()"> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- 功能组列表结束-->
                        </div>
                        <div class="portlet light portlet-fit portlet-datatable bordered"style="height: 100%" ng-if='biz.appchild'>
                            <div class="portlet-body portlet light">
                                <!-- 子功能页签-->
                                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="!tabflag">
                                    <li ng-class="{true:'active',false:''}[childflag.gnzxx]">
                                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[childflag.gnzxx]" ng-click="childflag.loadgwdata(0)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>功能组信息
                                        </a>
                                    </li>
                                    <li ng-class="{true:'active',false:''}[childflag.zgnzlb]">
                                        <a  data-toggle="tab" href ng-class="{true:'link',false:''}[childflag.zgnzlb]" ng-click="childflag.loadgwdata(1)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>子功能组列表
                                        </a>
                                    </li>
                                    <li ng-class="{true:'active',false:''}[childflag.gnlb]">
                                        <a  data-toggle="tab" href ng-class="{true:'link',false:''}[childflag.gnlb]" ng-click="childflag.loadgwdata(2)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>功能列表
                                        </a>
                                    </li>
                                </ul>
                                <!--子功能页签结束-->
                                <div class="tab-content portlet light clearfix "   ng-if="childflag.gnzxx">
                                    <div class="portlet-body portlet light">
                                        <form action="#" name="myform" class="form-horizontal ">
                                            <div class="form-body ">
                                                <div class="col-md-6" >
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">功能组名称 </label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control"
                                                                   ng-model="dictionaryAdd.funcgroupName"
                                                                   name="id"  ng-disabled="!editsflag"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-md-6" >
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">所属功能组</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" name="dict_open" ng-model="dictionaryAdd.appfunction" ng-disabled="!editsflag">
                                                                <option value=""></option>
                                                                <option value="s">功能组一</option>
                                                                <option value="a">功能组二</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>-->
                                                <div class="col-md-6" >
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">节点层次 </label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control"
                                                                   ng-model="dictionaryAdd.groupLevel"
                                                                   name="id"  ng-disabled="!editsflag"/>
                                                        </div>
                                                    </div>
                                                </div>
                                     <!--           <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2"></label>
                                                        <div class="col-md-10">
                                                            <div class="actions btn-set" style="float: right;">
                                                                <button type="button" name="back" class="btn btn-primary" ng-click="addchild(childFrom)"> 保存
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
-->
                                                <div class="col-md-12 " style="text-align: center">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2"></label>
                                                        <div class="col-md-10">
                                                            <div class="actions btn-set" style="float: right;" ng-if="!editsflag">
                                                                <button type="button" name="back" class="btn btn-primary" ng-click="biz.addschild(childFrom)"> 编辑机构
                                                                </button>
                                                            </div>
                                                            <div class="actions btn-set" style="float: right;" ng-if="editsflag">
                                                                <button type="button" name="back"  class="btn btn-primary" ng-if="bigform.$invalid == false"  ng-disabled="bigform.$invalid" popover-trigger="mouseenter" ng-click="biz.functionsave()" > 保存
                                                                </button>
                                                                <button type="button" name="back" class="btn default" ng-if="bigform.$invalid == true"  ng-disabled="bigform.$invalid" popover-trigger="mouseenter" > 保存
                                                                </button>
                                                                <button type="button" name="back" class="btn btn-danger" ng-click="biz.childsEdit()"> 取消
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 功能组信息结束-->
                                <!-- 应用信息结束-->
                                <!-- 子功能组列表-->
                                <div class="tab-content portlet light" ng-if="childflag.zgnzlb">
                                    <div ui-grid="gridOptions2"
                                          ui-grid-pagination
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top: 15px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="addchildApp()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="exidchildApp(4)"> 编辑
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="appchildDelAll()"> 删除
                                        </button>
                                    </div>
                                </div>
                                <!-- 子功能组列表结束-->
                                <!-- 功能列表-->
                                <div class="tab-content portlet light" ng-if="childflag.gnlb">
                                    <div ui-grid="gridOptions3"
                                          ui-grid-pagination
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top: 15px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="addappList()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="exitappList(4)"> 编辑
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="exitapplistDelAll()"> 删除
                                        </button>
                                    </div>
                                </div>
                                <!-- 功能列表-->
                            </div>
                        </div>
                        <div class="portlet light portlet-fit portlet-datatable bordered" style="height: 100%;" ng-if='biz.appfund'>
                            <div class="portlet-body portlet light">
                                <!-- 底层功能页签-->
                                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="!tabflag">
                                    <li ng-class="{true:'active',false:''}[appfunflag.gnlist]">
                                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[appfunflag.gnlist]" ng-click="appfunflag.loadgwdata(0)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>功能信息
                                        </a>
                                    </li>
                                    <li ng-class="{true:'active',false:''}[appfunflag.zylist]">
                                        <a  data-toggle="tab" href ng-class="{true:'link',false:''}[appfunflag.zylist]" ng-click="appfunflag.loadgwdata(1)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>资源信息
                                        </a>
                                    </li>
                                    <li ng-class="{true:'active',false:''}[appfunflag.gnactive]">
                                        <a  data-toggle="tab" href ng-class="{true:'link',false:''}[appfunflag.gnactive]" ng-click="appfunflag.loadgwdata(2)">
                                            <i class="green ace-icon fa fa-bars bigger-120"></i>功能类型及行为
                                        </a>
                                    </li>
                                </ul>
                                <!--底层功能页签结束-->
                                <!-- 应用信息结束-->
                                <!-- 子功能组列表-->
                                <div class="tab-content portlet light clearfix" ng-if="appfunflag.gnlist">
                                    <form action="#" name="myform" class="form-horizontal ">
                                        <div class="form-body ">
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">功能名称<span ng-class="{required:myform.dict_key.$invalid}"  >* </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="dictionaryAdd.funcName" required
                                                               name="dict_key" ng-disabled="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">功能编码<span ng-class="{required:myform.dict_key1.$invalid}"  >* </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="dictionaryAdd.funcCode" required
                                                               name="dict_key1" ng-disabled="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">功能类型</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name="dict_open" ng-model="dictionaryAdd.funcType" ng-disabled="!editflag">
                                                            <option value="s" selected>页面流</option>
                                                            <option value="a">测试功能</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">是否定义为菜单</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name="dict_open" ng-model="dictionaryAdd.ismenu" ng-disabled="!editflag">
                                                            <option value="n" selected>否</option>
                                                            <option value="s">是</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">功能调用入口</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control"
                                                               ng-model="dictionaryAdd.funcAction"
                                                               name="id" ng-disabled="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">输入参数</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control"
                                                               ng-model="dictionaryAdd.paraInfo"
                                                               name="id" ng-disabled="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">功能描述</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control"
                                                               ng-model="dictionaryAdd.funcDesc"
                                                               name="id" ng-disabled="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2"></label>
                                                    <div class="col-md-10">
                                                        <div class="actions btn-set" style="float: right;" ng-if="!editflag">
                                                            <button type="button" name="back" class="btn btn-primary" ng-click="biz.appedit(appFrom)"> 编辑机构
                                                            </button>
                                                        </div>
                                                        <div class="actions btn-set" style="float: right;" ng-if="editflag">
                                                            <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="biz.appsave(appFrom)" > 保存
                                                            </button>
                                                            <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 保存
                                                            </button>
                                                            <button type="button" name="back" class="btn btn-danger" ng-click="biz.appedit()"> 取消
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 子功能组列表结束-->
                                <!-- 功能列表-->
                                <div class="tab-content portlet light clearfix" ng-if="appfunflag.zylist">
                                    <form action="#" name="myform" class="form-horizontal ">
                                        <div class="form-body ">
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">资源类型</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name="dict_open" ng-model="resourcesFrom.type" ng-disabled="!editflag">
                                                            <option value="p" selected>页面流</option>
                                                            <option value="l">逻辑流</option>
                                                            <option value="j">JSP</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">资源路径</label>
                                                    <div class="col-md-8">
                                                        <!-- 默认设置成只读属性-->
                                                        <input type="text" class="form-control" ng-model="resourcesFrom.path" name="id" ng-readonly="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">所属构建包</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="resourcesFrom.compackname"
                                                               name="id" ng-readonly="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">显示名称</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="resourcesFrom.shownae"
                                                               name="id"  ng-readonly="!editflag"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2"></label>
                                                    <div class="col-md-10">
                                                        <div class="actions btn-set" style="float: right;" ng-if="!editflag">
                                                            <button type="button" name="back" class="btn btn-primary" ng-click="biz.edit()"> 编辑机构
                                                            </button>
                                                        </div>
                                                        <div class="actions btn-set" style="float: right;" ng-if="editflag">
                                                            <button type="button" name="back" class="btn btn-primary" ng-click="biz.save()"> 保存
                                                            </button>

                                                            <button type="button" name="back" class="btn btn-danger" ng-click="biz.edit()"> 取消
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 功能列表-->
                                <!-- 功能行为-->
                                <div class="tab-content portlet light" ng-if="appfunflag.gnactive">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs font-green-sharp"></i>
                                                        <span class="caption-subject font-green-sharp bold uppercase">功能类型</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="tab-content portlet light" >
                                                        <div ui-grid="gridOption4"
                                                             ui-grid-pagination
                                                             ui-grid-selection ui-grid-resize-columns></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 右侧显示-->
                                        <div class="col-md-7 portlet light" style="height:100%;" ng-if="biz.active">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs font-green-sharp"></i>
                                                    <span class="caption-subject font-green-sharp bold uppercase">功能操作行为</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content portlet light" >
                                                    <div ui-grid="gridOptions5"
                                                        ui-grid-pagination
                                                         ui-grid-selection ui-grid-resize-columns></div>
                                                    <div class="actions btn-set" style="float: right; margin-top: 20px;">
                                                        <button type="button" name="back" class="btn btn-primary" ng-click="biz.sesave()"> 保存
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 功能行为-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>





