<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.ac.AcEntityMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcEntity">
	    INSERT INTO AC_ENTITY 
	    (
	    	 guid
	    	,guid_app
	    	,entity_name
	    	,table_name
	    	,entity_desc
	    	,display_order
	    	,entity_type
	    	,isadd
	    	,isdel
	    	,ismodify
	    	,isview
	    	,ispage
	    	,page_len
	    	,check_ref
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_app,jdbcType=varchar},
			#{entity_name,jdbcType=varchar},
			#{table_name,jdbcType=varchar},
			#{entity_desc,jdbcType=varchar},
			#{display_order,jdbcType=decimal},
			#{entity_type,jdbcType=varchar},
			#{isadd,jdbcType=char},
			#{isdel,jdbcType=char},
			#{ismodify,jdbcType=char},
			#{isview,jdbcType=char},
			#{ispage,jdbcType=char},
			#{page_len,jdbcType=decimal},
			#{check_ref,jdbcType=varchar}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcEntity">
    	UPDATE AC_ENTITY 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_app != null" >
			guid_app = #{guid_app,jdbcType=varchar},
		</if>
		<if test="entity_name != null" >
			entity_name = #{entity_name,jdbcType=varchar},
		</if>
		<if test="table_name != null" >
			table_name = #{table_name,jdbcType=varchar},
		</if>
		<if test="entity_desc != null" >
			entity_desc = #{entity_desc,jdbcType=varchar},
		</if>
		<if test="display_order != null" >
			display_order = #{display_order,jdbcType=decimal},
		</if>
		<if test="entity_type != null" >
			entity_type = #{entity_type,jdbcType=varchar},
		</if>
		<if test="isadd != null" >
			isadd = #{isadd,jdbcType=char},
		</if>
		<if test="isdel != null" >
			isdel = #{isdel,jdbcType=char},
		</if>
		<if test="ismodify != null" >
			ismodify = #{ismodify,jdbcType=char},
		</if>
		<if test="isview != null" >
			isview = #{isview,jdbcType=char},
		</if>
		<if test="ispage != null" >
			ispage = #{ispage,jdbcType=char},
		</if>
		<if test="page_len != null" >
			page_len = #{page_len,jdbcType=decimal},
		</if>
		<if test="check_ref != null" >
			check_ref = #{check_ref,jdbcType=varchar}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcEntity">
    	UPDATE AC_ENTITY 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_app = #{guid_app,jdbcType=varchar},
		entity_name = #{entity_name,jdbcType=varchar},
		table_name = #{table_name,jdbcType=varchar},
		entity_desc = #{entity_desc,jdbcType=varchar},
		display_order = #{display_order,jdbcType=decimal},
		entity_type = #{entity_type,jdbcType=varchar},
		isadd = #{isadd,jdbcType=char},
		isdel = #{isdel,jdbcType=char},
		ismodify = #{ismodify,jdbcType=char},
		isview = #{isview,jdbcType=char},
		ispage = #{ispage,jdbcType=char},
		page_len = #{page_len,jdbcType=decimal},
		check_ref = #{check_ref,jdbcType=varchar}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_ENTITY where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_ENTITY <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_ENTITY 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_app != null" >
        	guid_app = #{domain.guid_app,jdbcType=varchar}
      	</if>
		<if test="domain.entity_name != null" >
        	entity_name = #{domain.entity_name,jdbcType=varchar}
      	</if>
		<if test="domain.table_name != null" >
        	table_name = #{domain.table_name,jdbcType=varchar}
      	</if>
		<if test="domain.entity_desc != null" >
        	entity_desc = #{domain.entity_desc,jdbcType=varchar}
      	</if>
		<if test="domain.display_order != null" >
        	display_order = #{domain.display_order,jdbcType=decimal}
      	</if>
		<if test="domain.entity_type != null" >
        	entity_type = #{domain.entity_type,jdbcType=varchar}
      	</if>
		<if test="domain.isadd != null" >
        	isadd = #{domain.isadd,jdbcType=char}
      	</if>
		<if test="domain.isdel != null" >
        	isdel = #{domain.isdel,jdbcType=char}
      	</if>
		<if test="domain.ismodify != null" >
        	ismodify = #{domain.ismodify,jdbcType=char}
      	</if>
		<if test="domain.isview != null" >
        	isview = #{domain.isview,jdbcType=char}
      	</if>
		<if test="domain.ispage != null" >
        	ispage = #{domain.ispage,jdbcType=char}
      	</if>
		<if test="domain.page_len != null" >
        	page_len = #{domain.page_len,jdbcType=decimal}
      	</if>
		<if test="domain.check_ref != null" >
        	check_ref = #{domain.check_ref,jdbcType=varchar}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcEntity">
		select <include refid="Base_Column_List"/> from AC_ENTITY where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcEntity" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_ENTITY <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_ENTITY <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_app
		,entity_name
		,table_name
		,entity_desc
		,display_order
		,entity_type
		,isadd
		,isdel
		,ismodify
		,isview
		,ispage
		,page_len
		,check_ref
	</sql>
</mapper>