<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.ac.AcFuncResourceMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
	    INSERT INTO AC_FUNC_RESOURCE 
	    (
	    	 guid
	    	,guid_func
	    	,res_type
	    	,res_path
	    	,compack_name
	    	,res_show_name
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_func,jdbcType=varchar},
			#{res_type,jdbcType=varchar},
			#{res_path,jdbcType=varchar},
			#{compack_name,jdbcType=varchar},
			#{res_show_name,jdbcType=varchar}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
    	UPDATE AC_FUNC_RESOURCE 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_func != null" >
			guid_func = #{guid_func,jdbcType=varchar},
		</if>
		<if test="res_type != null" >
			res_type = #{res_type,jdbcType=varchar},
		</if>
		<if test="res_path != null" >
			res_path = #{res_path,jdbcType=varchar},
		</if>
		<if test="compack_name != null" >
			compack_name = #{compack_name,jdbcType=varchar},
		</if>
		<if test="res_show_name != null" >
			res_show_name = #{res_show_name,jdbcType=varchar}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcFuncResource">
    	UPDATE AC_FUNC_RESOURCE 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_func = #{guid_func,jdbcType=varchar},
		res_type = #{res_type,jdbcType=varchar},
		res_path = #{res_path,jdbcType=varchar},
		compack_name = #{compack_name,jdbcType=varchar},
		res_show_name = #{res_show_name,jdbcType=varchar}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_FUNC_RESOURCE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_FUNC_RESOURCE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_FUNC_RESOURCE 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_func != null" >
        	guid_func = #{domain.guid_func,jdbcType=varchar}
      	</if>
		<if test="domain.res_type != null" >
        	res_type = #{domain.res_type,jdbcType=varchar}
      	</if>
		<if test="domain.res_path != null" >
        	res_path = #{domain.res_path,jdbcType=varchar}
      	</if>
		<if test="domain.compack_name != null" >
        	compack_name = #{domain.compack_name,jdbcType=varchar}
      	</if>
		<if test="domain.res_show_name != null" >
        	res_show_name = #{domain.res_show_name,jdbcType=varchar}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcFuncResource">
		select <include refid="Base_Column_List"/> from AC_FUNC_RESOURCE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcFuncResource" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_FUNC_RESOURCE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_FUNC_RESOURCE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_func
		,res_type
		,res_path
		,compack_name
		,res_show_name
	</sql>
</mapper>