<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.ac.AcMenuMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.ac.AcMenu">
	    INSERT INTO AC_MENU 
	    (
	    	 guid
	    	,guid_app
	    	,guid_func
	    	,menu_name
	    	,menu_label
	    	,menu_code
	    	,isleaf
	    	,ui_entry
	    	,menu_level
	    	,guid_parents
	    	,guid_root
	    	,display_order
	    	,image_path
	    	,expand_path
	    	,menu_seq
	    	,open_mode
	    	,sub_count
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_app,jdbcType=varchar},
			#{guid_func,jdbcType=varchar},
			#{menu_name,jdbcType=varchar},
			#{menu_label,jdbcType=varchar},
			#{menu_code,jdbcType=varchar},
			#{isleaf,jdbcType=char},
			#{ui_entry,jdbcType=varchar},
			#{menu_level,jdbcType=decimal},
			#{guid_parents,jdbcType=varchar},
			#{guid_root,jdbcType=varchar},
			#{display_order,jdbcType=decimal},
			#{image_path,jdbcType=varchar},
			#{expand_path,jdbcType=varchar},
			#{menu_seq,jdbcType=varchar},
			#{open_mode,jdbcType=varchar},
			#{sub_count,jdbcType=decimal}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.ac.AcMenu">
    	UPDATE AC_MENU 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_app != null" >
			guid_app = #{guid_app,jdbcType=varchar},
		</if>
		<if test="guid_func != null" >
			guid_func = #{guid_func,jdbcType=varchar},
		</if>
		<if test="menu_name != null" >
			menu_name = #{menu_name,jdbcType=varchar},
		</if>
		<if test="menu_label != null" >
			menu_label = #{menu_label,jdbcType=varchar},
		</if>
		<if test="menu_code != null" >
			menu_code = #{menu_code,jdbcType=varchar},
		</if>
		<if test="isleaf != null" >
			isleaf = #{isleaf,jdbcType=char},
		</if>
		<if test="ui_entry != null" >
			ui_entry = #{ui_entry,jdbcType=varchar},
		</if>
		<if test="menu_level != null" >
			menu_level = #{menu_level,jdbcType=decimal},
		</if>
		<if test="guid_parents != null" >
			guid_parents = #{guid_parents,jdbcType=varchar},
		</if>
		<if test="guid_root != null" >
			guid_root = #{guid_root,jdbcType=varchar},
		</if>
		<if test="display_order != null" >
			display_order = #{display_order,jdbcType=decimal},
		</if>
		<if test="image_path != null" >
			image_path = #{image_path,jdbcType=varchar},
		</if>
		<if test="expand_path != null" >
			expand_path = #{expand_path,jdbcType=varchar},
		</if>
		<if test="menu_seq != null" >
			menu_seq = #{menu_seq,jdbcType=varchar},
		</if>
		<if test="open_mode != null" >
			open_mode = #{open_mode,jdbcType=varchar},
		</if>
		<if test="sub_count != null" >
			sub_count = #{sub_count,jdbcType=decimal}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.ac.AcMenu">
    	UPDATE AC_MENU 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_app = #{guid_app,jdbcType=varchar},
		guid_func = #{guid_func,jdbcType=varchar},
		menu_name = #{menu_name,jdbcType=varchar},
		menu_label = #{menu_label,jdbcType=varchar},
		menu_code = #{menu_code,jdbcType=varchar},
		isleaf = #{isleaf,jdbcType=char},
		ui_entry = #{ui_entry,jdbcType=varchar},
		menu_level = #{menu_level,jdbcType=decimal},
		guid_parents = #{guid_parents,jdbcType=varchar},
		guid_root = #{guid_root,jdbcType=varchar},
		display_order = #{display_order,jdbcType=decimal},
		image_path = #{image_path,jdbcType=varchar},
		expand_path = #{expand_path,jdbcType=varchar},
		menu_seq = #{menu_seq,jdbcType=varchar},
		open_mode = #{open_mode,jdbcType=varchar},
		sub_count = #{sub_count,jdbcType=decimal}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_MENU where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_MENU <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_MENU 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_app != null" >
        	guid_app = #{domain.guid_app,jdbcType=varchar}
      	</if>
		<if test="domain.guid_func != null" >
        	guid_func = #{domain.guid_func,jdbcType=varchar}
      	</if>
		<if test="domain.menu_name != null" >
        	menu_name = #{domain.menu_name,jdbcType=varchar}
      	</if>
		<if test="domain.menu_label != null" >
        	menu_label = #{domain.menu_label,jdbcType=varchar}
      	</if>
		<if test="domain.menu_code != null" >
        	menu_code = #{domain.menu_code,jdbcType=varchar}
      	</if>
		<if test="domain.isleaf != null" >
        	isleaf = #{domain.isleaf,jdbcType=char}
      	</if>
		<if test="domain.ui_entry != null" >
        	ui_entry = #{domain.ui_entry,jdbcType=varchar}
      	</if>
		<if test="domain.menu_level != null" >
        	menu_level = #{domain.menu_level,jdbcType=decimal}
      	</if>
		<if test="domain.guid_parents != null" >
        	guid_parents = #{domain.guid_parents,jdbcType=varchar}
      	</if>
		<if test="domain.guid_root != null" >
        	guid_root = #{domain.guid_root,jdbcType=varchar}
      	</if>
		<if test="domain.display_order != null" >
        	display_order = #{domain.display_order,jdbcType=decimal}
      	</if>
		<if test="domain.image_path != null" >
        	image_path = #{domain.image_path,jdbcType=varchar}
      	</if>
		<if test="domain.expand_path != null" >
        	expand_path = #{domain.expand_path,jdbcType=varchar}
      	</if>
		<if test="domain.menu_seq != null" >
        	menu_seq = #{domain.menu_seq,jdbcType=varchar}
      	</if>
		<if test="domain.open_mode != null" >
        	open_mode = #{domain.open_mode,jdbcType=varchar}
      	</if>
		<if test="domain.sub_count != null" >
        	sub_count = #{domain.sub_count,jdbcType=decimal}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.ac.AcMenu">
		select <include refid="Base_Column_List"/> from AC_MENU where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.ac.AcMenu" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_MENU <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_MENU <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_app
		,guid_func
		,menu_name
		,menu_label
		,menu_code
		,isleaf
		,ui_entry
		,menu_level
		,guid_parents
		,guid_root
		,display_order
		,image_path
		,expand_path
		,menu_seq
		,open_mode
		,sub_count
	</sql>
</mapper>