<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.sys.SysChannelCtlMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.sys.SysChannelCtl">
	    INSERT INTO SYS_CHANNEL_CTL 
	    (
	    	 guid
	    	,chn_code
	    	,chn_name
	    	,chn_remark
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{chnCode,jdbcType=VARCHAR},
			#{chnName,jdbcType=VARCHAR},
			#{chnRemark,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.sys.SysChannelCtl">
    	UPDATE SYS_CHANNEL_CTL 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="chnCode != null" >
			chn_code = #{chnCode,jdbcType=VARCHAR},
		</if>
		<if test="chnName != null" >
			chn_name = #{chnName,jdbcType=VARCHAR},
		</if>
		<if test="chnRemark != null" >
			chn_remark = #{chnRemark,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.sys.SysChannelCtl">
    	UPDATE SYS_CHANNEL_CTL 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		chn_code = #{chnCode,jdbcType=VARCHAR},
		chn_name = #{chnName,jdbcType=VARCHAR},
		chn_remark = #{chnRemark,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from SYS_CHANNEL_CTL where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from SYS_CHANNEL_CTL <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE SYS_CHANNEL_CTL 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR},
      	</if>
		<if test="domain.chnCode != null" >
        	chn_code = #{domain.chnCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.chnName != null" >
        	chn_name = #{domain.chnName,jdbcType=VARCHAR},
      	</if>
		<if test="domain.chnRemark != null" >
        	chn_remark = #{domain.chnRemark,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.sys.SysChannelCtl">
		select <include refid="Base_Column_List"/> from SYS_CHANNEL_CTL where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.sys.SysChannelCtl" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from SYS_CHANNEL_CTL <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from SYS_CHANNEL_CTL <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as `guid`
		,chn_code as `chnCode`
		,chn_name as `chnName`
		,chn_remark as `chnRemark`
	</sql>
</mapper>