<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.sys.SysDictItemMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.sys.SysDictItem">
	    INSERT INTO SYS_DICT_ITEM 
	    (
	    	 guid
	    	,guid_dict
	    	,item_name
	    	,item_value
	    	,send_value
	    	,seqno
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_dict,jdbcType=varchar},
			#{item_name,jdbcType=varchar},
			#{item_value,jdbcType=varchar},
			#{send_value,jdbcType=varchar},
			#{seqno,jdbcType=decimal}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.sys.SysDictItem">
    	UPDATE SYS_DICT_ITEM 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_dict != null" >
			guid_dict = #{guid_dict,jdbcType=varchar},
		</if>
		<if test="item_name != null" >
			item_name = #{item_name,jdbcType=varchar},
		</if>
		<if test="item_value != null" >
			item_value = #{item_value,jdbcType=varchar},
		</if>
		<if test="send_value != null" >
			send_value = #{send_value,jdbcType=varchar},
		</if>
		<if test="seqno != null" >
			seqno = #{seqno,jdbcType=decimal}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.sys.SysDictItem">
    	UPDATE SYS_DICT_ITEM 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_dict = #{guid_dict,jdbcType=varchar},
		item_name = #{item_name,jdbcType=varchar},
		item_value = #{item_value,jdbcType=varchar},
		send_value = #{send_value,jdbcType=varchar},
		seqno = #{seqno,jdbcType=decimal}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from SYS_DICT_ITEM where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from SYS_DICT_ITEM <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE SYS_DICT_ITEM 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_dict != null" >
        	guid_dict = #{domain.guid_dict,jdbcType=varchar}
      	</if>
		<if test="domain.item_name != null" >
        	item_name = #{domain.item_name,jdbcType=varchar}
      	</if>
		<if test="domain.item_value != null" >
        	item_value = #{domain.item_value,jdbcType=varchar}
      	</if>
		<if test="domain.send_value != null" >
        	send_value = #{domain.send_value,jdbcType=varchar}
      	</if>
		<if test="domain.seqno != null" >
        	seqno = #{domain.seqno,jdbcType=decimal}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.sys.SysDictItem">
		select <include refid="Base_Column_List"/> from SYS_DICT_ITEM where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.sys.SysDictItem" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from SYS_DICT_ITEM <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from SYS_DICT_ITEM <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_dict
		,item_name
		,item_value
		,send_value
		,seqno
	</sql>
</mapper>