<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.sys.SysErrCodeMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.sys.SysErrCode">
	    INSERT INTO SYS_ERR_CODE 
	    (
	    	 guid
	    	,errcode_kind
	    	,err_code
	    	,err_msg
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{errcodeKind,jdbcType=CHAR},
			#{errCode,jdbcType=VARCHAR},
			#{errMsg,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.sys.SysErrCode">
    	UPDATE SYS_ERR_CODE 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="errcodeKind != null" >
			errcode_kind = #{errcodeKind,jdbcType=CHAR},
		</if>
		<if test="errCode != null" >
			err_code = #{errCode,jdbcType=VARCHAR},
		</if>
		<if test="errMsg != null" >
			err_msg = #{errMsg,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.sys.SysErrCode">
    	UPDATE SYS_ERR_CODE 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		errcode_kind = #{errcodeKind,jdbcType=CHAR},
		err_code = #{errCode,jdbcType=VARCHAR},
		err_msg = #{errMsg,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from SYS_ERR_CODE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from SYS_ERR_CODE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE SYS_ERR_CODE 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR}
      	</if>
		<if test="domain.errcode_kind != null" >
        	errcode_kind = #{domain.errcodeKind,jdbcType=CHAR}
      	</if>
		<if test="domain.err_code != null" >
        	err_code = #{domain.errCode,jdbcType=VARCHAR}
      	</if>
		<if test="domain.err_msg != null" >
        	err_msg = #{domain.errMsg,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.sys.SysErrCode">
		select <include refid="Base_Column_List"/> from SYS_ERR_CODE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.sys.SysErrCode" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from SYS_ERR_CODE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from SYS_ERR_CODE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as guid
		,errcode_kind as errcodeKind
		,err_code as errCode
		,err_msg as errMsg
	</sql>
</mapper>