<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.sys.SysTestMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.sys.SysTest">
	    INSERT INTO SYS_TEST 
	    (
	    	 test_bigint
	    	,test_gibintn
	    	,test_char
	    	,test_charn
	    	,test_date
	    	,test_datetime
	    	,test_decimal
	    	,test_decimalp
	    	,test_decimalps
	    	,test_double
	    	,test_doublemd
	    	,test_float
	    	,test_floatp
	    	,test_floatmd
	    	,test_int
	    	,test_intn
	    	,test_time
	    	,test_timestamp
	    	,test_varcharn
	    	,tset_text
	    	,test_blob
	    )
	    VALUES 
	    (
			#{test_bigint,jdbcType=bigint},
			#{test_gibintn,jdbcType=bigint},
			#{test_char,jdbcType=char},
			#{test_charn,jdbcType=char},
			#{test_date,jdbcType=date},
			#{test_datetime,jdbcType=datetime},
			#{test_decimal,jdbcType=decimal},
			#{test_decimalp,jdbcType=decimal},
			#{test_decimalps,jdbcType=decimal},
			#{test_double,jdbcType=double},
			#{test_doublemd,jdbcType=double},
			#{test_float,jdbcType=float},
			#{test_floatp,jdbcType=float},
			#{test_floatmd,jdbcType=float},
			#{test_int,jdbcType=int},
			#{test_intn,jdbcType=int},
			#{test_time,jdbcType=time},
			#{test_timestamp,jdbcType=timestamp},
			#{test_varcharn,jdbcType=varchar},
			#{tset_text,jdbcType=text},
			#{test_blob,jdbcType=blob}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.sys.SysTest">
    	UPDATE SYS_TEST 
	    <set>
		<if test="test_bigint != null" >
			test_bigint = #{test_bigint,jdbcType=bigint},
		</if>
		<if test="test_gibintn != null" >
			test_gibintn = #{test_gibintn,jdbcType=bigint},
		</if>
		<if test="test_char != null" >
			test_char = #{test_char,jdbcType=char},
		</if>
		<if test="test_charn != null" >
			test_charn = #{test_charn,jdbcType=char},
		</if>
		<if test="test_date != null" >
			test_date = #{test_date,jdbcType=date},
		</if>
		<if test="test_datetime != null" >
			test_datetime = #{test_datetime,jdbcType=datetime},
		</if>
		<if test="test_decimal != null" >
			test_decimal = #{test_decimal,jdbcType=decimal},
		</if>
		<if test="test_decimalp != null" >
			test_decimalp = #{test_decimalp,jdbcType=decimal},
		</if>
		<if test="test_decimalps != null" >
			test_decimalps = #{test_decimalps,jdbcType=decimal},
		</if>
		<if test="test_double != null" >
			test_double = #{test_double,jdbcType=double},
		</if>
		<if test="test_doublemd != null" >
			test_doublemd = #{test_doublemd,jdbcType=double},
		</if>
		<if test="test_float != null" >
			test_float = #{test_float,jdbcType=float},
		</if>
		<if test="test_floatp != null" >
			test_floatp = #{test_floatp,jdbcType=float},
		</if>
		<if test="test_floatmd != null" >
			test_floatmd = #{test_floatmd,jdbcType=float},
		</if>
		<if test="test_int != null" >
			test_int = #{test_int,jdbcType=int},
		</if>
		<if test="test_intn != null" >
			test_intn = #{test_intn,jdbcType=int},
		</if>
		<if test="test_time != null" >
			test_time = #{test_time,jdbcType=time},
		</if>
		<if test="test_timestamp != null" >
			test_timestamp = #{test_timestamp,jdbcType=timestamp},
		</if>
		<if test="test_varcharn != null" >
			test_varcharn = #{test_varcharn,jdbcType=varchar},
		</if>
		<if test="tset_text != null" >
			tset_text = #{tset_text,jdbcType=text},
		</if>
		<if test="test_blob != null" >
			test_blob = #{test_blob,jdbcType=blob}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.sys.SysTest">
    	UPDATE SYS_TEST 
	    <set>
		test_bigint = #{test_bigint,jdbcType=bigint},
		test_gibintn = #{test_gibintn,jdbcType=bigint},
		test_char = #{test_char,jdbcType=char},
		test_charn = #{test_charn,jdbcType=char},
		test_date = #{test_date,jdbcType=date},
		test_datetime = #{test_datetime,jdbcType=datetime},
		test_decimal = #{test_decimal,jdbcType=decimal},
		test_decimalp = #{test_decimalp,jdbcType=decimal},
		test_decimalps = #{test_decimalps,jdbcType=decimal},
		test_double = #{test_double,jdbcType=double},
		test_doublemd = #{test_doublemd,jdbcType=double},
		test_float = #{test_float,jdbcType=float},
		test_floatp = #{test_floatp,jdbcType=float},
		test_floatmd = #{test_floatmd,jdbcType=float},
		test_int = #{test_int,jdbcType=int},
		test_intn = #{test_intn,jdbcType=int},
		test_time = #{test_time,jdbcType=time},
		test_timestamp = #{test_timestamp,jdbcType=timestamp},
		test_varcharn = #{test_varcharn,jdbcType=varchar},
		tset_text = #{tset_text,jdbcType=text},
		test_blob = #{test_blob,jdbcType=blob}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from SYS_TEST where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from SYS_TEST <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE SYS_TEST 
	   <set>
		<if test="domain.test_bigint != null" >
        	test_bigint = #{domain.test_bigint,jdbcType=bigint}
      	</if>
		<if test="domain.test_gibintn != null" >
        	test_gibintn = #{domain.test_gibintn,jdbcType=bigint}
      	</if>
		<if test="domain.test_char != null" >
        	test_char = #{domain.test_char,jdbcType=char}
      	</if>
		<if test="domain.test_charn != null" >
        	test_charn = #{domain.test_charn,jdbcType=char}
      	</if>
		<if test="domain.test_date != null" >
        	test_date = #{domain.test_date,jdbcType=date}
      	</if>
		<if test="domain.test_datetime != null" >
        	test_datetime = #{domain.test_datetime,jdbcType=datetime}
      	</if>
		<if test="domain.test_decimal != null" >
        	test_decimal = #{domain.test_decimal,jdbcType=decimal}
      	</if>
		<if test="domain.test_decimalp != null" >
        	test_decimalp = #{domain.test_decimalp,jdbcType=decimal}
      	</if>
		<if test="domain.test_decimalps != null" >
        	test_decimalps = #{domain.test_decimalps,jdbcType=decimal}
      	</if>
		<if test="domain.test_double != null" >
        	test_double = #{domain.test_double,jdbcType=double}
      	</if>
		<if test="domain.test_doublemd != null" >
        	test_doublemd = #{domain.test_doublemd,jdbcType=double}
      	</if>
		<if test="domain.test_float != null" >
        	test_float = #{domain.test_float,jdbcType=float}
      	</if>
		<if test="domain.test_floatp != null" >
        	test_floatp = #{domain.test_floatp,jdbcType=float}
      	</if>
		<if test="domain.test_floatmd != null" >
        	test_floatmd = #{domain.test_floatmd,jdbcType=float}
      	</if>
		<if test="domain.test_int != null" >
        	test_int = #{domain.test_int,jdbcType=int}
      	</if>
		<if test="domain.test_intn != null" >
        	test_intn = #{domain.test_intn,jdbcType=int}
      	</if>
		<if test="domain.test_time != null" >
        	test_time = #{domain.test_time,jdbcType=time}
      	</if>
		<if test="domain.test_timestamp != null" >
        	test_timestamp = #{domain.test_timestamp,jdbcType=timestamp}
      	</if>
		<if test="domain.test_varcharn != null" >
        	test_varcharn = #{domain.test_varcharn,jdbcType=varchar}
      	</if>
		<if test="domain.tset_text != null" >
        	tset_text = #{domain.tset_text,jdbcType=text}
      	</if>
		<if test="domain.test_blob != null" >
        	test_blob = #{domain.test_blob,jdbcType=blob}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.sys.SysTest">
		select <include refid="Base_Column_List"/> from SYS_TEST where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.sys.SysTest" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from SYS_TEST <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from SYS_TEST <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 test_bigint
		,test_gibintn
		,test_char
		,test_charn
		,test_date
		,test_datetime
		,test_decimal
		,test_decimalp
		,test_decimalps
		,test_double
		,test_doublemd
		,test_float
		,test_floatp
		,test_floatmd
		,test_int
		,test_intn
		,test_time
		,test_timestamp
		,test_varcharn
		,tset_text
		,test_blob
	</sql>
</mapper>