<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd 
 		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	   default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>
    
    <!--默认注解映射的支持 -->
	<mvc:annotation-driven >
		<mvc:message-converters>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"/>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!--<mvc:interceptors>
		&lt;!&ndash; 多个拦截器，顺序执行 &ndash;&gt;
		<mvc:interceptor>
			<mvc:mapping path="/**/"/>
			<mvc:exclude-mapping path="/AcAuthenticationController/checkUserStatus"/>
			<mvc:exclude-mapping path="/AcAuthenticationController/login"/>
			<mvc:exclude-mapping path="/AcAuthenticationController/Shirologin"/>
			<bean class="org.tis.tools.webapp.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>-->

	<!--<context:component-scan base-package="org.tis.tools.webapp.controller"/>-->

	<!--<context:component-scan base-package="org.tis.tools.webapp.log"/>-->

    <!-- Activates scanning of @Service -->
    <context:component-scan base-package="org.tis.tools.webapp,org.tis.tools.service,org.tis.tools.rservice"/>
    
     <!-- 引入Dubbo配置 -->



    
</beans>
