
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.tuser.AcFuncgroupMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.tuser.AcFuncgroup">
	    INSERT INTO AC_FUNCGROUP (funcgroupid
  ,appid
  ,funcgroupname
  ,parentgroup
  ,grouplevel
  ,funcgroupseq
  ,isleaf
  ,subcount
  )
	    VALUES (#{funcgroupid,jdbcType=INTEGER},
  #{appid,jdbcType=INTEGER},
  #{funcgroupname,jdbcType=VARCHAR},
  #{parentgroup,jdbcType=INTEGER},
  #{grouplevel,jdbcType=INTEGER},
  #{funcgroupseq,jdbcType=VARCHAR},
  #{isleaf,jdbcType=VARCHAR},
  #{subcount,jdbcType=INTEGER}
  )
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.tuser.AcFuncgroup">
    	UPDATE AC_FUNCGROUP 
	    <set>
		<if test="funcgroupid != null" >
        funcgroupid = #{funcgroupid,jdbcType=INTEGER},
      </if>
		<if test="appid != null" >
        appid = #{appid,jdbcType=INTEGER},
      </if>
		<if test="funcgroupname != null" >
        funcgroupname = #{funcgroupname,jdbcType=VARCHAR},
      </if>
		<if test="parentgroup != null" >
        parentgroup = #{parentgroup,jdbcType=INTEGER},
      </if>
		<if test="grouplevel != null" >
        grouplevel = #{grouplevel,jdbcType=INTEGER},
      </if>
		<if test="funcgroupseq != null" >
        funcgroupseq = #{funcgroupseq,jdbcType=VARCHAR},
      </if>
		<if test="isleaf != null" >
        isleaf = #{isleaf,jdbcType=VARCHAR},
      </if>
		<if test="subcount != null" >
        subcount = #{subcount,jdbcType=INTEGER},
      </if>
	    </set>
	    WHERE id = #{id}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.tuser.AcFuncgroup">
    	UPDATE AC_FUNCGROUP 
	    <set>
        funcgroupid = #{funcgroupid,jdbcType=INTEGER},
        appid = #{appid,jdbcType=INTEGER},
        funcgroupname = #{funcgroupname,jdbcType=VARCHAR},
        parentgroup = #{parentgroup,jdbcType=INTEGER},
        grouplevel = #{grouplevel,jdbcType=INTEGER},
        funcgroupseq = #{funcgroupseq,jdbcType=VARCHAR},
        isleaf = #{isleaf,jdbcType=VARCHAR},
        subcount = #{subcount,jdbcType=INTEGER},
	    </set>
	    WHERE id = #{id}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_FUNCGROUP where id = #{id}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_FUNCGROUP <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_FUNCGROUP 
	   <set>
		<if test="domain.funcgroupid != null" >
        funcgroupid = #{domain.funcgroupid,jdbcType=INTEGER},
      </if>
		<if test="domain.appid != null" >
        appid = #{domain.appid,jdbcType=INTEGER},
      </if>
		<if test="domain.funcgroupname != null" >
        funcgroupname = #{domain.funcgroupname,jdbcType=VARCHAR},
      </if>
		<if test="domain.parentgroup != null" >
        parentgroup = #{domain.parentgroup,jdbcType=INTEGER},
      </if>
		<if test="domain.grouplevel != null" >
        grouplevel = #{domain.grouplevel,jdbcType=INTEGER},
      </if>
		<if test="domain.funcgroupseq != null" >
        funcgroupseq = #{domain.funcgroupseq,jdbcType=VARCHAR},
      </if>
		<if test="domain.isleaf != null" >
        isleaf = #{domain.isleaf,jdbcType=VARCHAR},
      </if>
		<if test="domain.subcount != null" >
        subcount = #{domain.subcount,jdbcType=INTEGER},
      </if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadById" parameterType="String" resultType="org.tis.tools.model.po.tuser.AcFuncgroup">
		select <include refid="Base_Column_List"/> from AC_FUNCGROUP where id = #{id}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.tuser.AcFuncgroup" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_FUNCGROUP <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_FUNCGROUP <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
	  funcgroupid
,appid
,funcgroupname
,parentgroup
,grouplevel
,funcgroupseq
,isleaf
,subcount
	</sql>
</mapper>