
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.tuser.AcFunctionMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.tuser.AcFunction">
	    INSERT INTO AC_FUNCTION (funccode
  ,funcgroupid
  ,funcname
  ,funcdesc
  ,funcaction
  ,parainfo
  ,ischeck
  ,functype
  ,ismenu
  )
	    VALUES (#{funccode,jdbcType=VARCHAR},
  #{funcgroupid,jdbcType=INTEGER},
  #{funcname,jdbcType=VARCHAR},
  #{funcdesc,jdbcType=VARCHAR},
  #{funcaction,jdbcType=VARCHAR},
  #{parainfo,jdbcType=VARCHAR},
  #{ischeck,jdbcType=VARCHAR},
  #{functype,jdbcType=VARCHAR},
  #{ismenu,jdbcType=VARCHAR}
  )
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.tuser.AcFunction">
    	UPDATE AC_FUNCTION 
	    <set>
		<if test="funccode != null" >
        funccode = #{funccode,jdbcType=VARCHAR},
      </if>
		<if test="funcgroupid != null" >
        funcgroupid = #{funcgroupid,jdbcType=INTEGER},
      </if>
		<if test="funcname != null" >
        funcname = #{funcname,jdbcType=VARCHAR},
      </if>
		<if test="funcdesc != null" >
        funcdesc = #{funcdesc,jdbcType=VARCHAR},
      </if>
		<if test="funcaction != null" >
        funcaction = #{funcaction,jdbcType=VARCHAR},
      </if>
		<if test="parainfo != null" >
        parainfo = #{parainfo,jdbcType=VARCHAR},
      </if>
		<if test="ischeck != null" >
        ischeck = #{ischeck,jdbcType=VARCHAR},
      </if>
		<if test="functype != null" >
        functype = #{functype,jdbcType=VARCHAR},
      </if>
		<if test="ismenu != null" >
        ismenu = #{ismenu,jdbcType=VARCHAR},
      </if>
	    </set>
	    WHERE id = #{id}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.tuser.AcFunction">
    	UPDATE AC_FUNCTION 
	    <set>
        funccode = #{funccode,jdbcType=VARCHAR},
        funcgroupid = #{funcgroupid,jdbcType=INTEGER},
        funcname = #{funcname,jdbcType=VARCHAR},
        funcdesc = #{funcdesc,jdbcType=VARCHAR},
        funcaction = #{funcaction,jdbcType=VARCHAR},
        parainfo = #{parainfo,jdbcType=VARCHAR},
        ischeck = #{ischeck,jdbcType=VARCHAR},
        functype = #{functype,jdbcType=VARCHAR},
        ismenu = #{ismenu,jdbcType=VARCHAR},
	    </set>
	    WHERE id = #{id}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_FUNCTION where id = #{id}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_FUNCTION <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_FUNCTION 
	   <set>
		<if test="domain.funccode != null" >
        funccode = #{domain.funccode,jdbcType=VARCHAR},
      </if>
		<if test="domain.funcgroupid != null" >
        funcgroupid = #{domain.funcgroupid,jdbcType=INTEGER},
      </if>
		<if test="domain.funcname != null" >
        funcname = #{domain.funcname,jdbcType=VARCHAR},
      </if>
		<if test="domain.funcdesc != null" >
        funcdesc = #{domain.funcdesc,jdbcType=VARCHAR},
      </if>
		<if test="domain.funcaction != null" >
        funcaction = #{domain.funcaction,jdbcType=VARCHAR},
      </if>
		<if test="domain.parainfo != null" >
        parainfo = #{domain.parainfo,jdbcType=VARCHAR},
      </if>
		<if test="domain.ischeck != null" >
        ischeck = #{domain.ischeck,jdbcType=VARCHAR},
      </if>
		<if test="domain.functype != null" >
        functype = #{domain.functype,jdbcType=VARCHAR},
      </if>
		<if test="domain.ismenu != null" >
        ismenu = #{domain.ismenu,jdbcType=VARCHAR},
      </if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadById" parameterType="String" resultType="org.tis.tools.model.po.tuser.AcFunction">
		select <include refid="Base_Column_List"/> from AC_FUNCTION where id = #{id}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.tuser.AcFunction" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_FUNCTION <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_FUNCTION <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
	  funccode
,funcgroupid
,funcname
,funcdesc
,funcaction
,parainfo
,ischeck
,functype
,ismenu
	</sql>
</mapper>