
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.tuser.AcRolefuncMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.tuser.AcRolefunc">
	    INSERT INTO AC_ROLEFUNC (roleid
  ,funccode
  ,appid
  ,funcgroupid
  )
	    VALUES (#{roleid,jdbcType=VARCHAR},
  #{funccode,jdbcType=VARCHAR},
  #{appid,jdbcType=INTEGER},
  #{funcgroupid,jdbcType=INTEGER}
  )
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.tuser.AcRolefunc">
    	UPDATE AC_ROLEFUNC 
	    <set>
		<if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
		<if test="funccode != null" >
        funccode = #{funccode,jdbcType=VARCHAR},
      </if>
		<if test="appid != null" >
        appid = #{appid,jdbcType=INTEGER},
      </if>
		<if test="funcgroupid != null" >
        funcgroupid = #{funcgroupid,jdbcType=INTEGER},
      </if>
	    </set>
	    WHERE id = #{id}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.tuser.AcRolefunc">
    	UPDATE AC_ROLEFUNC 
	    <set>
        roleid = #{roleid,jdbcType=VARCHAR},
        funccode = #{funccode,jdbcType=VARCHAR},
        appid = #{appid,jdbcType=INTEGER},
        funcgroupid = #{funcgroupid,jdbcType=INTEGER},
	    </set>
	    WHERE id = #{id}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from AC_ROLEFUNC where id = #{id}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from AC_ROLEFUNC <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE AC_ROLEFUNC 
	   <set>
		<if test="domain.roleid != null" >
        roleid = #{domain.roleid,jdbcType=VARCHAR},
      </if>
		<if test="domain.funccode != null" >
        funccode = #{domain.funccode,jdbcType=VARCHAR},
      </if>
		<if test="domain.appid != null" >
        appid = #{domain.appid,jdbcType=INTEGER},
      </if>
		<if test="domain.funcgroupid != null" >
        funcgroupid = #{domain.funcgroupid,jdbcType=INTEGER},
      </if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadById" parameterType="String" resultType="org.tis.tools.model.po.tuser.AcRolefunc">
		select <include refid="Base_Column_List"/> from AC_ROLEFUNC where id = #{id}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.tuser.AcRolefunc" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from AC_ROLEFUNC <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from AC_ROLEFUNC <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
	  roleid
,funccode
,appid
,funcgroupid
	</sql>
</mapper>