
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.tuser.TbUserMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.tuser.TbUser">
	    INSERT INTO tb_user (id
  ,paper_code
  ,course_code
  ,seq_no
  ,paper_name
  ,paper_desc
  ,multi_media_info
  ,time_exam
  ,is_re_exam
  ,times_re_exam
  ,def_per_score
  ,rule_sort_question
  ,rule_sort_answer
  ,feedback_type
  ,expect_fixed
  
  ,delstatus
  ,creatorid
  ,creatorname
  ,creatorcode
  ,creatoridpath
  ,creatornamepath
  ,creatorcodepath
  ,createtime
  ,modifiedtime
  ,ext0
  ,ext1
  )
	    VALUES (#{id,jdbcType=VARCHAR},
  #{paper_code,jdbcType=VARCHAR},
  #{course_code,jdbcType=VARCHAR},
  #{seq_no,jdbcType=BIGINT},
  #{paper_name,jdbcType=VARCHAR},
  #{paper_desc,jdbcType=VARCHAR},
  #{multi_media_info,jdbcType=VARCHAR},
  #{time_exam,jdbcType=BIGINT},
  #{is_re_exam,jdbcType=VARCHAR},
  #{times_re_exam,jdbcType=BIGINT},
  #{def_per_score,jdbcType=BIGINT},
  #{rule_sort_question,jdbcType=VARCHAR},
  #{rule_sort_answer,jdbcType=VARCHAR},
  #{feedback_type,jdbcType=VARCHAR},
  #{expect_fixed,jdbcType=DECIMAL},
  
  #{delstatus,jdbcType=VARCHAR},
  #{creatorid,jdbcType=VARCHAR},
  #{creatorname,jdbcType=VARCHAR},
  #{creatorcode,jdbcType=VARCHAR},
  #{creatoridpath,jdbcType=VARCHAR},
  #{creatornamepath,jdbcType=VARCHAR},
  #{creatorcodepath,jdbcType=VARCHAR},
  #{createtime,jdbcType=TIMESTAMP},
  #{modifiedtime,jdbcType=TIMESTAMP},
  #{ext0,jdbcType=VARCHAR},
  #{ext1,jdbcType=VARCHAR}
  )
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.tuser.TbUser">
    	UPDATE tb_user 
	    <set>
		<if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
		<if test="paper_code != null" >
        paper_code = #{paper_code,jdbcType=VARCHAR},
      </if>
		<if test="course_code != null" >
        course_code = #{course_code,jdbcType=VARCHAR},
      </if>
		<if test="seq_no != null" >
        seq_no = #{seq_no,jdbcType=BIGINT},
      </if>
		<if test="paper_name != null" >
        paper_name = #{paper_name,jdbcType=VARCHAR},
      </if>
		<if test="paper_desc != null" >
        paper_desc = #{paper_desc,jdbcType=VARCHAR},
      </if>
		<if test="multi_media_info != null" >
        multi_media_info = #{multi_media_info,jdbcType=VARCHAR},
      </if>
		<if test="time_exam != null" >
        time_exam = #{time_exam,jdbcType=BIGINT},
      </if>
		<if test="is_re_exam != null" >
        is_re_exam = #{is_re_exam,jdbcType=VARCHAR},
      </if>
		<if test="times_re_exam != null" >
        times_re_exam = #{times_re_exam,jdbcType=BIGINT},
      </if>
		<if test="def_per_score != null" >
        def_per_score = #{def_per_score,jdbcType=BIGINT},
      </if>
		<if test="rule_sort_question != null" >
        rule_sort_question = #{rule_sort_question,jdbcType=VARCHAR},
      </if>
		<if test="rule_sort_answer != null" >
        rule_sort_answer = #{rule_sort_answer,jdbcType=VARCHAR},
      </if>
		<if test="feedback_type != null" >
        feedback_type = #{feedback_type,jdbcType=VARCHAR},
      </if>
		<if test="expect_fixed != null" >
        expect_fixed = #{expect_fixed,jdbcType=DECIMAL},
      </if>
		<if test="delstatus != null" >
        delstatus = #{delstatus,jdbcType=VARCHAR},
      </if>
		<if test="creatorid != null" >
        creatorid = #{creatorid,jdbcType=VARCHAR},
      </if>
		<if test="creatorname != null" >
        creatorname = #{creatorname,jdbcType=VARCHAR},
      </if>
		<if test="creatorcode != null" >
        creatorcode = #{creatorcode,jdbcType=VARCHAR},
      </if>
		<if test="creatoridpath != null" >
        creatoridpath = #{creatoridpath,jdbcType=VARCHAR},
      </if>
		<if test="creatornamepath != null" >
        creatornamepath = #{creatornamepath,jdbcType=VARCHAR},
      </if>
		<if test="creatorcodepath != null" >
        creatorcodepath = #{creatorcodepath,jdbcType=VARCHAR},
      </if>
		<if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
		<if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
		<if test="ext0 != null" >
        ext0 = #{ext0,jdbcType=VARCHAR},
      </if>
		<if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
	    </set>
	    WHERE id = #{id}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.tuser.TbUser">
    	UPDATE tb_user 
	    <set>
        id = #{id,jdbcType=VARCHAR},
        paper_code = #{paper_code,jdbcType=VARCHAR},
        course_code = #{course_code,jdbcType=VARCHAR},
        seq_no = #{seq_no,jdbcType=BIGINT},
        paper_name = #{paper_name,jdbcType=VARCHAR},
        paper_desc = #{paper_desc,jdbcType=VARCHAR},
        multi_media_info = #{multi_media_info,jdbcType=VARCHAR},
        time_exam = #{time_exam,jdbcType=BIGINT},
        is_re_exam = #{is_re_exam,jdbcType=VARCHAR},
        times_re_exam = #{times_re_exam,jdbcType=BIGINT},
        def_per_score = #{def_per_score,jdbcType=BIGINT},
        rule_sort_question = #{rule_sort_question,jdbcType=VARCHAR},
        rule_sort_answer = #{rule_sort_answer,jdbcType=VARCHAR},
        feedback_type = #{feedback_type,jdbcType=VARCHAR},
        expect_fixed = #{expect_fixed,jdbcType=DECIMAL},
        delstatus = #{delstatus,jdbcType=VARCHAR},
        creatorid = #{creatorid,jdbcType=VARCHAR},
        creatorname = #{creatorname,jdbcType=VARCHAR},
        creatorcode = #{creatorcode,jdbcType=VARCHAR},
        creatoridpath = #{creatoridpath,jdbcType=VARCHAR},
        creatornamepath = #{creatornamepath,jdbcType=VARCHAR},
        creatorcodepath = #{creatorcodepath,jdbcType=VARCHAR},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
        ext0 = #{ext0,jdbcType=VARCHAR},
        ext1 = #{ext1,jdbcType=VARCHAR},
	    </set>
	    WHERE id = #{id}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from tb_user where id = #{id}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from tb_user <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE tb_user 
	   <set>
		<if test="domain.id != null" >
        id = #{domain.id,jdbcType=VARCHAR},
      </if>
		<if test="domain.paper_code != null" >
        paper_code = #{domain.paper_code,jdbcType=VARCHAR},
      </if>
		<if test="domain.course_code != null" >
        course_code = #{domain.course_code,jdbcType=VARCHAR},
      </if>
		<if test="domain.seq_no != null" >
        seq_no = #{domain.seq_no,jdbcType=BIGINT},
      </if>
		<if test="domain.paper_name != null" >
        paper_name = #{domain.paper_name,jdbcType=VARCHAR},
      </if>
		<if test="domain.paper_desc != null" >
        paper_desc = #{domain.paper_desc,jdbcType=VARCHAR},
      </if>
		<if test="domain.multi_media_info != null" >
        multi_media_info = #{domain.multi_media_info,jdbcType=VARCHAR},
      </if>
		<if test="domain.time_exam != null" >
        time_exam = #{domain.time_exam,jdbcType=BIGINT},
      </if>
		<if test="domain.is_re_exam != null" >
        is_re_exam = #{domain.is_re_exam,jdbcType=VARCHAR},
      </if>
		<if test="domain.times_re_exam != null" >
        times_re_exam = #{domain.times_re_exam,jdbcType=BIGINT},
      </if>
		<if test="domain.def_per_score != null" >
        def_per_score = #{domain.def_per_score,jdbcType=BIGINT},
      </if>
		<if test="domain.rule_sort_question != null" >
        rule_sort_question = #{domain.rule_sort_question,jdbcType=VARCHAR},
      </if>
		<if test="domain.rule_sort_answer != null" >
        rule_sort_answer = #{domain.rule_sort_answer,jdbcType=VARCHAR},
      </if>
		<if test="domain.feedback_type != null" >
        feedback_type = #{domain.feedback_type,jdbcType=VARCHAR},
      </if>
		<if test="domain.expect_fixed != null" >
        expect_fixed = #{domain.expect_fixed,jdbcType=DECIMAL},
      </if>
		<if test="domain.delstatus != null" >
        delstatus = #{domain.delstatus,jdbcType=VARCHAR},
      </if>
		<if test="domain.creatorid != null" >
        creatorid = #{domain.creatorid,jdbcType=VARCHAR},
      </if>
		<if test="domain.creatorname != null" >
        creatorname = #{domain.creatorname,jdbcType=VARCHAR},
      </if>
		<if test="domain.creatorcode != null" >
        creatorcode = #{domain.creatorcode,jdbcType=VARCHAR},
      </if>
		<if test="domain.creatoridpath != null" >
        creatoridpath = #{domain.creatoridpath,jdbcType=VARCHAR},
      </if>
		<if test="domain.creatornamepath != null" >
        creatornamepath = #{domain.creatornamepath,jdbcType=VARCHAR},
      </if>
		<if test="domain.creatorcodepath != null" >
        creatorcodepath = #{domain.creatorcodepath,jdbcType=VARCHAR},
      </if>
		<if test="domain.createtime != null" >
        createtime = #{domain.createtime,jdbcType=TIMESTAMP},
      </if>
		<if test="domain.modifiedtime != null" >
        modifiedtime = #{domain.modifiedtime,jdbcType=TIMESTAMP},
      </if>
		<if test="domain.ext0 != null" >
        ext0 = #{domain.ext0,jdbcType=VARCHAR},
      </if>
		<if test="domain.ext1 != null" >
        ext1 = #{domain.ext1,jdbcType=VARCHAR},
      </if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadById" parameterType="String" resultType="org.tis.tools.model.po.tuser.TbUser">
		select <include refid="Base_Column_List"/> from tb_user where id = #{id}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.tuser.TbUser" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from tb_user <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from tb_user <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
	  id
,paper_code
,course_code
,seq_no
,paper_name
,paper_desc
,multi_media_info
,time_exam
,is_re_exam
,times_re_exam
,def_per_score
,rule_sort_question
,rule_sort_answer
,feedback_type
,expect_fixed

,delstatus
,creatorid
,creatorname
,creatorcode
,creatoridpath
,creatornamepath
,creatorcodepath
,createtime
,modifiedtime
,ext0
,ext1
	</sql>
</mapper>