<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#/">
            <img src="../assets/layouts/layout/img/governor.png" alt="logo" class="logo-default" /> </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>

    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
        </div>
    </form>

    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
    </a>
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-extended dropdown-inbox">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-settings"></i>
                </a>
                <ul class="dropdown-menu">
                    <!--<li class="external">
                        <h3>You have
                            <span class="bold">7 New</span> Messages</h3>
                        <a href="#/profile/dashboard">view all</a>
                    </li>-->
                    <li>
                        <div data-ng-include="'tpl/theme-panel.html'" ng-controller="ThemePanelController"  style="top: -35px;right: -23px;" class="theme-panel hidden-xs hidden-sm"> </div>
                    </li>
                </ul>

            </li>
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <!--<span class="username username-hide-on-mobile"> {{login.userInfo.user_name}} </span>-->
                    <span class="username username-hide-on-mobile"> <i class="icon-user" style="color:blue;"></i> {{userId}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="javascript:;"  ng-click="information()"  >
                            <i class="icon-user"></i> 用户信息 </a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="improved()">
                            <i class="icon-key"></i>改密</a>
                    </li>
                    <li>
                        <a href="#" ng-click="logout()">
                            <i class="icon-power"></i> 退出 </a>
                    </li>
                    <li >
                        <a href="#/operstatus.html">
                            <i class="icon-user-follow"></i> 设置身份 </a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="opermenus()">
                            <i class="icon-list"></i> 重组菜单 </a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="personalise()">
                            <i class="fa fa-lg fa-gears"></i> 个性化配置 </a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
