<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="sidebar-search-wrapper">
            <form class="sidebar-search sidebar-search-bordered" action="#" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchParam" ng-change="search(searchParam)">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
        </li>
        <li class="start nav-item">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
     <!--   <li class="start nav-item">
            <a href="javascript:;">
                <i class="fa fa-cubes"></i>
                <span class="title">应用管理</span>
            </a>
            <ul class="sub-menu">
                <li class="start nav-item">
                    <a href="javascript:;" style="height: 41px;line-height: 31px;" class="nav-link nav-toggle">
                        <i class="fa fa-university"></i>
                        <span class="title">组织机构管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/abftree.html">
                                <i class="icon-puzzle"></i>组织机构</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/Emp.html">
                                <i class="icon-puzzle"></i>员工管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/busiorg.html">
                                <i class="icon-puzzle"></i>业务机构</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/Workgroup.html">
                                <i class="icon-puzzle"></i>工作组</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/duty.html">
                                <i class="icon-puzzle"></i>职务定义</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="start nav-item">
                    <a href="javascript:;" style="height: 41px;line-height: 31px;" class="nav-link nav-toggle">
                        <i class="fa fa-lock"></i>
                        <span class="title">权限管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/applicationFun.html">
                                <i class="icon-puzzle"></i>应用功能管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/menuManagement.html">
                                <i class="icon-puzzle"></i>菜单管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-puzzle"></i>数据形体管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-puzzle"></i>数据范围管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/behavior.html">
                                <i class="icon-puzzle"></i>功能行为类型定义</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/roleManagement.html">
                                <i class="icon-puzzle"></i>角色管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="start nav-item">
                    <a href="javascript:;" style="height: 41px;line-height: 31px;" class="nav-link nav-toggle">
                        <i class=" icon-user"></i>
                        <span class="title">操作员管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/opManage.html">
                                <i class="icon-puzzle"></i>操作员管理</span>
                            </a>
                        </li>
                        &lt;!&ndash;<li>
                            <a href="#/roleConfig.html">
                                <i class="icon-puzzle"></i>个性化配置</span>
                            </a>
                        </li>&ndash;&gt;
                        <li>
                            <a href="#/Reorganizemenu.html">
                                <i class="icon-puzzle"></i>重组菜单</span>
                            </a>
                        </li>
                        &lt;!&ndash;<li>
                            <a href="#/shortcutMenu.html">
                                <i class="icon-puzzle"></i>快捷菜单</span>
                            </a>
                        </li>&ndash;&gt;
                        <li>
                            <a href="javascript:;">
                                <i class="icon-puzzle"></i>特殊权限</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/operstatus.html">
                                <i class="icon-puzzle"></i>操作员身份</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="start nav-item">
                    <a href="javascript:;" style="height: 41px;line-height: 31px;" class="nav-link nav-toggle">
                        <i class="fa fa-asterisk"></i>
                        <span class="title">其他管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/dictionary.html">
                                <i class="fa fa-fax"></i>业务字典</span>
                            </a>
                        </li>
                        <li>
                             <a href="#/numberResources.html">
                                 <i class="fa fa-fax"></i>序号资源表管理</span>
                             </a>
                        </li>
                        <li>
                            <a href="#/Systempara.html">
                                <i class="fa fa-fax"></i>系统运行参数</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>-->


        <li class="nav-item" ng-repeat="d in menusAndTrans track by $index" ng-if="!d.menu_guid || (d.sons && d.sons.length > 0)">
            <a href="#/{{d.uientry}}" ng-if="!d.menu_guid">
                <i ng-class="{true : '{{d.expand_path}}',false:'icon-settings' }[d.expand_path!=null && d.expand_path !='']"></i><span ng-bind-html="d.menu_label | highlightTrust2Html : searchParam: '#F0F0F0'"></span>
            </a>
            <a href="javascript:;" class="nav-link nav-toggle" ng-if="d.menu_guid">
                <i ng-class="{true : '{{d.expand_path}}',false:'icon-settings' }[d.expand_path!=null && d.icon !='']"></i><span ng-bind-html="d.menu_label | highlightTrust2Html : searchParam: '#F0F0F0'"></span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu" ng-if="d.menu_guid && d.sons && d.sons.length > 0">
                <li class="nav-item" ng-repeat="p in d.sons track by $index" ng-if="(p.parents_guid && p.parents_guid == d.menu_guid) || (p.menu_label && p.parents_guid == d.menu_guid)">
                    <a href="#/{{p.uientry}}" ng-if="!p.menu_guid">
                        <i ng-class="{true : '{{p.expand_path}}',false:'icon-settings' }[p.expand_path!=null && p.expand_path !='']"></i><span ng-bind-html="p.menu_label | highlightTrust2Html : searchParam: '#F0F0F0'"></span>
                    </a>
                    <a href="javascript:;"  class="nav-link nav-toggle" ng-if="p.menu_guid">
                        <i ng-class="{true : '{{p.expand_path}}',false:'icon-settings' }[p.expand_path!=null && p.expand_path !='']"></i><span ng-bind-html="p.menu_label | highlightTrust2Html : searchParam: '#F0F0F0'"></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" ng-if="p.menu_guid && p.sons && p.sons.length > 0">
                        <li ng-repeat="p1 in p.sons track by $index" ng-if="p1.parents_guid == p.menu_guid">
                            <a href="#/{{p1.uientry}}">
                                <i ng-class="{true : '{{p1.expand_path}}',false:'icon-settings' }[p1.expand_path!=null && p1.expand_path !='']"></i><span ng-bind-html="p1.menu_label | highlightTrust2Html : searchParam: '#F0F0F0'"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>