<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">组织管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">职务定义</a>
        </li>
        <li ng-if="title != ''">
            <i class="fa fa-circle"></i>
            <a href="#">当前节点:{{title}}</a>
        </li>
    </ul>
</div>
<div class="row">
    <!-- 职务树 start -->
    <div class="col-md-3">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">职务定义</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="reload"  ng-click="jstreereload()">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form id="s">
                    <input type="search" id="search"  ng-model="searchitem"/>
                    <button type="submit" ng-click="duty.clear()">清空</button>
                </form>
                <div id="dutytree" ng-show="showtree"></div>
                <div id="searchtree" ng-show="!showtree"></div>
            </div>
        </div>
    </div>
    <!-- 职务树 end -->
    <div class="col-md-9 portlet-body portlet light">
        <!-- 首页列表页签 -->
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="tabflag">
            <li ng-class="{true:'active',false:''}[true]">
                <a id="tab-list" data-toggle="tab" href ng-class="{true:'link',false:''}[true]" ng-click="">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>职务列表
                </a>
            </li>
        </ul>
        <!-- 首页列表页签结束 -->
        <!-- 职务套别下职务列表 -->
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="!tabflag">
            <li ng-class="{true:'active',false:''}[flag.xqxx]">
                <a  data-toggle="tab" href ng-class="{true:'link',false:''}[flag.xqxx]" ng-click="duty.loaddata(0)">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>职务基本信息
                </a>
            </li>
            <li ng-class="{true:'active',false:''}[flag.xjzw]">
                <a  data-toggle="tab" href ng-class="{true:'link',false:''}[flag.xjzw]" ng-click="duty.loaddata(1)">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>下级职务
                </a>
            </li>
            <li ng-class="{true:'active',false:''}[flag.zwry]">
                <a  data-toggle="tab" href ng-class="{true:'link',false:''}[flag.zwry]" ng-click="duty.loaddata(2)">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>职务人员
                </a>
            </li>
            <li ng-class="{true:'active',false:''}[flag.zwqx]">
                <a  data-toggle="tab" href ng-class="{true:'link',false:''}[flag.zwqx]" ng-click="duty.loaddata(3)">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>职务权限
                </a>
            </li>
        </ul>
        <!-- 职务套别下职务列表结束 -->
        <!--机构列表-->
        <div class="tab-content portlet light" ng-if="tabflag">
            <div ui-grid="dutygrid"  class="grid"
                 ui-grid-edit ui-grid-pagination
                 ui-grid-selection ui-grid-resize-columns></div>
            <div class="actions btn-set" style="float: right;">
                <span ng-if="showdoc">编辑职务套别,请至其他管理-业务字典处</span>
                <button type="button" name="back" class="btn btn-primary" ng-click="duty.toDict()" ng-mouseover="duty.showdoc()" ng-mouseleave="duty.showdoc()"> 维护职务套别
                </button>
                <button ng-if="addflag" type="button" name="back" class="btn btn-primary" ng-click="duty.addzw()"> 新增职务
                </button>
                <button type="button" name="back" class="btn btn-primary" ng-click="duty.editzw()"> 编辑职务
                </button>
                <button type="button" name="back" class="btn btn-danger" ng-click="duty.deletezw()"> 删除职务
                </button>
            </div>
        </div>
        <!--机构列表end-->
        <!--详情信息start-->
        <div class="tab-content portlet light" ng-if="flag.xqxx">
            <form action="#" name="myform" class="form-horizontal clear" ng-if="!editflag">
                <div class="form-body portlet light">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">父职务:<span style="color:red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"    translate-constants comtable="DUTY"
                                       ng-model="duty.item.guidParents"
                                       readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">职务套别:<span style="color:red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" translate-constants comtable="DICT_OM_DUTYTYPE"
                                       ng-model="duty.item.dutyType"
                                       name="id" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">职务代码:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="duty.item.dutyCode"
                                       name="id" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">职务名称:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="duty.item.dutyName"
                                       name="id" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">备注:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control"
                                       ng-model="duty.item.remark"
                                       name="id" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">

                                <div class="actions btn-set" style="float: right;">
                                    <button type="button" name="back" class="btn btn-primary" ng-disabled="bigform.$invalid" ng-click="duty.editduty()"> 编辑
                                    </button>
                                    <button type="button" name="back" class="btn btn-danger" ng-click="duty.history()"> 查看概况
                                    </button>
                                    <button type="button" name="back" class="btn btn-danger" ng-click="duty.deleteduty()"> 删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form action="#" name="myform" class="form-horizontal clear" ng-if="editflag">
                <div class="form-body portlet light">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">职务名称:<span style="color:red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="subFrom.dutyName"
                                       name="id" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">备注:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control"
                                       ng-model="subFrom.remark"
                                       name="id" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">

                                <div class="actions btn-set" style="float: right;">
                                    <button type="button" name="back" class="btn btn-primary" ng-disabled="bigform.$invalid" ng-click="duty.save()"> 保存
                                    </button>

                                    <button type="button" name="back" class="btn btn-danger" ng-click="duty.editduty()"> 返回
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--详情信息end-->
        <!--下级机构-->
        <div class="tab-content portlet light" ng-if="flag.xjzw">
            <div ui-grid="xjzwgrid"   class="grid"
                 ui-grid-edit ui-grid-pagination
                 ui-grid-selection ui-grid-resize-columns></div>
            <div class="actions btn-set" style="float: right;">
                <button type="button" name="back" class="btn btn-primary" ng-click="duty.addxjzw()"> 新增
                </button>
                <button type="button" name="back" class="btn btn-primary" ng-click="duty.editxjzw()"> 编辑
                </button>
                <button type="button" name="back" class="btn btn-danger" ng-click="duty.deletexjzw()"> 删除
                </button>
            </div>
        </div>
        <!--下级机构end-->
        <!--职务人员-->
        <div class="tab-content portlet light" ng-if="flag.zwry">
            <div ui-grid="zwrygrid"   class="grid"
                 ui-grid-edit ui-grid-pagination
                 ui-grid-selection ui-grid-resize-columns></div>
            <div class="actions btn-set" style="float: right;">
                维护相关人员信息,请至组织机构-岗位维护界面!
            </div>
        </div>
        <!--职务人员-->
        <!--职务权限-->
        <div class="tab-content portlet light" ng-if="flag.zwqx">
            <div>
                <div class="portlet-body form col-md-12">
                    <!-- BEGIN FORM-->
                    <div style="" class="col-md-6">
                        <!--<select  id='myselect' multiple='multiple'>-->
                        <!--<option ng-repeat="d in allrole track by $index" value="{{d.guid}}">{{d.roleName}}</option>-->
                        <!--</select>-->
                        <div class="actions btn-set col-md-12">
                            <button type="button" name="back" class="btn btn-danger" style="float: right;"
                                    ng-click="deleteRole('duty')"> 删除
                            </button>
                        </div>
                        <div class="actions btn-set col-md-12">
                            <div ui-grid="alrolegird"  class="grid"
                                 ui-grid-edit ui-grid-pagination
                                 ui-grid-selection style="height:200px;">
                            </div>
                        </div>
                    </div>
                    <div style="" class="col-md-6">
                        <div class="actions btn-set col-md-12">
                            <button style="float: right;" type="button" name="back" class="btn btn-primary"
                                    ng-click="addRole('duty')"> 新增
                            </button>
                        </div>
                        <div class="actions btn-set col-md-12">
                            <div ui-grid="notrolegird"   class="grid"
                                 ui-grid-edit ui-grid-pagination
                                 ui-grid-selection style="height:200px;">
                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->
                    <div class="portlet-body col-md-12">
                        <div ui-grid="mygrid"   class="grid"
                             ui-grid-edit ui-grid-pagination
                             ui-grid-selection>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--职业权限end-->
    </div>
</div>