<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">其他管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">系统运行参数</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="sysform">
    <div class="col-md-12" >
        <div class="portlet light">
            <div class="portlet-body">
                <div ui-grid="gridOptions"  class="grid"
                     ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns>
                </div>
                <div class="actions btn-set" style="float: right; margin-top:12px;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="sys.add()"> 新增
                    </button>
                    <button type="button" name="back" class="btn btn-primary" ng-click="sys.edit(4)">  修改
                    </button>
                    <button type="button" name="back" class="btn btn-primary" ng-click="sys.histroy()">  查看概况
                    </button>
                    <button type="button" name="back" class="btn btn-danger" ng-click="sys.del()"> 删除
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>