<!DOCTYPE html>
<head>
<body class=" page-404-3">
<div class="container error-404">
    <div class="col-md-12" style="visibility:hidden">
        <div class="col-md-6">
            <h1>404</h1>
            <h2>Houston, we have a problem.</h2>
            <p> Actually, the page you are looking for does not exist. </p>
            <p>
                <a href="index.html" class="btn red btn-outline"> Return home </a>
                <br> </p>
        </div>
        <div class="col-md-6">
            <h1>404</h1>
            <h2>Houston, we have a problem.</h2>
            <p> Actually, the page you are looking for does not exist. </p>
            <p>
                <a href="index.html" class="btn red btn-outline"> Return home </a>
                <br> </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <img src="../assets/global/img/KpnpchXsobRgLElEozzI.svg" alt="">
        </div>
        <div class="col-md-6">
            <h1>404</h1>
            <h2>抱歉，你访问的页面不存在</h2>
            <p> Actually, the page you are looking for does not exist.. </p>
            <p><button ng-click="backhome()" class="btn btn-primary">返回首页</button></p>
        </div>
    </div>
</div>

</body>

</html>