<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">首页</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="note note-info">
        <h3>欢迎使用后台管理系统!非常棒的全业务平台管理系统!
            <span class="close" data-close="note"></span>
        </h3>
        <p>
            本后台管理系统帮助业务人员管理全流程业务，拥有非常棒的用户体验，采用全新的技术框架平台，满足用户的管理业务需求！
            <br/>
            <br/>
            <span class="label label-danger">注意:</span> 请使用IE8+以上版本,谷歌chrome,火狐firefox浏览器</span>
        </p>
    </div>

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->