<!--快捷菜单页面-->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">操作员</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">快捷菜单</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="bigform">
    <div class="col-md-12" >
        <div class="portlet light">
            <div class="portlet-body">
                <div ui-grid="gridOptions"
                     ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns>
                </div>
                <div class="actions btn-set" style="float: right; margin-top:12px;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="shortcuEdit()">  修改
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

















