<style>
    .reds{
        color:red;
    }
</style>
<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">查看对象值</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet-body portlet light"  id="test">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-advance table-hover" style="margin-top:30px;">
                    <tbody >
                    <thead>
                    <tr>
                        <th>
                            <i class="fa fa-briefcase"></i> 关键值名称
                        </th>
                        <th class="hidden-xs">
                            <i class="fa fa-user"></i> 关键值
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="d in keywords track by $index">
                        <td >
                            <span>{{d.param}}</span>
                        </td>
                        <td >
                            <span>{{d.value}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" ng-if="ischange">
                <table class="table table-striped table-bordered table-advance table-hover" style="margin-top:30px;">
                    <tbody >
                    <thead>
                    <tr>
                        <th>
                            <i class="fa fa-briefcase"></i> 修改的项
                        </th>
                        <th class="hidden-xs">
                            <i class="fa fa-user"></i> 修改前的值
                        </th>
                        <th class="hidden-xs">
                            <i class="fa fa-user"></i> 当前值
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="d in changedata track by $index">
                        <td >
                            <span style="color:red">{{d.changeKey}}</span>
                        </td>
                        <td >
                            <span>{{d.changeValue}}</span>
                        </td>
                        <td >
                            <span>{{d.newValue}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

