<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.jnl.JnlEnqueueMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.jnl.JnlEnqueue">
	    INSERT INTO JNL_ENQUEUE 
	    (
	    	 guid
	    	,guid_cust_service
	    	,service_sno
	    	,enqueue_no
	    	,enqueue_biz_type
	    	,chn_code
	    	,enqueue_in_time
	    	,enqueue_code
	    	,cust_no
	    	,cust_name
	    	,cust_level
	    	,paper_type
	    	,paper_no
	    	,call_teller
	    	,call_time
	    	,call_instno
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{guidCustService,jdbcType=VARCHAR},
			#{serviceSno,jdbcType=VARCHAR},
			#{enqueueNo,jdbcType=INTEGER},
			#{enqueueBizType,jdbcType=VARCHAR},
			#{chnCode,jdbcType=VARCHAR},
			#{enqueueInTime,jdbcType=VARCHAR},
			#{enqueueCode,jdbcType=VARCHAR},
			#{custNo,jdbcType=VARCHAR},
			#{custName,jdbcType=VARCHAR},
			#{custLevel,jdbcType=VARCHAR},
			#{paperType,jdbcType=CHAR},
			#{paperNo,jdbcType=VARCHAR},
			#{callTeller,jdbcType=VARCHAR},
			#{callTime,jdbcType=VARCHAR},
			#{callInstno,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.jnl.JnlEnqueue">
    	UPDATE JNL_ENQUEUE 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="guidCustService != null" >
			guid_cust_service = #{guidCustService,jdbcType=VARCHAR},
		</if>
		<if test="serviceSno != null" >
			service_sno = #{serviceSno,jdbcType=VARCHAR},
		</if>
		<if test="enqueueNo != null" >
			enqueue_no = #{enqueueNo,jdbcType=INTEGER},
		</if>
		<if test="enqueueBizType != null" >
			enqueue_biz_type = #{enqueueBizType,jdbcType=VARCHAR},
		</if>
		<if test="chnCode != null" >
			chn_code = #{chnCode,jdbcType=VARCHAR},
		</if>
		<if test="enqueueInTime != null" >
			enqueue_in_time = #{enqueueInTime,jdbcType=VARCHAR},
		</if>
		<if test="enqueueCode != null" >
			enqueue_code = #{enqueueCode,jdbcType=VARCHAR},
		</if>
		<if test="custNo != null" >
			cust_no = #{custNo,jdbcType=VARCHAR},
		</if>
		<if test="custName != null" >
			cust_name = #{custName,jdbcType=VARCHAR},
		</if>
		<if test="custLevel != null" >
			cust_level = #{custLevel,jdbcType=VARCHAR},
		</if>
		<if test="paperType != null" >
			paper_type = #{paperType,jdbcType=CHAR},
		</if>
		<if test="paperNo != null" >
			paper_no = #{paperNo,jdbcType=VARCHAR},
		</if>
		<if test="callTeller != null" >
			call_teller = #{callTeller,jdbcType=VARCHAR},
		</if>
		<if test="callTime != null" >
			call_time = #{callTime,jdbcType=VARCHAR},
		</if>
		<if test="callInstno != null" >
			call_instno = #{callInstno,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.jnl.JnlEnqueue">
    	UPDATE JNL_ENQUEUE 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		guid_cust_service = #{guidCustService,jdbcType=VARCHAR},
		service_sno = #{serviceSno,jdbcType=VARCHAR},
		enqueue_no = #{enqueueNo,jdbcType=INTEGER},
		enqueue_biz_type = #{enqueueBizType,jdbcType=VARCHAR},
		chn_code = #{chnCode,jdbcType=VARCHAR},
		enqueue_in_time = #{enqueueInTime,jdbcType=VARCHAR},
		enqueue_code = #{enqueueCode,jdbcType=VARCHAR},
		cust_no = #{custNo,jdbcType=VARCHAR},
		cust_name = #{custName,jdbcType=VARCHAR},
		cust_level = #{custLevel,jdbcType=VARCHAR},
		paper_type = #{paperType,jdbcType=CHAR},
		paper_no = #{paperNo,jdbcType=VARCHAR},
		call_teller = #{callTeller,jdbcType=VARCHAR},
		call_time = #{callTime,jdbcType=VARCHAR},
		call_instno = #{callInstno,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from JNL_ENQUEUE where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from JNL_ENQUEUE <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE JNL_ENQUEUE 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidCustService != null" >
        	guid_cust_service = #{domain.guidCustService,jdbcType=VARCHAR},
      	</if>
		<if test="domain.serviceSno != null" >
        	service_sno = #{domain.serviceSno,jdbcType=VARCHAR},
      	</if>
		<if test="domain.enqueueNo != null" >
        	enqueue_no = #{domain.enqueueNo,jdbcType=INTEGER},
      	</if>
		<if test="domain.enqueueBizType != null" >
        	enqueue_biz_type = #{domain.enqueueBizType,jdbcType=VARCHAR},
      	</if>
		<if test="domain.chnCode != null" >
        	chn_code = #{domain.chnCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.enqueueInTime != null" >
        	enqueue_in_time = #{domain.enqueueInTime,jdbcType=VARCHAR},
      	</if>
		<if test="domain.enqueueCode != null" >
        	enqueue_code = #{domain.enqueueCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.custNo != null" >
        	cust_no = #{domain.custNo,jdbcType=VARCHAR},
      	</if>
		<if test="domain.custName != null" >
        	cust_name = #{domain.custName,jdbcType=VARCHAR},
      	</if>
		<if test="domain.custLevel != null" >
        	cust_level = #{domain.custLevel,jdbcType=VARCHAR},
      	</if>
		<if test="domain.paperType != null" >
        	paper_type = #{domain.paperType,jdbcType=CHAR},
      	</if>
		<if test="domain.paperNo != null" >
        	paper_no = #{domain.paperNo,jdbcType=VARCHAR},
      	</if>
		<if test="domain.callTeller != null" >
        	call_teller = #{domain.callTeller,jdbcType=VARCHAR},
      	</if>
		<if test="domain.callTime != null" >
        	call_time = #{domain.callTime,jdbcType=VARCHAR},
      	</if>
		<if test="domain.callInstno != null" >
        	call_instno = #{domain.callInstno,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.jnl.JnlEnqueue">
		select <include refid="Base_Column_List"/> from JNL_ENQUEUE where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.jnl.JnlEnqueue" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from JNL_ENQUEUE <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from JNL_ENQUEUE <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as guid
		,guid_cust_service as guidCustService
		,service_sno as serviceSno
		,enqueue_no as enqueueNo
		,enqueue_biz_type as enqueueBizType
		,chn_code as chnCode
		,enqueue_in_time as enqueueInTime
		,enqueue_code as enqueueCode
		,cust_no as custNo
		,cust_name as custName
		,cust_level as custLevel
		,paper_type as paperType
		,paper_no as paperNo
		,call_teller as callTeller
		,call_time as callTime
		,call_instno as callInstno
	</sql>
</mapper>