<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.jnl.JnlHosttransMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.jnl.JnlHosttrans">
	    INSERT INTO JNL_HOSTTRANS 
	    (
	    	 guid
	    	,guid_trans
	    	,trans_sno
	    	,host_code
	    	,hosttrans_code
	    	,hosttrans_name
	    	,start_time
	    	,end_time
	    	,host_sno_req
	    	,host_sno_rsp
	    	,hsottrans_status
	    	,host_err_code
	    	,host_err_msg
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{guidTrans,jdbcType=VARCHAR},
			#{transSno,jdbcType=VARCHAR},
			#{hostCode,jdbcType=VARCHAR},
			#{hosttransCode,jdbcType=VARCHAR},
			#{hosttransName,jdbcType=VARCHAR},
			#{startTime,jdbcType=VARCHAR},
			#{endTime,jdbcType=VARCHAR},
			#{hostSnoReq,jdbcType=VARCHAR},
			#{hostSnoRsp,jdbcType=VARCHAR},
			#{hsottransStatus,jdbcType=VARCHAR},
			#{hostErrCode,jdbcType=VARCHAR},
			#{hostErrMsg,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.jnl.JnlHosttrans">
    	UPDATE JNL_HOSTTRANS 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="guidTrans != null" >
			guid_trans = #{guidTrans,jdbcType=VARCHAR},
		</if>
		<if test="transSno != null" >
			trans_sno = #{transSno,jdbcType=VARCHAR},
		</if>
		<if test="hostCode != null" >
			host_code = #{hostCode,jdbcType=VARCHAR},
		</if>
		<if test="hosttransCode != null" >
			hosttrans_code = #{hosttransCode,jdbcType=VARCHAR},
		</if>
		<if test="hosttransName != null" >
			hosttrans_name = #{hosttransName,jdbcType=VARCHAR},
		</if>
		<if test="startTime != null" >
			start_time = #{startTime,jdbcType=VARCHAR},
		</if>
		<if test="endTime != null" >
			end_time = #{endTime,jdbcType=VARCHAR},
		</if>
		<if test="hostSnoReq != null" >
			host_sno_req = #{hostSnoReq,jdbcType=VARCHAR},
		</if>
		<if test="hostSnoRsp != null" >
			host_sno_rsp = #{hostSnoRsp,jdbcType=VARCHAR},
		</if>
		<if test="hsottransStatus != null" >
			hsottrans_status = #{hsottransStatus,jdbcType=VARCHAR},
		</if>
		<if test="hostErrCode != null" >
			host_err_code = #{hostErrCode,jdbcType=VARCHAR},
		</if>
		<if test="hostErrMsg != null" >
			host_err_msg = #{hostErrMsg,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.jnl.JnlHosttrans">
    	UPDATE JNL_HOSTTRANS 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		guid_trans = #{guidTrans,jdbcType=VARCHAR},
		trans_sno = #{transSno,jdbcType=VARCHAR},
		host_code = #{hostCode,jdbcType=VARCHAR},
		hosttrans_code = #{hosttransCode,jdbcType=VARCHAR},
		hosttrans_name = #{hosttransName,jdbcType=VARCHAR},
		start_time = #{startTime,jdbcType=VARCHAR},
		end_time = #{endTime,jdbcType=VARCHAR},
		host_sno_req = #{hostSnoReq,jdbcType=VARCHAR},
		host_sno_rsp = #{hostSnoRsp,jdbcType=VARCHAR},
		hsottrans_status = #{hsottransStatus,jdbcType=VARCHAR},
		host_err_code = #{hostErrCode,jdbcType=VARCHAR},
		host_err_msg = #{hostErrMsg,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from JNL_HOSTTRANS where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from JNL_HOSTTRANS <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE JNL_HOSTTRANS 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidTrans != null" >
        	guid_trans = #{domain.guidTrans,jdbcType=VARCHAR},
      	</if>
		<if test="domain.transSno != null" >
        	trans_sno = #{domain.transSno,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hostCode != null" >
        	host_code = #{domain.hostCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hosttransCode != null" >
        	hosttrans_code = #{domain.hosttransCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hosttransName != null" >
        	hosttrans_name = #{domain.hosttransName,jdbcType=VARCHAR},
      	</if>
		<if test="domain.startTime != null" >
        	start_time = #{domain.startTime,jdbcType=VARCHAR},
      	</if>
		<if test="domain.endTime != null" >
        	end_time = #{domain.endTime,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hostSnoReq != null" >
        	host_sno_req = #{domain.hostSnoReq,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hostSnoRsp != null" >
        	host_sno_rsp = #{domain.hostSnoRsp,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hsottransStatus != null" >
        	hsottrans_status = #{domain.hsottransStatus,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hostErrCode != null" >
        	host_err_code = #{domain.hostErrCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.hostErrMsg != null" >
        	host_err_msg = #{domain.hostErrMsg,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.jnl.JnlHosttrans">
		select <include refid="Base_Column_List"/> from JNL_HOSTTRANS where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.jnl.JnlHosttrans" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from JNL_HOSTTRANS <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from JNL_HOSTTRANS <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as guid
		,guid_trans as guidTrans
		,trans_sno as transSno
		,host_code as hostCode
		,hosttrans_code as hosttransCode
		,hosttrans_name as hosttransName
		,start_time as startTime
		,end_time as endTime
		,host_sno_req as hostSnoReq
		,host_sno_rsp as hostSnoRsp
		,hsottrans_status as hsottransStatus
		,host_err_code as hostErrCode
		,host_err_msg as hostErrMsg
	</sql>
</mapper>