<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.jnl.JnlPromotingMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.jnl.JnlPromoting">
	    INSERT INTO JNL_PROMOTING 
	    (
	    	 guid
	    	,guid_cust_service
	    	,service_sno
	    	,promoting_origin
	    	,promoting_biz_type
	    	,promoting_title
	    	,promoting_info
	    	,promoting_action
	    	,teller_no
	    	,instno
	    	,promoting_date
	    	,promoting_time
	    	,promoting_feedback
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_cust_service,jdbcType=varchar},
			#{service_sno,jdbcType=varchar},
			#{promoting_origin,jdbcType=varchar},
			#{promoting_biz_type,jdbcType=varchar},
			#{promoting_title,jdbcType=varchar},
			#{promoting_info,jdbcType=text},
			#{promoting_action,jdbcType=varchar},
			#{teller_no,jdbcType=varchar},
			#{instno,jdbcType=varchar},
			#{promoting_date,jdbcType=char},
			#{promoting_time,jdbcType=varchar},
			#{promoting_feedback,jdbcType=varchar}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.jnl.JnlPromoting">
    	UPDATE JNL_PROMOTING 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_cust_service != null" >
			guid_cust_service = #{guid_cust_service,jdbcType=varchar},
		</if>
		<if test="service_sno != null" >
			service_sno = #{service_sno,jdbcType=varchar},
		</if>
		<if test="promoting_origin != null" >
			promoting_origin = #{promoting_origin,jdbcType=varchar},
		</if>
		<if test="promoting_biz_type != null" >
			promoting_biz_type = #{promoting_biz_type,jdbcType=varchar},
		</if>
		<if test="promoting_title != null" >
			promoting_title = #{promoting_title,jdbcType=varchar},
		</if>
		<if test="promoting_info != null" >
			promoting_info = #{promoting_info,jdbcType=text},
		</if>
		<if test="promoting_action != null" >
			promoting_action = #{promoting_action,jdbcType=varchar},
		</if>
		<if test="teller_no != null" >
			teller_no = #{teller_no,jdbcType=varchar},
		</if>
		<if test="instno != null" >
			instno = #{instno,jdbcType=varchar},
		</if>
		<if test="promoting_date != null" >
			promoting_date = #{promoting_date,jdbcType=char},
		</if>
		<if test="promoting_time != null" >
			promoting_time = #{promoting_time,jdbcType=varchar},
		</if>
		<if test="promoting_feedback != null" >
			promoting_feedback = #{promoting_feedback,jdbcType=varchar}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.jnl.JnlPromoting">
    	UPDATE JNL_PROMOTING 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_cust_service = #{guid_cust_service,jdbcType=varchar},
		service_sno = #{service_sno,jdbcType=varchar},
		promoting_origin = #{promoting_origin,jdbcType=varchar},
		promoting_biz_type = #{promoting_biz_type,jdbcType=varchar},
		promoting_title = #{promoting_title,jdbcType=varchar},
		promoting_info = #{promoting_info,jdbcType=text},
		promoting_action = #{promoting_action,jdbcType=varchar},
		teller_no = #{teller_no,jdbcType=varchar},
		instno = #{instno,jdbcType=varchar},
		promoting_date = #{promoting_date,jdbcType=char},
		promoting_time = #{promoting_time,jdbcType=varchar},
		promoting_feedback = #{promoting_feedback,jdbcType=varchar}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from JNL_PROMOTING where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from JNL_PROMOTING <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE JNL_PROMOTING 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_cust_service != null" >
        	guid_cust_service = #{domain.guid_cust_service,jdbcType=varchar}
      	</if>
		<if test="domain.service_sno != null" >
        	service_sno = #{domain.service_sno,jdbcType=varchar}
      	</if>
		<if test="domain.promoting_origin != null" >
        	promoting_origin = #{domain.promoting_origin,jdbcType=varchar}
      	</if>
		<if test="domain.promoting_biz_type != null" >
        	promoting_biz_type = #{domain.promoting_biz_type,jdbcType=varchar}
      	</if>
		<if test="domain.promoting_title != null" >
        	promoting_title = #{domain.promoting_title,jdbcType=varchar}
      	</if>
		<if test="domain.promoting_info != null" >
        	promoting_info = #{domain.promoting_info,jdbcType=text}
      	</if>
		<if test="domain.promoting_action != null" >
        	promoting_action = #{domain.promoting_action,jdbcType=varchar}
      	</if>
		<if test="domain.teller_no != null" >
        	teller_no = #{domain.teller_no,jdbcType=varchar}
      	</if>
		<if test="domain.instno != null" >
        	instno = #{domain.instno,jdbcType=varchar}
      	</if>
		<if test="domain.promoting_date != null" >
        	promoting_date = #{domain.promoting_date,jdbcType=char}
      	</if>
		<if test="domain.promoting_time != null" >
        	promoting_time = #{domain.promoting_time,jdbcType=varchar}
      	</if>
		<if test="domain.promoting_feedback != null" >
        	promoting_feedback = #{domain.promoting_feedback,jdbcType=varchar}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.jnl.JnlPromoting">
		select <include refid="Base_Column_List"/> from JNL_PROMOTING where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.jnl.JnlPromoting" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from JNL_PROMOTING <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from JNL_PROMOTING <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_cust_service
		,service_sno
		,promoting_origin
		,promoting_biz_type
		,promoting_title
		,promoting_info
		,promoting_action
		,teller_no
		,instno
		,promoting_date
		,promoting_time
		,promoting_feedback
	</sql>
</mapper>