<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.jnl.JnlTransMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.jnl.JnlTrans">
	    INSERT INTO JNL_TRANS 
	    (
	    	 guid
	    	,guid_cust_service
	    	,service_sno
	    	,trans_sno
	    	,trans_origin
	    	,guid_origin
	    	,trans_code
	    	,trans_name
	    	,trans_date
	    	,start_time
	    	,end_time
	    	,trans_teller
	    	,trans_instno
	    	,trans_status
	    	,trans_err_code
	    	,trans_err_msg
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{guid_cust_service,jdbcType=varchar},
			#{service_sno,jdbcType=varchar},
			#{trans_sno,jdbcType=varchar},
			#{trans_origin,jdbcType=varchar},
			#{guid_origin,jdbcType=varchar},
			#{trans_code,jdbcType=varchar},
			#{trans_name,jdbcType=varchar},
			#{trans_date,jdbcType=char},
			#{start_time,jdbcType=varchar},
			#{end_time,jdbcType=varchar},
			#{trans_teller,jdbcType=varchar},
			#{trans_instno,jdbcType=varchar},
			#{trans_status,jdbcType=varchar},
			#{trans_err_code,jdbcType=varchar},
			#{trans_err_msg,jdbcType=varchar}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.jnl.JnlTrans">
    	UPDATE JNL_TRANS 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="guid_cust_service != null" >
			guid_cust_service = #{guid_cust_service,jdbcType=varchar},
		</if>
		<if test="service_sno != null" >
			service_sno = #{service_sno,jdbcType=varchar},
		</if>
		<if test="trans_sno != null" >
			trans_sno = #{trans_sno,jdbcType=varchar},
		</if>
		<if test="trans_origin != null" >
			trans_origin = #{trans_origin,jdbcType=varchar},
		</if>
		<if test="guid_origin != null" >
			guid_origin = #{guid_origin,jdbcType=varchar},
		</if>
		<if test="trans_code != null" >
			trans_code = #{trans_code,jdbcType=varchar},
		</if>
		<if test="trans_name != null" >
			trans_name = #{trans_name,jdbcType=varchar},
		</if>
		<if test="trans_date != null" >
			trans_date = #{trans_date,jdbcType=char},
		</if>
		<if test="start_time != null" >
			start_time = #{start_time,jdbcType=varchar},
		</if>
		<if test="end_time != null" >
			end_time = #{end_time,jdbcType=varchar},
		</if>
		<if test="trans_teller != null" >
			trans_teller = #{trans_teller,jdbcType=varchar},
		</if>
		<if test="trans_instno != null" >
			trans_instno = #{trans_instno,jdbcType=varchar},
		</if>
		<if test="trans_status != null" >
			trans_status = #{trans_status,jdbcType=varchar},
		</if>
		<if test="trans_err_code != null" >
			trans_err_code = #{trans_err_code,jdbcType=varchar},
		</if>
		<if test="trans_err_msg != null" >
			trans_err_msg = #{trans_err_msg,jdbcType=varchar}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.jnl.JnlTrans">
    	UPDATE JNL_TRANS 
	    <set>
		guid = #{guid,jdbcType=varchar},
		guid_cust_service = #{guid_cust_service,jdbcType=varchar},
		service_sno = #{service_sno,jdbcType=varchar},
		trans_sno = #{trans_sno,jdbcType=varchar},
		trans_origin = #{trans_origin,jdbcType=varchar},
		guid_origin = #{guid_origin,jdbcType=varchar},
		trans_code = #{trans_code,jdbcType=varchar},
		trans_name = #{trans_name,jdbcType=varchar},
		trans_date = #{trans_date,jdbcType=char},
		start_time = #{start_time,jdbcType=varchar},
		end_time = #{end_time,jdbcType=varchar},
		trans_teller = #{trans_teller,jdbcType=varchar},
		trans_instno = #{trans_instno,jdbcType=varchar},
		trans_status = #{trans_status,jdbcType=varchar},
		trans_err_code = #{trans_err_code,jdbcType=varchar},
		trans_err_msg = #{trans_err_msg,jdbcType=varchar}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from JNL_TRANS where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from JNL_TRANS <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE JNL_TRANS 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.guid_cust_service != null" >
        	guid_cust_service = #{domain.guid_cust_service,jdbcType=varchar}
      	</if>
		<if test="domain.service_sno != null" >
        	service_sno = #{domain.service_sno,jdbcType=varchar}
      	</if>
		<if test="domain.trans_sno != null" >
        	trans_sno = #{domain.trans_sno,jdbcType=varchar}
      	</if>
		<if test="domain.trans_origin != null" >
        	trans_origin = #{domain.trans_origin,jdbcType=varchar}
      	</if>
		<if test="domain.guid_origin != null" >
        	guid_origin = #{domain.guid_origin,jdbcType=varchar}
      	</if>
		<if test="domain.trans_code != null" >
        	trans_code = #{domain.trans_code,jdbcType=varchar}
      	</if>
		<if test="domain.trans_name != null" >
        	trans_name = #{domain.trans_name,jdbcType=varchar}
      	</if>
		<if test="domain.trans_date != null" >
        	trans_date = #{domain.trans_date,jdbcType=char}
      	</if>
		<if test="domain.start_time != null" >
        	start_time = #{domain.start_time,jdbcType=varchar}
      	</if>
		<if test="domain.end_time != null" >
        	end_time = #{domain.end_time,jdbcType=varchar}
      	</if>
		<if test="domain.trans_teller != null" >
        	trans_teller = #{domain.trans_teller,jdbcType=varchar}
      	</if>
		<if test="domain.trans_instno != null" >
        	trans_instno = #{domain.trans_instno,jdbcType=varchar}
      	</if>
		<if test="domain.trans_status != null" >
        	trans_status = #{domain.trans_status,jdbcType=varchar}
      	</if>
		<if test="domain.trans_err_code != null" >
        	trans_err_code = #{domain.trans_err_code,jdbcType=varchar}
      	</if>
		<if test="domain.trans_err_msg != null" >
        	trans_err_msg = #{domain.trans_err_msg,jdbcType=varchar}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.jnl.JnlTrans">
		select <include refid="Base_Column_List"/> from JNL_TRANS where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.jnl.JnlTrans" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from JNL_TRANS <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from JNL_TRANS <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,guid_cust_service
		,service_sno
		,trans_sno
		,trans_origin
		,guid_origin
		,trans_code
		,trans_name
		,trans_date
		,start_time
		,end_time
		,trans_teller
		,trans_instno
		,trans_status
		,trans_err_code
		,trans_err_msg
	</sql>
</mapper>