\<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">组织机构管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">员工管理</a>
        </li>
    </ul>
</div>
<div class="portlet-body portlet light">
    <!-- 页签开始 -->
    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
        <li ng-class="{true:'active',false:''}[flag.yglb]">
            <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.yglb]" ng-click="emp.loaddata('0')">
                <i class="green ace-icon fa fa-bars bigger-120"></i>员工列表
            </a>
        </li>
        <li ng-class="{true:'active',false:''}[flag.xqxx]" ng-if="flag.xqxx">
            <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.xqxx]" ng-click="emp.loaddata('1')">
                <i class="green ace-icon fa fa-bars bigger-120"></i>{{title}}
            </a>
        </li>
        <li ng-class="{true:'active',false:''}[flag.zzgs]" ng-if="flag.zzgs">
            <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.zzgs]" ng-click="emp.loaddata('2')">
                <i class="green ace-icon fa fa-bars bigger-120"></i>员工:{{item.empName}}组织归属
            </a>
        </li>
        <li ng-class="{true:'active',false:''}[flag.ryqx]" ng-if="flag.ryqx">
            <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.ryqx]" ng-click="emp.loaddata('3')">
                <i class="green ace-icon fa fa-bars bigger-120"></i>人员权限
            </a>
        </li>
    </ul>
    <!-- 页签结束 -->
    <!-- 员工列表开始 -->
    <div class="tab-content portlet light"  ng-if="flag.yglb" id="test">
        <div fun-active="/om/emp/queryemployee" >
            <div  ui-grid="empgrid"
                  ui-grid-pagination
                  ui-grid-selection ui-grid-resize-columns></div>
        </div>

        <div class="actions btn-set" style="float: right;margin-top:20px;">
            <button type="button" name="back" class="btn btn-primary"   fun-active="/om/emp/addemployee" ng-click="emp.add({})"> 新增
            </button>
            <button type="button" name="back" class="btn btn-primary"  fun-active="/om/emp/updateemployee" ng-click="emp.edit()" ng-disabled="!buttonflag"> 编辑基础信息
            </button>
            <button type="button" name="back" class="btn btn-primary"  fun-active="/om/emp/updateemployee" ng-click="emp.editoper()" ng-show="editoper"> 编辑相关操作员
            </button>
            <button type="button" name="back" class="btn btn-primary"  fun-active="/om/emp/changeEmpStatus" ng-show="empentry" ng-click="emp.Entry()" > 入职
            </button>
            <button type="button" name="back" class="btn btn-primary"  fun-active="/om/emp/changeEmpStatus" ng-show="empleave" ng-click="emp.Leave()"> 离职
            </button>
            <button type="button" name="back" class="btn btn-primary"  fun-active="/om/emp/updateemployee" ng-click="emp.detail()"  ng-disabled="!buttonflag"> 查看详情
            </button>
            <button type="button" name="back" class="btn btn-primary"  fun-active="/om/emp/assignOrg" ng-click="emp.belongorg()" ng-disabled="!buttonflag"> 个人所属组织设置
            </button>
            <!--<button type="button" name="back" class="btn btn-primary" ng-click="emp.setqx()"> 个人权限设置-->
            <!--</button>-->
            <button type="button" name="back" class="btn btn-danger" fun-active="/OperateLogController/queryOperateHistoryList"  ng-click="emp.histroyss()" > 查看概况
            </button>
            <button type="button" name="back" class="btn btn-danger"  fun-active="/om/emp/deletemp" ng-click="emp.deletemp()"  ng-disabled="!buttonflag"> 删除
            </button>
        </div>
    </div>
    <!-- 员工列表结束 -->
    <!-- 员工详情信息开始 -->
    <div class="tab-content portlet light" ng-if="flag.xqxx">
        <form action="#" name="myform" class="form-horizontal clearfix">
            <div class="form-body  clearfix">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工代码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.empCode"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工姓名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="item.empName" ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工全名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="item.empRealname" ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">性别</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.gender" translate-constants comtable="DICT_OM_GENDER"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工状态</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.empstatus" translate-constants comtable="DICT_OM_EMPSTATUS"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">员工职级</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.empDegree " translate-constants comtable="DICT_OM_EMPDEGREE"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">主机构编号</label>
                        <div class="col-md-8">
                            <!--<select class="form-control" ng-model="item.guidOrg" ng-disabled="true">-->
                                <!--<option ng-repeat="d in $settings.commlist['ORG'] track by $index" value="{{d.guid}}">{{d.orgName}}</option>-->
                            <!--</select>-->
                            <input type="text" class="form-control"
                                   ng-model="item.guidOrg" translate-constants comtable="ORG"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">基本岗位</label>
                        <div class="col-md-8">
                            <!--<select class="form-control" ng-model="item.guidPosition" ng-disabled="true">-->
                                <!--<option ng-repeat="d in $settings.commlist['POS'] track by $index" value="{{d.guid}}">{{d.positionName}}</option>-->
                            <!--</select>-->
                            <input type="text" class="form-control"
                                   ng-model="item.guidPosition" translate-constants comtable="POS"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">直接主管</label>
                        <div class="col-md-8">
                            <!--<select class="form-control" ng-model="item.guidEmpMajor" ng-disabled="true">-->
                                <!--<option ng-repeat="d in $settings.commlist['EMP'] track by $index" value="{{d.guid}}">{{d.empName}}</option>-->
                            <!--</select>-->
                            <input type="text" class="form-control"
                                   ng-model="item.guidEmpMajor" translate-constants comtable="EMP"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">入职日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.indate"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">离职日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.outdate"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公电话</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.otel"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公地址</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.oaddress"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公邮编</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.ozipcode"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">办公邮件</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.oemail"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">传真号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.faxno"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">手机号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.mobileno"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">MSN号码</label>
                        <div class="col-md-8">
                            <input class="form-control" style="" type="text" ng-model="item.msn" ng-readonly="editflag">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">证件类型</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.paperType"  translate-constants comtable="DICT_SD_PAPERTYPE"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">证件号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.paperNo"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">出生日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.birthdate"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">家庭电话</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.htel"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">家庭邮编</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.hzipcode"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">私人邮箱</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.pemail"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">家庭地址</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="item.haddress"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">政治面貌</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.party"
                                   ng-readonly="editflag" translate-constants comtable="DICT_SD_PARTY"/>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">操作员编号</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.guidOperator"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">操作员</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.userId"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">工作描述</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.workexp"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">备注</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control"
                                   ng-model="item.remark"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">可授权角色</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.specialty"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">可管理机构</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="item.orgList"
                                   ng-readonly="editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <div class="actions btn-set" style="float: right;" ng-if="editflag">
                                <button type="button" name="back" class="btn btn-primary" ng-click="emp.back()"> 返回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 员工详情信息结束 -->


    <!-- 员工组织归属开始 -->
    <div class="tab-content portlet light clearfix" ng-show="flag.zzgs">
        <div class="portlet-title col-md-12">
            <div class="portlet-title col-md-6">
                <div class="portlet-title col-md-12">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp bold uppercase">员工-机构列表</span>
                    </div>
                    <div class="actions btn-set" style="float: right;">
                        <button type="button" name="back" class="btn btn-primary" fun-active="/om/emp/assignOrg" ng-click="emp.assignOrg()"> 新增指派
                        </button>
                        <button type="button" name="back" class="btn btn-danger" fun-active="/om/emp/disassignOrg" ng-click="emp.disassignOrg()" ng-disabled="orgQx"> 取消指配
                        </button>
                        <button type="button" name="back" class="btn btn-primary" fun-active="/om/emp/fixmainOrg" ng-click="emp.fixmainOrg()" ng-disabled="orgZp"> 设为新主机构
                        </button>
                    </div>
                </div>
                <div class="col-md-12" fun-active="/om/emp/loadEmpOrg" >
                    <div ui-grid="orggrid" ng-if="flag.zzgs"
                         ui-grid-pagination
                         ui-grid-selection ui-grid-resize-columns></div>
                </div>
            </div>
            <div class="portlet-title col-md-6">
                <!--岗位和职务tab栏-->
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
                    <li ng-class="{true:'active',false:''}[empflag.emppost]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[empflag.emppost]" ng-click="emp.empBelongTo('post')">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>员工所属岗位
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[empflag.empwork]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[empflag.empwork]" ng-click="emp.empBelongTo('duty')">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>员工所属工作组
                        </a>
                    </li>
                </ul>
                <!--员工岗位逻辑-->
                <div class="tab-content portlet light"  ng-show="empflag.emppost" >
                    <div class="portlet-title col-md-12">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp bold uppercase">员工-岗位列表</span>
                    </div>
                    <div class="actions btn-set" style="float: right;">
                        <button type="button" name="back" class="btn btn-primary" fun-active="/om/emp/assignPos" ng-click="emp.assignPos()"> 新增指派
                        </button>
                        <button type="button" name="back" class="btn btn-danger" fun-active="/om/emp/disassignPos" ng-click="emp.disassignPos()" ng-disabled="posQx"> 取消指配
                        </button>
                        <button type="button" name="back" class="btn btn-primary" fun-active="/om/emp/fixmainPos" ng-click="emp.fixmainPos()" ng-disabled="posZp"> 设为新主岗位
                        </button>
                    </div>
                </div>
                    <div class="col-md-12" fun-active="/om/emp/loadEmpPos" >
                        <div ui-grid="postgrid" ng-if="empflag.post"
                             ui-grid-pagination ui-grid-empty-base-layer
                             ui-grid-selection ui-grid-resize-columns></div>
                    </div>
                </div>
                <!--员工-职务逻辑-->
                <div class="tab-content portlet light"  ng-show="empflag.empwork" >
                    <div class="portlet-title col-md-12">
                        <div class="caption">
                            <span class="caption-subject font-blue-sharp bold uppercase">员工-工作组列表</span>
                        </div>
                        <div class="actions btn-set" style="float: right;">
                            <button type="button" name="back" class="btn btn-primary" fun-active="/om/emp/addEmpGroup" ng-click="emp.assignWork()"> 新增指派
                            </button>
                            <button type="button" name="back" class="btn btn-danger" fun-active="/om/emp/deleteEmpGroup" ng-click="emp.disassignWork()" ng-disabled="workQx"> 取消指配
                            </button>
                            <!--<button type="button" name="back" class="btn btn-primary" fun-active="/om/emp/fixmainPos" ng-click="emp.fixmainWork()" ng-disabled="posZp"> 设为新主职务
                            </button>-->
                        </div>
                    </div>
                    <div class="col-md-12" fun-active="/om/emp/loadEmpGroup">
                        <div ui-grid="workgrid" ng-if="empflag.work"
                             ui-grid-pagination ui-grid-empty-base-layer
                             ui-grid-selection ui-grid-resize-columns></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 员工组织归属结束 -->
</div>