<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">组织机构管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">工作组</a>
        </li>
        <li ng-if="indextitle != ''">
            <i class="fa fa-circle"></i>
            <a href="#">当前节点:{{indextitle}}</a>
        </li>
    </ul>
</div>
<div class="portlet light bordered row">
    <!-- 组织机构树 start -->
    <div class="col-md-3">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">工作组</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="reload"  ng-click="jstreereload()">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form id="s">
                    <input type="search"  id="search" ng-model="searchitem"/>
                    <button type="submit" ng-click="workgroup.clear()">清空</button>
                </form>
                <div id="container" ng-show="showtree"></div>
                <div id="searchtree" ng-show="!showtree"></div>
            </div>
        </div>
    </div>
    <!-- 组织机构树 end -->
    <!-- 右侧展示页面 start -->
    <!-- 工作组首页 -->
    <div class="col-md-9">
        <div class="portlet light">
            <div class="portlet-body portlet light">
                <!-- 首页页签 -->
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="flag.index">
                    <li class="active">
                        <a id="tab-list" data-toggle="tab" href class="link">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>工作组查询
                        </a>
                    </li>
                </ul>
                <!-- end -->
                <!-- 详情页签 -->
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" ng-if="!flag.index">
                    <li ng-class="{true:'active',false:''}[flag.xqxx]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.xqxx]"
                           ng-click="workgroup.loaddata(0)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>工作组详情
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[flag.xjgz]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.xjgz]"
                           ng-click="workgroup.loaddata(1)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>下级工作组列表
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[flag.xjgw]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.xjgw]"
                           ng-click="workgroup.loaddata(2)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>岗位列表
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[flag.ygxx]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.ygxx]"
                           ng-click="workgroup.loaddata(3)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>人员信息
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[flag.yylb]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.yylb]"
                           ng-click="workgroup.loaddata(5)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>工作组应用列表
                        </a>
                    </li>
                    <li ng-class="{true:'active',false:''}[flag.qxxx]">
                        <a data-toggle="tab" href ng-class="{true:'link',false:''}[flag.qxxx]"
                           ng-click="workgroup.loaddata(4)">
                            <i class="green ace-icon fa fa-bars bigger-120"></i>权限信息
                        </a>
                    </li>
                </ul>
                <!-- end -->
            </div>
            <div class="tab-content portlet light" ng-if="flag.index">
                <div ui-grid="workgroupgrid"
                     ui-grid-edit ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns></div>
                <div class="actions btn-set" style="float: right;">

                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.add('root')"> 新增

                    </button>
                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.edit()"> 编辑
                    </button>
                    <button type="button" name="back" class="btn btn-danger" ng-click="workgroup.delete()"> 删除
                    </button>
                </div>
            </div>
            <!-- 工作组详情 start -->
            <div class="tab-content portlet light" ng-if="flag.xqxx">
                <div class="portlet-body portlet light">
                    <form action="#" name="myform" class="form-horizontal " ng-show="!editflag">
                        <div class="form-body ">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组状态</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"  translate-constants comtable="DICT_OM_GROUPSTATUS"  ng-model="sub.groupStatus" name="id"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                       <!--     <div class="col-md-6" style=" visibility: hidden;">
                                <div class="form-group">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="id" readonly/>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组代码</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="sub.groupCode" name="id"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组名称</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="sub.groupName"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">所属机构</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="sub.guidOrg"  translate-constants comtable="ORG"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组类型</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="sub.groupType"  translate-constants comtable="DICT_OM_GROUPTYPE"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">生效日期</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="sub.startDate" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">失效日期</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="sub.endDate" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">工作组描述</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="sub.groupDesc"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">

                                        <div class="actions btn-set" style="float: right;">
                                            <button ng-show="sub.groupStatus == 'cancel'" type="button" name="back"
                                                    class="btn btn-primary" ng-click="workgroup.enableGroup()"> 启用工作组
                                            </button>
                                            <button ng-show="sub.groupStatus == 'running'" type="button" name="back"
                                                    class="btn btn-danger" ng-click="workgroup.enableGroup()"> 注销工作组
                                            </button>
                                            <button type="button" name="back" class="btn btn-primary"
                                                    ng-click="workgroup.editGroup()"> 编辑工作组
                                            </button>
                                            <button type="button" name="back" class="btn btn-danger"
                                                    ng-click="workgroup.histroy()"> 查看概况
                                            </button>
                                            <button type="button" name="back" class="btn btn-danger"
                                                    ng-click="workgroup.deleteGroup()"> 删除工作组
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="#" name="myform3" class="form-horizontal " ng-show="editflag">
                        <div class="form-body ">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组状态</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" translate-constants comtable="DICT_OM_GROUPSTATUS" ng-model="subFrom.groupStatus" name="id"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style=" visibility: hidden;">
                                <div class="form-group">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组代码</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="subFrom.groupCode" name="id"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组名称</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="subFrom.groupName"
                                               name="id"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">所属机构</label>
                                    <div class="col-md-8" ng-init="$settings.getCommData('ORG')">
                                        <select class="form-control" ng-model="subFrom.guidOrg" name="id"  >
                                            <option ng-repeat="d in $settings.commlist['ORG'] track by $index"
                                                    value="{{d.guid}}">{{d.orgName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">工作组类型</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="subFrom.groupType"  translate-constants comtable="DICT_OM_GROUPTYPE"
                                               name="id" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">生效日期</label>
                                    <div class="col-md-8">
                                        <div class="input-group date form_datetime"
                                             ng-init="$root.settings.utils.initpicker()">
                                        <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i
                                                class="fa fa-calendar"></i></button>
                                        </span>
                                            <input type="text" class="form-control" ng-model="subFrom.startDate" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">失效日期</label>
                                    <div class="col-md-8">
                                        <div class="input-group date form_datetime"
                                             ng-init="$root.settings.utils.initpicker()">
                                        <span class="input-group-btn">
                                        <button class="btn default date-set" type="button"><i
                                                class="fa fa-calendar"></i></button>
                                        </span>
                                            <input type="text" class="form-control" ng-model="subFrom.endDate" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">工作组描述</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               ng-model="subFrom.groupDesc"
                                               name="id"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="actions btn-set" style="float: right;">
                                            <button type="button" name="back" class="btn btn-primary"
                                                    ng-click="workgroup.updateGroup(subFrom)">
                                                保存
                                            </button>
                                            <button type="button" name="back" class="btn btn-danger"
                                                    ng-click="workgroup.back()"> 取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 工作组详情 end  -->
            <!-- 下级工作组列表 start -->
            <div class="tab-content portlet light" ng-if="flag.xjgz">
                <div ui-grid="xjworkgroupgrid"
                     ui-grid-edit ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns></div>
                <div class="actions btn-set" style="float: right;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.add('child')"> 新增
                    </button>
                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.editxj()"> 编辑
                    </button>
                    <button type="button" name="back" class="btn btn-danger" ng-click="workgroup.delete()"> 删除
                    </button>
                </div>
            </div>
            <!-- 下级工作组列表 end  -->
            <!-- 岗位列表 start -->
            <div class="tab-content portlet light" ng-if="flag.xjgw">
                <div ui-grid="posgrid"
                     ui-grid-edit ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns></div>
                <div class="actions btn-set" style="float: right;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.addpos()"> 添加岗位
                    </button>
                    <button type="button" name="back" class="btn btn-danger" ng-click="workgroup.deletepos()"> 删除岗位
                    </button>
                </div>
            </div>
            <!-- 岗位列表 end -->
            <!-- 应用列表 start -->
            <div class="tab-content portlet light" ng-if="flag.yylb">
                <div ui-grid="appgrid"
                     ui-grid-edit ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns></div>
                <div class="actions btn-set" style="float: right;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.addGpApp()"> 添加应用
                    </button>
                    <button type="button" name="back" class="btn btn-danger" ng-click="workgroup.deleteGpApp()"> 删除应用
                    </button>
                </div>
            </div>
            <!-- 应用列表 end -->
            <!-- 人员信息 start -->
            <div class="tab-content portlet light" ng-if="flag.ygxx">
                <div ui-grid="xjempgrid"
                     ui-grid-edit ui-grid-pagination
                     ui-grid-selection ui-grid-resize-columns></div>
                <div class="actions btn-set" style="float: right;">
                    <button type="button" name="back" class="btn btn-primary" ng-click="workgroup.addemp()"> 添加人员
                    </button>
                    <!--<button type="button" name="back" class="btn btn-primary" ng-click="workgroup.edit()"> 编辑-->
                    <!--</button>-->
                    <button type="button" name="back" class="btn btn-danger" ng-click="workgroup.deletemp()"> 删除人员
                    </button>
                </div>
            </div>
            <!-- 人员信息 end -->
            <!-- 权限信息 start -->
            <div class="tab-content" ng-if="flag.qxxx">
                <div>
                    <div class="portlet-body form col-md-12">
                        <!-- BEGIN FORM-->
                        <div style="" class="col-md-6">
                            <!--<select  id='myselect' multiple='multiple'>-->
                            <!--<option ng-repeat="d in allrole track by $index" value="{{d.guid}}">{{d.roleName}}</option>-->
                            <!--</select>-->
                            <div class="actions btn-set col-md-12">
                                <button type="button" name="back" class="btn btn-danger" style="float: right;"
                                        ng-click="deleteRole()"> 删除
                                </button>
                            </div>
                            <div class="actions btn-set col-md-12">
                                <div ui-grid="alrolegird"
                                     ui-grid-edit ui-grid-pagination
                                     ui-grid-selection style="height:200px;">
                                </div>
                            </div>
                        </div>
                        <div style="" class="col-md-6">
                            <div class="actions btn-set col-md-12">
                                <button style="float: right;" type="button" name="back" class="btn btn-primary"
                                        ng-click="addRole('workgroup')"> 新增
                                </button>
                            </div>
                            <div class="actions btn-set col-md-12">
                                <div ui-grid="notrolegird"
                                     ui-grid-edit ui-grid-pagination
                                     ui-grid-selection style="height:200px;">
                                </div>
                            </div>
                        </div>
                        <!-- END FORM-->
                        <div class="portlet-body col-md-12">
                            <div ui-grid="mygrid"
                                 ui-grid-edit ui-grid-pagination
                                 ui-grid-selection>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 权限信息 end -->

        </div>
    </div>
    <!-- 工作组首页end -->
    <!-- 右侧展示页面 end -->
</div>