<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">组织管理</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">工作组管理</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="portlet yellow-lemon box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>工作组管理
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="tree_3" class="tree-demo">
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin: life time stats -->
        <div class="col-md-9">

        </div>
    </div>
</div>
