<!--业务字典管理-->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">其他管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">业务字典</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="bigform">
    <div class="col-md-12" >
        <div class="portlet light">
                <div class="portlet-body portlet light">
                    <!-- tab页签-->
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
                        <li ng-class="{true:'active',false:''}[dictflag.zdgl]">
                            <a data-toggle="tab" href ng-class="{true:'link',false:''}[dictflag.zdgl]" ng-click="dictflag.loadgwdata(0)">
                                <i class="green ace-icon fa fa-bars bigger-120"></i>业务字典管理
                            </a>
                        </li>
                        <li ng-class="{true:'active',false:''}[dictflag.zddr]">
                            <a  data-toggle="tab" href ng-class="{true:'link',false:''}[dictflag.zddr]" ng-click="dictflag.loadgwdata(1)">
                                <i class="green ace-icon fa fa-bars bigger-120"></i>业务字典导入
                            </a>
                        </li>
                    </ul>
                    <!-- tab内容开始 -->
                    <div class="tab-content portlet light clearfix "   ng-show="dictflag.zdgl">
                           <div class="col-md-6" ng-form="bigform" style="padding-left: 0px;">
                                <div class="portlet light"  style="margin-top: 10px;">
                                    <div class="portlet-title">
                                       <!-- <div class="caption">
                                            <i class=""></i>
                                            <span class="caption-subject font-green-sharp bold uppercase">业务字典</span>
                                        </div>-->
                                        <div class="col-md-12  clearfix"   style="margin-bottom:10px;margin-left: 20%;">
                                                <div class="col-md-8" style="margin-top:7px;">
                                                    <label class="control-label col-md-4"> 筛选条件:</label>
                                                    <div class="col-md-4" >
                                                        <input type="radio"   name="Alldict"  ng-model="dictFrom.Alldict" ng-checked="dictFrom.Alldict == 'All'"  value="All" />所有业务字典
                                                    </div>
                                                    <div class="col-md-4" >
                                                        <input type="radio"   name="Alldict" ng-model="dictFrom.Alldict"   ng-checked="dictFrom.Alldict == 'Root'"  value="Root" />仅显示根字典
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div ui-grid="gridOptions0"  class="grid"
                                         ui-grid-pagination ui-grid-exporter
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top:12px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="show_win()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="show_edit(4)">  修改
                                        </button>
                                        <button type="button" name="back" class="btn  btn-danger"  ng-click="dictflag.histroy()"> 查看概况
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="showDelAll()"> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-6" style="padding-left: 0px; margin-top:10px;">
                                <div class="portlet light">
                                    <div class="portlet-title" ng-if="dictconfig.show">
                                        <div class="caption">
                                            <i class=""></i>
                                            <span class="caption-subject font-green-sharp bold uppercase">父子字典关系表</span>
                                        </div>
                                    </div>
                                          <div class="show" ng-show="dictconfig.show">
                                              <div id="container" style="margin-top: 20px;"></div>
                                          </div>
                                </div>
                        <!--        <div class="portlet light"  style="margin-top: 10px;" ng-if="dictconfig.show">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=""></i>
                                            <span class="caption-subject font-green-sharp bold uppercase">字典项</span>
                                        </div>
                                    </div>
                                    <div ui-grid="gridOptions1"  class="grid"
                                         ui-grid-pagination
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top:12px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="dict_win()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="dict_edit(4)">  修改
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="dictDelAll()"> 删除
                                        </button>
                                    </div>
                                </div>-->
                               <!--<div class="portlet light"  style="margin-top: 10px;" ng-if="dictconfig.toshow">
                                   <div class="portlet-title">
                                       <div class="caption">
                                           <i class=""></i>
                                           <span class="caption-subject font-green-sharp bold uppercase">字典项</span>
                                       </div>
                                   </div>
                                   <div ui-grid="gridOptions2"   class="grid"
                                        ui-grid-pagination
                                        ui-grid-selection ui-grid-resize-columns>
                                   </div>
                               </div>
                            </div>-->
                    </div>
                </div>
                    <div class="table-container" ng-show="dictflag.zddr" >
                      <div class="div" ng-controller="dictitwos_controller">
                          <div class="dictdown" style="margin-top: 60px;">
                              <a class="btn btn-primary" style="margin-left: 100px;" href="../tools/documents/dict_template.xlsx">下载业务字典模板</a>
                              <a class="btn btn-primary" style="margin-left: 100px;"  ng-click="downdict()" >导出业务字典</a>
                              <a class="btn btn-primary" style="margin-left: 100px;"  ng-click="import()" >导入业务字典</a>
                          </div>
                          <div class="portlet light"  style="margin-top: 10px;"  ng-if="imporots">
                              <div class="portlet-title">
                                  <div class="caption">
                                      <i class=""></i>
                                      <span class="caption-subject font-green-sharp bold uppercase">业务字典Excel文件导入</span>
                                  </div>
                              </div>
                              <form action="#" name="myform" class="form-horizontal">
                                  <div class="col-md-6" >
                                      <div class="form-group">
                                          <label class="control-label col-md-4">业务字典Excel文件:</label>
                                          <div class="col-md-8">
                                              <div class="input-group">
                                                  <input type="text" class="form-control"
                                                         ng-model="dictconfig.fileType"
                                                         name="fileName" />
                                                    <span class="input-group-btn">
                                                        <button type="button" name="back" class="btn default date-set"  popover-trigger="mouseenter" ng-click="typeFile()" > 上传</button>
                                                    </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <!--<div class="portlet light"  style="margin-top: 60px;" >
                              <div class="portlet-title">
                                  <div class="caption">
                                      <i class=""></i>
                                      <span class="caption-subject font-green-sharp bold uppercase">业务字典项Excel文件导入</span>
                                  </div>
                              </div>
                              <form action="#" name="myform" class="form-horizontal">
                                  <div class="col-md-6" >
                                      <div class="form-group">
                                          <label class="control-label col-md-4">业务字典项Excel文件:</label>
                                          <div class="col-md-8">
                                              <div class="input-group">
                                                  <input type="text" class="form-control"
                                                         ng-model="dictconfig.fileProject"
                                                         name="fileName" />
                                                    <span class="input-group-btn">
                                                        <button type="button" name="back" class="btn default date-set"  popover-trigger="mouseenter" ng-click="projectFile()" > 上传</button>
                                                    </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>-->
                      </div>
                    </div>

        </div>
    </div>
</div>
</div>













