@charset "utf-8";

.dataTables_length{
    float: left;
}
.dataTables_paginate{
    float: left;
}
.dataTables_info{
    float: left;
    padding-top: 3px;
}

.vakata-context, .vakata-context ul {
    padding: 0;
    min-width: 125px;
    background-color: #fff;
    font-size: 14px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    box-shadow: 5px 5px rgba(102,102,102,.1);
    border: 1px solid #efefef;
}

.vakata-context, .vakata-context ul {
    margin: 0;
    padding: 2px;
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999;
}
.vakata-context {
    display: none;
}
.grid{
    height: 410px;
}