<div class="portlet light" draggabless  style="width: 100%;height:100%;overflow-x: hidden;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-key caption-subject font-green-sharp bold uppercase"></i>
                <span class="caption-subject font-green-sharp bold uppercase">修改密码</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="remove" ng-click="cancel()">
                </a>
            </div>
        </div>
        <div class="portlet-body portlet light">
            <form action="#" name="myform" class="form-horizontal ">
                <div class="form-body ">
                    <div class="col-md-12" >
                        <div class="form-group">
                            <label class="control-label col-md-4">请输入原密码<span ng-class="{required:myform.dict_key.$invalid}"  >* </span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control"
                                       ng-model="landingFrom.oldPassword" required
                                       name="dict_key" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div class="form-group">
                            <label class="control-label col-md-4">请输入新密码<span ng-class="{required:myform.dict_key1.$invalid}"  >* </span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control"
                                       ng-model="landingFrom.newPassword" required
                                       name="dict_key1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div class="form-group">
                            <label class="control-label col-md-4">请再次输入新密码<span ng-class="{required:myform.dict_key2.$invalid}"  >* </span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control"
                                       ng-model="landingFrom.confirmPassword" required
                                       name="dict_key2" />
                                <span style="margin-top: 10px;color: red;" ng-if="landingFrom.newPassword!=landingFrom.confirmPassword&&landingFrom.confirmPassword.length>0">*两次密码不正确</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <div class="actions btn-set" style="float: right;">
                                    <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false&&landingFrom.newPassword==landingFrom.confirmPassword"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="add(landingFrom)" > 保存
                                    </button>
                                    <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true||landingFrom.newPassword!==landingFrom.confirmPassword"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 保存
                                    </button>
                                    <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
