<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.mapper.om.OmBusiorgMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.om.OmBusiorg">
	    INSERT INTO OM_BUSIORG 
	    (
	    	 guid
	    	,node_type
	    	,busiorg_code
	    	,busi_domain
	    	,busiorg_name
	    	,busiorg_level
	    	,guid_org
	    	,guid_parents
	    	,guid_position
	    	,org_code
	    	,seqno
	    	,sortno
	    	,isleaf
	    	,sub_count
	    )
	    VALUES 
	    (
			#{guid,jdbcType=varchar},
			#{node_type,jdbcType=varchar},
			#{busiorg_code,jdbcType=varchar},
			#{busi_domain,jdbcType=varchar},
			#{busiorg_name,jdbcType=varchar},
			#{busiorg_level,jdbcType=decimal},
			#{guid_org,jdbcType=varchar},
			#{guid_parents,jdbcType=varchar},
			#{guid_position,jdbcType=varchar},
			#{org_code,jdbcType=varchar},
			#{seqno,jdbcType=varchar},
			#{sortno,jdbcType=decimal},
			#{isleaf,jdbcType=char},
			#{sub_count,jdbcType=decimal}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.om.OmBusiorg">
    	UPDATE OM_BUSIORG 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=varchar},
		</if>
		<if test="node_type != null" >
			node_type = #{node_type,jdbcType=varchar},
		</if>
		<if test="busiorg_code != null" >
			busiorg_code = #{busiorg_code,jdbcType=varchar},
		</if>
		<if test="busi_domain != null" >
			busi_domain = #{busi_domain,jdbcType=varchar},
		</if>
		<if test="busiorg_name != null" >
			busiorg_name = #{busiorg_name,jdbcType=varchar},
		</if>
		<if test="busiorg_level != null" >
			busiorg_level = #{busiorg_level,jdbcType=decimal},
		</if>
		<if test="guid_org != null" >
			guid_org = #{guid_org,jdbcType=varchar},
		</if>
		<if test="guid_parents != null" >
			guid_parents = #{guid_parents,jdbcType=varchar},
		</if>
		<if test="guid_position != null" >
			guid_position = #{guid_position,jdbcType=varchar},
		</if>
		<if test="org_code != null" >
			org_code = #{org_code,jdbcType=varchar},
		</if>
		<if test="seqno != null" >
			seqno = #{seqno,jdbcType=varchar},
		</if>
		<if test="sortno != null" >
			sortno = #{sortno,jdbcType=decimal},
		</if>
		<if test="isleaf != null" >
			isleaf = #{isleaf,jdbcType=char},
		</if>
		<if test="sub_count != null" >
			sub_count = #{sub_count,jdbcType=decimal}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.om.OmBusiorg">
    	UPDATE OM_BUSIORG 
	    <set>
		guid = #{guid,jdbcType=varchar},
		node_type = #{node_type,jdbcType=varchar},
		busiorg_code = #{busiorg_code,jdbcType=varchar},
		busi_domain = #{busi_domain,jdbcType=varchar},
		busiorg_name = #{busiorg_name,jdbcType=varchar},
		busiorg_level = #{busiorg_level,jdbcType=decimal},
		guid_org = #{guid_org,jdbcType=varchar},
		guid_parents = #{guid_parents,jdbcType=varchar},
		guid_position = #{guid_position,jdbcType=varchar},
		org_code = #{org_code,jdbcType=varchar},
		seqno = #{seqno,jdbcType=varchar},
		sortno = #{sortno,jdbcType=decimal},
		isleaf = #{isleaf,jdbcType=char},
		sub_count = #{sub_count,jdbcType=decimal}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from OM_BUSIORG where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from OM_BUSIORG <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE OM_BUSIORG 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=varchar}
      	</if>
		<if test="domain.node_type != null" >
        	node_type = #{domain.node_type,jdbcType=varchar}
      	</if>
		<if test="domain.busiorg_code != null" >
        	busiorg_code = #{domain.busiorg_code,jdbcType=varchar}
      	</if>
		<if test="domain.busi_domain != null" >
        	busi_domain = #{domain.busi_domain,jdbcType=varchar}
      	</if>
		<if test="domain.busiorg_name != null" >
        	busiorg_name = #{domain.busiorg_name,jdbcType=varchar}
      	</if>
		<if test="domain.busiorg_level != null" >
        	busiorg_level = #{domain.busiorg_level,jdbcType=decimal}
      	</if>
		<if test="domain.guid_org != null" >
        	guid_org = #{domain.guid_org,jdbcType=varchar}
      	</if>
		<if test="domain.guid_parents != null" >
        	guid_parents = #{domain.guid_parents,jdbcType=varchar}
      	</if>
		<if test="domain.guid_position != null" >
        	guid_position = #{domain.guid_position,jdbcType=varchar}
      	</if>
		<if test="domain.org_code != null" >
        	org_code = #{domain.org_code,jdbcType=varchar}
      	</if>
		<if test="domain.seqno != null" >
        	seqno = #{domain.seqno,jdbcType=varchar}
      	</if>
		<if test="domain.sortno != null" >
        	sortno = #{domain.sortno,jdbcType=decimal}
      	</if>
		<if test="domain.isleaf != null" >
        	isleaf = #{domain.isleaf,jdbcType=char}
      	</if>
		<if test="domain.sub_count != null" >
        	sub_count = #{domain.sub_count,jdbcType=decimal}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.om.OmBusiorg">
		select <include refid="Base_Column_List"/> from OM_BUSIORG where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.om.OmBusiorg" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from OM_BUSIORG <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from OM_BUSIORG <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,node_type
		,busiorg_code
		,busi_domain
		,busiorg_name
		,busiorg_level
		,guid_org
		,guid_parents
		,guid_position
		,org_code
		,seqno
		,sortno
		,isleaf
		,sub_count
	</sql>
</mapper>