<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.om.OmEmpPositionMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.om.OmEmpPosition">
	    INSERT INTO OM_EMP_POSITION 
	    (
	    	 guid_emp
	    	,guid_position
	    	,ismain
	    )
	    VALUES 
	    (
			#{guid_emp,jdbcType=varchar},
			#{guid_position,jdbcType=varchar},
			#{ismain,jdbcType=char}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.om.OmEmpPosition">
    	UPDATE OM_EMP_POSITION 
	    <set>
		<if test="guid_emp != null" >
			guid_emp = #{guid_emp,jdbcType=varchar},
		</if>
		<if test="guid_position != null" >
			guid_position = #{guid_position,jdbcType=varchar},
		</if>
		<if test="ismain != null" >
			ismain = #{ismain,jdbcType=char}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.om.OmEmpPosition">
    	UPDATE OM_EMP_POSITION 
	    <set>
		guid_emp = #{guid_emp,jdbcType=varchar},
		guid_position = #{guid_position,jdbcType=varchar},
		ismain = #{ismain,jdbcType=char}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from OM_EMP_POSITION where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from OM_EMP_POSITION <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE OM_EMP_POSITION 
	   <set>
		<if test="domain.guid_emp != null" >
        	guid_emp = #{domain.guid_emp,jdbcType=varchar}
      	</if>
		<if test="domain.guid_position != null" >
        	guid_position = #{domain.guid_position,jdbcType=varchar}
      	</if>
		<if test="domain.ismain != null" >
        	ismain = #{domain.ismain,jdbcType=char}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.om.OmEmpPosition">
		select <include refid="Base_Column_List"/> from OM_EMP_POSITION where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.om.OmEmpPosition" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from OM_EMP_POSITION <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from OM_EMP_POSITION <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_emp
		,guid_position
		,ismain
	</sql>
</mapper>