<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">{{title}}</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <form action="#" name="myform" class="form-horizontal ">
            <div class="form-body ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">属性名称:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="dataEntFrom.fieldName" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">引用类型</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="dataEntFrom.refType" ng-disabled="!editflag">
                                <option value="0">业务字典</option>
                                <option value="1">其他表</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">字段类型</label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_FIELDTYPE')">
                            <select class="form-control" ng-model="dataEntFrom.fieldType" ng-disabled="!editflag">
                                <!--<option value="0">字符串</option>-->
                                <option ng-repeat="d in $settings.diclist['DICT_FIELDTYPE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--{{dataEntFrom.refType}} 根据不同的类型显示不同的格式-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">显示格式:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="dataEntFrom.displayFormat" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">代码大类:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="dataEntFrom.doclistCode" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">数据库列名:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="dataEntFrom.columnName" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">宽度:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="dataEntFrom.width" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 是否可修改:<span ng-class="{required:myform.isModify.$invalid}"  > * </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_YON')">
                            <select class="form-control"   required   ng-model="dataEntFrom.ismodify" name="isModify" ng-disabled="!editflag">
                                <option ng-repeat="d in $settings.diclist['DICT_YON'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 是否显示:<span ng-class="{required:myform.isDisplay.$invalid}"  > * </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_YON')">
                            <select class="form-control"   required   ng-model="dataEntFrom.isdisplay" name="isDisplay" ng-disabled="!editflag">
                                <option ng-repeat="d in $settings.diclist['DICT_YON'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 是否必须填写:<span ng-class="{required:myform.isInput.$invalid}"  > * </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_YON')">
                            <select class="form-control"   required   ng-model="dataEntFrom.isinput" name="isInput" ng-disabled="!editflag">
                                <option ng-repeat="d in $settings.diclist['DICT_YON'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 是否是主键:<span ng-class="{required:myform.isPk.$invalid}"  > * </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_YON')">
                            <select class="form-control"   required   ng-model="dataEntFrom.ispk" name="isPk" ng-disabled="!editflag">
                                <option ng-repeat="d in $settings.diclist['DICT_YON'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 是否自动产生主键:<span ng-class="{required:myform.isAutokey.$invalid}"  > * </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_YON')">
                            <select class="form-control"   required   ng-model="dataEntFrom.isautokey" name="isAutokey" ng-disabled="!editflag">
                                <option ng-repeat="d in $settings.diclist['DICT_YON'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">外键录入URL:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="dataEntFrom.fkInputurl" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">外键描述字段名:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="dataEntFrom.fkFielddesc" ng-disabled="!editflag"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">外键列名:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="dataEntFrom.fkColumnname"  ng-disabled="!editflag"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">外键表名:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="dataEntFrom.fkTablename" ng-disabled="!editflag"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">属性描述:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="dataEntFrom.fieldDesc" ng-disabled="!editflag" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>