<!-- 设备数据批量更新 list1 -->
<form name="myform">
    <div>
        <div class="modal-header" style="padding-top: 10px;padding-bottom: 10px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" style="margin-top: 4px">高级查询</h4>
        </div>
    </div>
    <div class="form-body" style="padding: 0 100px;">
        <div class="row" style="margin-top:40px;" >
            <div class="col-md-12"  ng-repeat="d in cardArray"  ng-init="outerIndex = $index">
                <div class="portlet light clearfix" style="border:1px solid #ccc">
                    <div class="portlet-body form" >
                            <div class="col-md-12">
                                  <div class="col-md-4">字段</div>
                                  <div class="col-md-2">关系符</div>
                                  <div class="col-md-4">条件值</div>
                                  <div class="col-md-2">编辑</div>
                                   <div class="col-md-12" style="border-bottom: 1px solid #ccc;margin-top:5px;">
                                   </div>
                            </div>
                            <div class="col-md-12" style="margin:10px 0px;" ng-repeat="dd in d track by $index"  ng-init="newIndex = $index" >
                                <div class="col-md-3" ng-if="newIndex!=0">
                                    <select class="form-control" ng-model="t.luoji" ng-init="t.luoji='and'">
                                        <option value="or">或者</option>
                                        <option value="and">并且</option>
                                    </select>
                                </div>
                                <div class="col-md-3" ng-if="newIndex=0" >
                                    <select class="form-control" ng-model="dd.luoji" ng-init="t.luoji='and'">
                                        <option value="or">或者</option>
                                        <option value="and">并且</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" ng-model="dd.type">
                                        <option value="0">测试</option>
                                        <option value="1">还原</option>
                                        <option value="2">模拟</option>
                                        <option value="3">策划</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select  class="form-control" ng-if="dd.type == '0'" ng-model="dd.guanxi">
                                        <option value="eq">等于</option>
                                        <option value="neq">不等于</option>
                                        <option value="gt">大于</option>
                                        <option value="ge">大于等于</option>
                                        <option value="lt">小于</option>
                                        <option value="le">小于等于</option>
                                    </select>
                                    <select  class="form-control"  ng-if="dd.type == '3'" ng-model="dd.guanxi">
                                        <option value="start">起于</option>
                                        <option value="end">止于</option>
                                    </select>
                                    <select  class="form-control" ng-if="dd.type == '1'" ng-model="dd.guanxi">
                                        <option value="eq">等于</option>
                                        <option value="neq">不等于</option>
                                    </select>
                                    <select class="form-control"  ng-if="dd.type == undefined">
                                    </select>

                                    <select class="form-control" ng-if="dd.type == '2'" ng-model="dd.guanxi" ng-init="dd.guanxi='lk'">
                                        <option value="lk">包含</option>
                                        <option value="nlk">不包含</option>
                                        <option value="eq">等于</option>
                                        <option value="neq">不等于</option>
                                    </select>
                                </div>
                                <div style="text-align: left;" class="col-md-4"  ng-if="dd.type != '1' && dd.type != '3'">
                                    <input type="text"  class="form-control"  ng-model="dd.ce">
                                </div>
                                <div style="text-align: left;" class="col-md-4"   ng-if="dd.type == '1'">
                                    <select  class="form-control" ng-model="t.c">
                                        <!--<option ng-repeat="c in a track by $index" value="{{c}}">{{c.CODE_CHI_NAME}}</option>-->
                                        <option value="0"> > </option>
                                        <option value="1"> < </option>
                                        <option value="2"> != </option>
                                        <option value="3"> = </option>
                                    </select>
                                </div>
                                <div style="text-align: left;" class="col-md-4"  ng-if="dd.type == '3'">
                                    <div start-view="month"
                                         moment-picker="t.zhi.CODE_CHI_NAME"
                                         format="YYYY-MM-DD">
                                        <input class="form-control"   ng-model="dd.ce" ng-required="true" >
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button  ng-click="addQualityRatingExt($parent.$index)" class="btn btn-icon-only green"><i class="fa fa-plus"></i></button>
                                    <button ng-if="d.length>1"  ng-click="delQualityRatingExt(d,$index)" class="btn btn-icon-only green"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card-of"  style="margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5" ng-if="cardArray.length>$index+1">
                            <select  class="form-control"    required   ng-model="d.orAdd" ng-init="d.orAdd='and'">
                                <option value="or">或者</option>
                                <option value="and">并且</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-md-offset-3" ng-if="cardArray.length<=$index+1">
                        </div>
                        <div class="col-md-1">
                            <a ng-if="cardArray.length == $index+1" href ng-click="cardaddQualityRatingExt()" class="btn btn-icon-only green col-md-5"><i class="fa fa-plus"></i></a>
                            <a ng-if="cardArray.length > $index+1"  href ng-click="carddelQualityRatingExt($index+1)" class="btn btn-icon-only green col-md-5"><i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="actions btn-set" style="float: right;">
                            <button type="button" name="back"  class="btn btn-primary"   ng-click="add()" > 保存
                            </button>
                            <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
