<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.om.OmDutyMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.om.OmDuty">
	    INSERT INTO OM_DUTY 
	    (
	    	 guid
	    	,duty_code
	    	,duty_name
	    	,duty_type
	    	,guid_parents
	    	,isleaf
	    	,sub_count
	    	,duty_level
	    	,duty_seq
	    	,remark
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{dutyCode,jdbcType=VARCHAR},
			#{dutyName,jdbcType=VARCHAR},
			#{dutyType,jdbcType=VARCHAR},
			#{guidParents,jdbcType=VARCHAR},
			#{isleaf,jdbcType=CHAR},
			#{subCount,jdbcType=DECIMAL},
			#{dutyLevel,jdbcType=DECIMAL},
			#{dutySeq,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.om.OmDuty">
    	UPDATE OM_DUTY 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="duty_code != null" >
			duty_code = #{dutyCode,jdbcType=VARCHAR},
		</if>
		<if test="duty_name != null" >
			duty_name = #{dutyName,jdbcType=VARCHAR},
		</if>
		<if test="duty_type != null" >
			duty_type = #{dutyType,jdbcType=VARCHAR},
		</if>
		<if test="guid_parents != null" >
			guid_parents = #{guidParents,jdbcType=VARCHAR},
		</if>
		<if test="isleaf != null" >
			isleaf = #{isleaf,jdbcType=CHAR},
		</if>
		<if test="sub_count != null" >
			sub_count = #{subCount,jdbcType=DECIMAL},
		</if>
		<if test="duty_level != null" >
			duty_level = #{dutyLevel,jdbcType=DECIMAL},
		</if>
		<if test="duty_seq != null" >
			duty_seq = #{dutySeq,jdbcType=VARCHAR},
		</if>
		<if test="remark != null" >
			remark = #{remark,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.om.OmDuty">
    	UPDATE OM_DUTY 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		duty_code = #{dutyCode,jdbcType=VARCHAR},
		duty_name = #{dutyName,jdbcType=VARCHAR},
		duty_type = #{dutyType,jdbcType=VARCHAR},
		guid_parents = #{guidParents,jdbcType=VARCHAR},
		isleaf = #{isleaf,jdbcType=CHAR},
		sub_count = #{subCount,jdbcType=DECIMAL},
		duty_level = #{dutyLevel,jdbcType=DECIMAL},
		duty_seq = #{dutySeq,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from OM_DUTY where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from OM_DUTY <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE OM_DUTY 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR}
      	</if>
		<if test="domain.duty_code != null" >
        	duty_code = #{domain.dutyCode,jdbcType=VARCHAR}
      	</if>
		<if test="domain.duty_name != null" >
        	duty_name = #{domain.dutyName,jdbcType=VARCHAR}
      	</if>
		<if test="domain.duty_type != null" >
        	duty_type = #{domain.dutyType,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_parents != null" >
        	guid_parents = #{domain.guidParents,jdbcType=VARCHAR}
      	</if>
		<if test="domain.isleaf != null" >
        	isleaf = #{domain.isleaf,jdbcType=CHAR}
      	</if>
		<if test="domain.sub_count != null" >
        	sub_count = #{domain.subCount,jdbcType=DECIMAL}
      	</if>
		<if test="domain.duty_level != null" >
        	duty_level = #{domain.dutyLevel,jdbcType=DECIMAL}
      	</if>
		<if test="domain.duty_seq != null" >
        	duty_seq = #{domain.dutySeq,jdbcType=VARCHAR}
      	</if>
		<if test="domain.remark != null" >
        	remark = #{domain.remark,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.om.OmDuty">
		select <include refid="Base_Column_List"/> from OM_DUTY where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.om.OmDuty" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from OM_DUTY <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from OM_DUTY <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,duty_code
		,duty_name
		,duty_type
		,guid_parents
		,isleaf
		,sub_count
		,duty_level
		,duty_seq
		,remark
	</sql>
</mapper>