<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.om.OmEmpOrgMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.om.OmEmpOrg">
	    INSERT INTO OM_EMP_ORG 
	    (
	    	 guid_emp
	    	,guid_org
	    	,ismain
	    )
	    VALUES 
	    (
			#{guidEmp,jdbcType=VARCHAR},
			#{guidOrg,jdbcType=VARCHAR},
			#{ismain,jdbcType=CHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.om.OmEmpOrg">
    	UPDATE OM_EMP_ORG 
	    <set>
		<if test="guidEmp != null" >
			guid_emp = #{guidEmp,jdbcType=VARCHAR},
		</if>
		<if test="guidOrg != null" >
			guid_org = #{guidOrg,jdbcType=VARCHAR},
		</if>
		<if test="ismain != null" >
			ismain = #{ismain,jdbcType=CHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.om.OmEmpOrg">
    	UPDATE OM_EMP_ORG 
	    <set>
		guid_emp = #{guidEmp,jdbcType=VARCHAR},
		guid_org = #{guidOrg,jdbcType=VARCHAR},
		ismain = #{ismain,jdbcType=CHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from OM_EMP_ORG where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from OM_EMP_ORG <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE OM_EMP_ORG 
	   <set>
		<if test="domain.guidEmp != null" >
        	guid_emp = #{domain.guidEmp,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidOrg != null" >
        	guid_org = #{domain.guidOrg,jdbcType=VARCHAR},
      	</if>
		<if test="domain.ismain != null" >
        	ismain = #{domain.ismain,jdbcType=CHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.om.OmEmpOrg">
		select <include refid="Base_Column_List"/> from OM_EMP_ORG where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.om.OmEmpOrg" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from OM_EMP_ORG <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from OM_EMP_ORG <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid_emp as guidEmp
		,guid_org as guidOrg
		,ismain as ismain
	</sql>
</mapper>