<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.om.OmGroupMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.om.OmGroup">
	    INSERT INTO OM_GROUP 
	    (
	    	 guid
	    	,group_code
	    	,group_name
	    	,group_type
	    	,group_status
	    	,group_desc
	    	,guid_emp_manager
	    	,guid_org
	    	,guid_parents
	    	,isleaf
	    	,sub_count
	    	,group_level
	    	,group_seq
	    	,start_date
	    	,end_date
	    	,createtime
	    	,lastupdate
	    	,updator
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{groupCode,jdbcType=VARCHAR},
			#{groupName,jdbcType=VARCHAR},
			#{groupType,jdbcType=VARCHAR},
			#{groupStatus,jdbcType=VARCHAR},
			#{groupDesc,jdbcType=VARCHAR},
			#{guidEmpManager,jdbcType=VARCHAR},
			#{guidOrg,jdbcType=VARCHAR},
			#{guidParents,jdbcType=VARCHAR},
			#{isleaf,jdbcType=CHAR},
			#{subCount,jdbcType=DECIMAL},
			#{groupLevel,jdbcType=DECIMAL},
			#{groupSeq,jdbcType=VARCHAR},
			#{startDate,jdbcType=DATE},
			#{endDate,jdbcType=DATE},
			#{createtime,jdbcType=TIMESTAMP},
			#{lastupdate,jdbcType=TIMESTAMP},
			#{updator,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.om.OmGroup">
    	UPDATE OM_GROUP 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="group_code != null" >
			group_code = #{groupCode,jdbcType=VARCHAR},
		</if>
		<if test="group_name != null" >
			group_name = #{groupName,jdbcType=VARCHAR},
		</if>
		<if test="group_type != null" >
			group_type = #{groupType,jdbcType=VARCHAR},
		</if>
		<if test="group_status != null" >
			group_status = #{groupStatus,jdbcType=VARCHAR},
		</if>
		<if test="group_desc != null" >
			group_desc = #{groupDesc,jdbcType=VARCHAR},
		</if>
		<if test="guid_emp_manager != null" >
			guid_emp_manager = #{guidEmpManager,jdbcType=VARCHAR},
		</if>
		<if test="guid_org != null" >
			guid_org = #{guidOrg,jdbcType=VARCHAR},
		</if>
		<if test="guid_parents != null" >
			guid_parents = #{guidParents,jdbcType=VARCHAR},
		</if>
		<if test="isleaf != null" >
			isleaf = #{isleaf,jdbcType=CHAR},
		</if>
		<if test="sub_count != null" >
			sub_count = #{subCount,jdbcType=DECIMAL},
		</if>
		<if test="group_level != null" >
			group_level = #{groupLevel,jdbcType=DECIMAL},
		</if>
		<if test="group_seq != null" >
			group_seq = #{groupSeq,jdbcType=VARCHAR},
		</if>
		<if test="start_date != null" >
			start_date = #{startDate,jdbcType=DATE},
		</if>
		<if test="end_date != null" >
			end_date = #{endDate,jdbcType=DATE},
		</if>
		<if test="createtime != null" >
			createtime = #{createtime,jdbcType=TIMESTAMP},
		</if>
		<if test="lastupdate != null" >
			lastupdate = #{lastupdate,jdbcType=TIMESTAMP},
		</if>
		<if test="updator != null" >
			updator = #{updator,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.om.OmGroup">
    	UPDATE OM_GROUP 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		group_code = #{groupCode,jdbcType=VARCHAR},
		group_name = #{groupName,jdbcType=VARCHAR},
		group_type = #{groupType,jdbcType=VARCHAR},
		group_status = #{groupStatus,jdbcType=VARCHAR},
		group_desc = #{groupDesc,jdbcType=VARCHAR},
		guid_emp_manager = #{guidEmpManager,jdbcType=VARCHAR},
		guid_org = #{guidOrg,jdbcType=VARCHAR},
		guid_parents = #{guidParents,jdbcType=VARCHAR},
		isleaf = #{isleaf,jdbcType=CHAR},
		sub_count = #{subCount,jdbcType=DECIMAL},
		group_level = #{groupLevel,jdbcType=DECIMAL},
		group_seq = #{groupSeq,jdbcType=VARCHAR},
		start_date = #{startDate,jdbcType=DATE},
		end_date = #{endDate,jdbcType=DATE},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		lastupdate = #{lastupdate,jdbcType=TIMESTAMP},
		updator = #{updator,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from OM_GROUP where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from OM_GROUP <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE OM_GROUP 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR}
      	</if>
		<if test="domain.group_code != null" >
        	group_code = #{domain.groupCode,jdbcType=VARCHAR}
      	</if>
		<if test="domain.group_name != null" >
        	group_name = #{domain.groupName,jdbcType=VARCHAR}
      	</if>
		<if test="domain.group_type != null" >
        	group_type = #{domain.groupType,jdbcType=VARCHAR}
      	</if>
		<if test="domain.group_status != null" >
        	group_status = #{domain.groupStatus,jdbcType=VARCHAR}
      	</if>
		<if test="domain.group_desc != null" >
        	group_desc = #{domain.groupDesc,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_emp_manager != null" >
        	guid_emp_manager = #{domain.guidEmpManager,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_org != null" >
        	guid_org = #{domain.guidOrg,jdbcType=VARCHAR}
      	</if>
		<if test="domain.guid_parents != null" >
        	guid_parents = #{domain.guidParents,jdbcType=VARCHAR}
      	</if>
		<if test="domain.isleaf != null" >
        	isleaf = #{domain.isleaf,jdbcType=CHAR}
      	</if>
		<if test="domain.sub_count != null" >
        	sub_count = #{domain.subCount,jdbcType=DECIMAL}
      	</if>
		<if test="domain.group_level != null" >
        	group_level = #{domain.groupLevel,jdbcType=DECIMAL}
      	</if>
		<if test="domain.group_seq != null" >
        	group_seq = #{domain.groupSeq,jdbcType=VARCHAR}
      	</if>
		<if test="domain.start_date != null" >
        	start_date = #{domain.startDate,jdbcType=DATE}
      	</if>
		<if test="domain.end_date != null" >
        	end_date = #{domain.endDate,jdbcType=DATE}
      	</if>
		<if test="domain.createtime != null" >
        	createtime = #{domain.createtime,jdbcType=TIMESTAMP}
      	</if>
		<if test="domain.lastupdate != null" >
        	lastupdate = #{domain.lastupdate,jdbcType=TIMESTAMP}
      	</if>
		<if test="domain.updator != null" >
        	updator = #{domain.updator,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.om.OmGroup">
		select <include refid="Base_Column_List"/> from OM_GROUP where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.om.OmGroup" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from OM_GROUP <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from OM_GROUP <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid
		,group_code
		,group_name
		,group_type
		,group_status
		,group_desc
		,guid_emp_manager
		,guid_org
		,guid_parents
		,isleaf
		,sub_count
		,group_level
		,group_seq
		,start_date
		,end_date
		,createtime
		,lastupdate
		,updator
	</sql>
</mapper>