<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.tis.tools.dao.om.OmOrgMapper">
  
  	<insert id="insert" parameterType="org.tis.tools.model.po.om.OmOrg">
	    INSERT INTO OM_ORG 
	    (
	    	 guid
	    	,org_code
	    	,org_name
	    	,org_type
	    	,org_degree
	    	,org_status
	    	,org_level
	    	,guid_parents
	    	,org_seq
	    	,org_addr
	    	,zipcode
	    	,guid_position
	    	,guid_emp_master
	    	,guid_emp_manager
	    	,link_man
	    	,link_tel
	    	,email
	    	,web_url
	    	,start_date
	    	,end_date
	    	,area
	    	,create_time
	    	,last_update
	    	,updator
	    	,sort_no
	    	,isleaf
	    	,sub_count
	    	,remark
	    )
	    VALUES 
	    (
			#{guid,jdbcType=VARCHAR},
			#{orgCode,jdbcType=VARCHAR},
			#{orgName,jdbcType=VARCHAR},
			#{orgType,jdbcType=VARCHAR},
			#{orgDegree,jdbcType=VARCHAR},
			#{orgStatus,jdbcType=VARCHAR},
			#{orgLevel,jdbcType=DECIMAL},
			#{guidParents,jdbcType=VARCHAR},
			#{orgSeq,jdbcType=VARCHAR},
			#{orgAddr,jdbcType=VARCHAR},
			#{zipcode,jdbcType=VARCHAR},
			#{guidPosition,jdbcType=VARCHAR},
			#{guidEmpMaster,jdbcType=VARCHAR},
			#{guidEmpManager,jdbcType=VARCHAR},
			#{linkMan,jdbcType=VARCHAR},
			#{linkTel,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{webUrl,jdbcType=VARCHAR},
			#{startDate,jdbcType=DATE},
			#{endDate,jdbcType=DATE},
			#{area,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{lastUpdate,jdbcType=TIMESTAMP},
			#{updator,jdbcType=VARCHAR},
			#{sortNo,jdbcType=DECIMAL},
			#{isleaf,jdbcType=CHAR},
			#{subCount,jdbcType=DECIMAL},
			#{remark,jdbcType=VARCHAR}
  		)
 	</insert>
 	
 	<update id="update" parameterType="org.tis.tools.model.po.om.OmOrg">
    	UPDATE OM_ORG 
	    <set>
		<if test="guid != null" >
			guid = #{guid,jdbcType=VARCHAR},
		</if>
		<if test="orgCode != null" >
			org_code = #{orgCode,jdbcType=VARCHAR},
		</if>
		<if test="orgName != null" >
			org_name = #{orgName,jdbcType=VARCHAR},
		</if>
		<if test="orgType != null" >
			org_type = #{orgType,jdbcType=VARCHAR},
		</if>
		<if test="orgDegree != null" >
			org_degree = #{orgDegree,jdbcType=VARCHAR},
		</if>
		<if test="orgStatus != null" >
			org_status = #{orgStatus,jdbcType=VARCHAR},
		</if>
		<if test="orgLevel != null" >
			org_level = #{orgLevel,jdbcType=DECIMAL},
		</if>
		<if test="guidParents != null" >
			guid_parents = #{guidParents,jdbcType=VARCHAR},
		</if>
		<if test="orgSeq != null" >
			org_seq = #{orgSeq,jdbcType=VARCHAR},
		</if>
		<if test="orgAddr != null" >
			org_addr = #{orgAddr,jdbcType=VARCHAR},
		</if>
		<if test="zipcode != null" >
			zipcode = #{zipcode,jdbcType=VARCHAR},
		</if>
		<if test="guidPosition != null" >
			guid_position = #{guidPosition,jdbcType=VARCHAR},
		</if>
		<if test="guidEmpMaster != null" >
			guid_emp_master = #{guidEmpMaster,jdbcType=VARCHAR},
		</if>
		<if test="guidEmpManager != null" >
			guid_emp_manager = #{guidEmpManager,jdbcType=VARCHAR},
		</if>
		<if test="linkMan != null" >
			link_man = #{linkMan,jdbcType=VARCHAR},
		</if>
		<if test="linkTel != null" >
			link_tel = #{linkTel,jdbcType=VARCHAR},
		</if>
		<if test="email != null" >
			email = #{email,jdbcType=VARCHAR},
		</if>
		<if test="webUrl != null" >
			web_url = #{webUrl,jdbcType=VARCHAR},
		</if>
		<if test="startDate != null" >
			start_date = #{startDate,jdbcType=DATE},
		</if>
		<if test="endDate != null" >
			end_date = #{endDate,jdbcType=DATE},
		</if>
		<if test="area != null" >
			area = #{area,jdbcType=VARCHAR},
		</if>
		<if test="createTime != null" >
			create_time = #{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="lastUpdate != null" >
			last_update = #{lastUpdate,jdbcType=TIMESTAMP},
		</if>
		<if test="updator != null" >
			updator = #{updator,jdbcType=VARCHAR},
		</if>
		<if test="sortNo != null" >
			sort_no = #{sortNo,jdbcType=DECIMAL},
		</if>
		<if test="isleaf != null" >
			isleaf = #{isleaf,jdbcType=CHAR},
		</if>
		<if test="subCount != null" >
			sub_count = #{subCount,jdbcType=DECIMAL},
		</if>
		<if test="remark != null" >
			remark = #{remark,jdbcType=VARCHAR}
		</if>
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	
 	<update id="updateForce" parameterType="org.tis.tools.model.po.om.OmOrg">
    	UPDATE OM_ORG 
	    <set>
		guid = #{guid,jdbcType=VARCHAR},
		org_code = #{orgCode,jdbcType=VARCHAR},
		org_name = #{orgName,jdbcType=VARCHAR},
		org_type = #{orgType,jdbcType=VARCHAR},
		org_degree = #{orgDegree,jdbcType=VARCHAR},
		org_status = #{orgStatus,jdbcType=VARCHAR},
		org_level = #{orgLevel,jdbcType=DECIMAL},
		guid_parents = #{guidParents,jdbcType=VARCHAR},
		org_seq = #{orgSeq,jdbcType=VARCHAR},
		org_addr = #{orgAddr,jdbcType=VARCHAR},
		zipcode = #{zipcode,jdbcType=VARCHAR},
		guid_position = #{guidPosition,jdbcType=VARCHAR},
		guid_emp_master = #{guidEmpMaster,jdbcType=VARCHAR},
		guid_emp_manager = #{guidEmpManager,jdbcType=VARCHAR},
		link_man = #{linkMan,jdbcType=VARCHAR},
		link_tel = #{linkTel,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		web_url = #{webUrl,jdbcType=VARCHAR},
		start_date = #{startDate,jdbcType=DATE},
		end_date = #{endDate,jdbcType=DATE},
		area = #{area,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		last_update = #{lastUpdate,jdbcType=TIMESTAMP},
		updator = #{updator,jdbcType=VARCHAR},
		sort_no = #{sortNo,jdbcType=DECIMAL},
		isleaf = #{isleaf,jdbcType=CHAR},
		sub_count = #{subCount,jdbcType=DECIMAL},
		remark = #{remark,jdbcType=VARCHAR}
	    </set>
	    WHERE guid = #{guid}
 	</update>
 	 
    <delete id="delete" parameterType="java.lang.String">
	  	delete from OM_ORG where guid = #{guid}
	</delete>
	
	<delete id="deleteByCondition" parameterType="org.tis.tools.base.WhereCondition">
	  	delete from OM_ORG <include refid="Where_Clause" />
	</delete>
	
	 <update id="updateByCondition" parameterType="map">
    	UPDATE OM_ORG 
	   <set>
		<if test="domain.guid != null" >
        	guid = #{domain.guid,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgCode != null" >
        	org_code = #{domain.orgCode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgName != null" >
        	org_name = #{domain.orgName,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgType != null" >
        	org_type = #{domain.orgType,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgDegree != null" >
        	org_degree = #{domain.orgDegree,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgStatus != null" >
        	org_status = #{domain.orgStatus,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgLevel != null" >
        	org_level = #{domain.orgLevel,jdbcType=DECIMAL},
      	</if>
		<if test="domain.guidParents != null" >
        	guid_parents = #{domain.guidParents,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgSeq != null" >
        	org_seq = #{domain.orgSeq,jdbcType=VARCHAR},
      	</if>
		<if test="domain.orgAddr != null" >
        	org_addr = #{domain.orgAddr,jdbcType=VARCHAR},
      	</if>
		<if test="domain.zipcode != null" >
        	zipcode = #{domain.zipcode,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidPosition != null" >
        	guid_position = #{domain.guidPosition,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidEmpMaster != null" >
        	guid_emp_master = #{domain.guidEmpMaster,jdbcType=VARCHAR},
      	</if>
		<if test="domain.guidEmpManager != null" >
        	guid_emp_manager = #{domain.guidEmpManager,jdbcType=VARCHAR},
      	</if>
		<if test="domain.linkMan != null" >
        	link_man = #{domain.linkMan,jdbcType=VARCHAR},
      	</if>
		<if test="domain.linkTel != null" >
        	link_tel = #{domain.linkTel,jdbcType=VARCHAR},
      	</if>
		<if test="domain.email != null" >
        	email = #{domain.email,jdbcType=VARCHAR},
      	</if>
		<if test="domain.webUrl != null" >
        	web_url = #{domain.webUrl,jdbcType=VARCHAR},
      	</if>
		<if test="domain.startDate != null" >
        	start_date = #{domain.startDate,jdbcType=DATE},
      	</if>
		<if test="domain.endDate != null" >
        	end_date = #{domain.endDate,jdbcType=DATE},
      	</if>
		<if test="domain.area != null" >
        	area = #{domain.area,jdbcType=VARCHAR},
      	</if>
		<if test="domain.createTime != null" >
        	create_time = #{domain.createTime,jdbcType=TIMESTAMP},
      	</if>
		<if test="domain.lastUpdate != null" >
        	last_update = #{domain.lastUpdate,jdbcType=TIMESTAMP},
      	</if>
		<if test="domain.updator != null" >
        	updator = #{domain.updator,jdbcType=VARCHAR},
      	</if>
		<if test="domain.sortNo != null" >
        	sort_no = #{domain.sortNo,jdbcType=DECIMAL},
      	</if>
		<if test="domain.isleaf != null" >
        	isleaf = #{domain.isleaf,jdbcType=CHAR},
      	</if>
		<if test="domain.subCount != null" >
        	sub_count = #{domain.subCount,jdbcType=DECIMAL},
      	</if>
		<if test="domain.remark != null" >
        	remark = #{domain.remark,jdbcType=VARCHAR}
      	</if>
	    </set>
	   <where>${wc.condition}</where>
 	</update>
	 
	<select id="loadByGuid" parameterType="String" resultType="org.tis.tools.model.po.om.OmOrg">
		select <include refid="Base_Column_List"/> from OM_ORG where guid = #{guid}
	</select>
	
    <select id="query" resultType="org.tis.tools.model.po.om.OmOrg" parameterType="org.tis.tools.base.WhereCondition" >
    	select <include refid="Base_Column_List" /> from OM_ORG <include refid="Where_Clause" />
        <if test="orderBy != null" >${orderBy}</if>
        <if test="length > 0" >LIMIT ${offset}, ${length}</if>
  	</select>
  
   	<select id="count" resultType="int" parameterType="org.tis.tools.base.WhereCondition" >
	    select count(*) from OM_ORG <include refid="Where_Clause"/>
  	</select>
  
	<sql id="Where_Clause">
	    <if test="condition != null"><where>${condition}</where></if> 
	</sql>
  
	<sql id="Base_Column_List" >
		 guid as guid
		,org_code as orgCode
		,org_name as orgName
		,org_type as orgType
		,org_degree as orgDegree
		,org_status as orgStatus
		,org_level as orgLevel
		,guid_parents as guidParents
		,org_seq as orgSeq
		,org_addr as orgAddr
		,zipcode as zipcode
		,guid_position as guidPosition
		,guid_emp_master as guidEmpMaster
		,guid_emp_manager as guidEmpManager
		,link_man as linkMan
		,link_tel as linkTel
		,email as email
		,web_url as webUrl
		,start_date as startDate
		,end_date as endDate
		,area as area
		,create_time as createTime
		,last_update as lastUpdate
		,updator as updator
		,sort_no as sortNo
		,isleaf as isleaf
		,sub_count as subCount
		,remark as remark
	</sql>
</mapper>