<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase" ng-if="!id">新增操作员</span>
            <span class="caption-subject font-green-sharp bold uppercase" ng-if="id">编辑操作员</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <form action="#" name="myform" class="form-horizontal ">
            <div class="form-body ">
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">操作员姓名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="operatFrom.operatorName"
                                   name="oper_ator" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-if="!id">
                    <div class="form-group">
                        <label class="control-label col-md-4">用户密码:<span ng-class="{required:myform.dict_key.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" required
                                   ng-model="operatFrom.password"
                                   name="dict_key" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">登陆用户名<span ng-class="{required:myform.dict_key1.$invalid}"  >* </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="operatFrom.userId" required
                                   name="dict_key1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 菜单风格 <span ng-class="{required:myform.dict_menu.$invalid}"  >* </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_AC_MENUTYPE')">
                            <select class="form-control"   required   ng-model="operatFrom.menuType" name="dict_menu">
                                <option ng-repeat="d in $settings.diclist['DICT_AC_MENUTYPE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">操作员状态:<span ng-class="{required:myform.oper_ators.$invalid}"  > * </span></label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_AC_OPERATOR_STATUS')">
                            <select class="form-control"   ng-disabled=true   ng-model="operatFrom.operatorStatus" required   name="oper_ators">
                                <option ng-repeat="d in $settings.diclist['DICT_AC_OPERATOR_STATUS'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 认证模式:<span ng-class="{required:myform.oper_certification.$invalid}"  > * </span> </label>
                        <div class="col-md-8" ng-init="$settings.getDictData('DICT_AC_AUTHMODE')">
                            <select class="form-control"  ng-model="operatFrom.authMode" required  name="oper_certification">
                                <option ng-repeat="d in $settings.diclist['DICT_AC_AUTHMODE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">密码失效日期:</label>
                        <div class="col-md-8 col-md-offset-0">
                            <div class="input-group date form_datetime" ng-init="$root.settings.utils.initpicker()" >
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input type="text" class="form-control" ng-model="operatFrom.invalDate" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 有效开始日期: </label>
                        <div class="col-md-8">
                            <!--<input class="input-appAdd" style="" type="date"ng-model="operatFrom.effectiveDate" name="oper_ator">-->
                            <div class="input-group date form_datetime" ng-init="$root.settings.utils.initpicker()" >
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input type="text" class="form-control" ng-model="operatFrom.startDate" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 有效截止日期: </label>
                        <div class="col-md-8">
                            <div class="input-group date form_datetime" ng-init="$root.settings.utils.initpicker()" >
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input type="text" class="form-control" ng-model="operatFrom.endDate" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">锁定次数限制:<span ng-class="{required:myform.oper_lockLimit.$invalid}"  >* </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="operatFrom.lockLimit" required
                                   name="oper_lockLimit" />
                            <span style="color:#ccc">登陆错误超过本数字，系统锁定操作员，默认5次。</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="add(operatFrom)" > 保存
                                </button>
                                <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 保存
                                </button>
                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>