<!--操作员身份页面-->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">操作员</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">操作员身份</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="bigform">
    <div class="col-md-12" >
        <div class="portlet light bordered ">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet light" >
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">操作员身份查询</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="reload">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form action="#" name="myform" class="form-horizontal clearfix">
                                    <div class="form-body ">
                                        <div class="col-md-6 col-md-offset-3" >
                                            <div class="form-group">
                                                <label class="control-label col-md-4">登陆用户名<span ng-class="{required:myform.dict_key.$invalid}"  >* </span> </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           ng-model="searchFrom.userid" required
                                                           name="dict_key" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-6" >
                                            <div class="form-group">
                                                <label class="control-label col-md-4">操作员姓名<span ng-class="{required:myform.dict_key1.$invalid}"  >* </span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control"
                                                           ng-model="searchFrom.username" required
                                                           name="dict_key1" />
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-2"></label>
                                                <div class="col-md-10">
                                                    <div class="actions btn-set" style="float: right;">
                                                        <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="opensf.search(searchFrom)" > 查看
                                                        </button>
                                                        <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 查看
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- 表格部分-->
                                <div id="container" ng-if="opensf.identity"  style="height: 500px;">
                                    <div ui-grid="gridOptions"  class="grid"
                                          ui-grid-pagination
                                         ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top:12px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="idenAdd()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="idenEdit(4)">  修改
                                        </button>
                                        <button type="button" name="back" class="btn btn-primary" ng-click="idenSave()"> 设置成默认身份
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="idenDel()"> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="opensf.idenright">
                        <div class="portlet light" >
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">身份对应权限</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="container1" ng-if="opensf.identity"  style="height: 500px;">
                                           <div ui-grid="gridOptions1"  class="grid"
                                                ui-grid-pagination
                                                ui-grid-selection ui-grid-resize-columns>
                                    </div>
                                    <div class="actions btn-set" style="float: right; margin-top:12px;">
                                        <button type="button" name="back" class="btn btn-primary" ng-click="identypeAdd()"> 新增
                                        </button>
                                        <button type="button" name="back" class="btn btn-danger" ng-click="identypeDel()"> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








