<!-- 重组菜单按钮-->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">操作员</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">重组菜单</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row" ng-form="bigform">
    <div class="col-md-12" >
        <div class="portlet light bordered ">
            <div class="portlet-body">
                <div class="row">
                    <div class="portlet-body">
                            <form action="#" name="myform" class="form-horizontal clearfix">
                                <div class="form-body ">
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="control-label col-md-4">操作员<span ng-class="{required:myform.dict_key.$invalid}"  >* </span> </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control"
                                                       ng-model="searchFrom.operuser" required  ng-disabled="!jsclose"
                                                       name="dict_key" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> 选择应用: </label>
                                            <div class="col-md-5">
                                                <select class="form-control"  name="select_app"  ng-model="searchFrom.appselect">
                                                    <!-- 渲染，不能绑定同一个，不然每次点击，都会改变，重新渲染，所以ng-model绑定和渲染必须不同-->
                                                    <option ng-repeat="d in opmer.appselectApp" value="{{d.guid}}">{{d.appName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-10">
                                                <div class="actions btn-set" style="float: right;">
                                                    <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="opmer.search(searchFrom)" > 查看
                                                    </button>
                                                    <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 查看
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <!-- 组织机构树 start -->
                    <div class="col-md-6" style="margin-top: 14px;" ng-show="opmer.searchok">
                        <div class="portlet light" >
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">应用菜单查询</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="reload" ng-click="refers()">
                                    </a>
                                </div>
                            </div>
                            <!-- 树结构列表内容-->
                            <div class="portlet-body">
                                <div id="container"  ng-show="opmer.searchok"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 右侧展示页面 start -->
                    <div class="col-md-6 portlet light" style="height:100%;" ng-show="opmer.config">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">自定义菜单配置</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="reload"  ng-click = resfroen()>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <!-- 树结构列表内容-->
                                <div id="container2" ng-show="opmer.searchok"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"></label>
                                        <div class="col-md-10">
                                            <div class="actions btn-set" style="float: right;">
                                                <button type="button" name="back"  class="btn btn-primary" ng-show="iscreat"  popover-trigger="mouseenter" ng-click="opmer.saveconfig()" > 新增顶级菜单</button>
                                                <button type="button" name="back" style="margin-top:20px;"  class="btn btn-primary" ng-show="!iscreat"  popover-trigger="mouseenter" ng-click="opmer.delconfig()" > 撤销重组菜单</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










