<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">首页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:;">个人权限配置</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">个人权限配置</span>
                </div>
                <div class="actions btn-set">
                    <button type="button" name="back" class="btn btn-success" popover-trigger="mouseenter" ng-click="submit()" > 保存
                    </button>
                    <button type="button" name="back" class="btn default" ng-click="$root.settings.utils.back()"><i
                            class="fa fa-angle-left"></i> <返回></返回>
                    </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="tab-content">
                    <div  role="tabpanel">
                        <form action="#" class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">身份设置</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio"  name="{{item.value}}" value="true" ng-model="item.bool"> 开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"    name="{{item.value}}" value="false" ng-model="item.bool" > 关闭
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">重组菜单</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio" id="switchFlag_open"  name="{{item.value}}" value="true" ng-model="item.bool"> 开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"  id="switchFlag_close"   name="{{item.value}}" value="false" ng-model="item.bool" > 关闭
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">操作员管理</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio"  name="{{item.value}}" value="true" ng-model="item.bool"> 开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"     name="{{item.value}}" value="false" ng-model="item.bool" > 关闭
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>