<?xml version="1.0"?>  
<configuration>  
  
    <!-- ch.qos.logback.core.ConsoleAppender \u63a7\u5236\u53f0\u8f93\u51fa -->  
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n  
            </pattern>  
        </encoder>  
    </appender>  
  
    <!-- ch.qos.logback.core.rolling.RollingFileAppender \u6587\u4ef6\u65e5\u5fd7\u8f93\u51fa  
    <appender name="file"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <Encoding>UTF-8</Encoding>  
        <File>/lanmo/lantu.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>/lanmo/lantu-%d{yyyy-MM-dd}.log  
            </FileNamePattern>  
            <MaxHistory>10</MaxHistory>  
            <TimeBasedFileNamingAndTriggeringPolicy  
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <MaxFileSize>15MB</MaxFileSize>  
            </TimeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n  
            </pattern>  
        </layout>  
    </appender>  
    --> 
    <!-- \u65e5\u5fd7\u7ea7\u522b -->  
    <root>  
        <!-- \u5b9a\u4e49\u4e86ERROR\u548cINFO\u7ea7\u522b\u7684\u65e5\u5fd7,\u5206\u522b\u5728FILE\u6587\u4ef6\u548c\u63a7\u5236\u53f0\u8f93\u51fa -->  
        <level value="error" />  
        <level value="info" />  
        <level value="debug" />  
        <appender-ref ref="file" />   
    </root>  
</configuration>   