<!-- 新增子集菜单页面 -->
<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase" ng-if="!id">新增角色</span>
            <span class="caption-subject font-green-sharp bold uppercase" ng-if="id">编辑角色</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light">
        <form action="#" name="myform" class="form-horizontal ">
            <div class="form-body ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 角色名称:<span ng-class="{required:myform.dict_roleName.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="roleFrom.roleName"
                                   required
                                   name="dict_roleName"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"> 角色编号:<span ng-class="{required:myform.dict_roleCode.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="roleFrom.roleCode"  required
                                   name="dict_roleCode"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">角色类别:<span ng-class="{required:myform.dict_roleType.$invalid}"  > * </span></label>
                        <div class="col-md-8"  ng-init="$settings.getDictData('DICT_AC_ROLETYPE')">
                            <select class="form-control" name="dict_roleType" ng-model="roleFrom.roleType"  required>
                                <option ng-repeat="d in $settings.diclist['DICT_AC_ROLETYPE'] track by $index" value="{{d.sendValue}}">{{d.itemName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="form-group" ng-init="$settings.getCommData('APP')">
                        <label class="control-label col-md-4">隶属应用:<span ng-class="{required:myform.dict_guidApp.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <select class="form-control" name="dict_guidApp" ng-disabled="editflag" ng-model="roleFrom.guidApp" required>
                                <option ng-repeat="d in $settings.commlist['APP'] track by $index" value="{{d.guid}}">{{d.appName}}</option>
                            </select>
                            <span style="color:#ccc">一个角色只能归属一个应用</span>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6" >
                    <div class="form-group">
                        <label class="control-label col-md-4">隶属应用:<span ng-class="{required:myform.dict_guidApp.$invalid}"  > * </span></label>
                        <div class="col-md-8">
                            <select class="form-control" name="dict_guidApp" ng-readonly="editflag" ng-model="roleFrom.guidApp"  required>
                                <option ng-repeat="d in  roleList" value="{{d.guid}}">{{d.appName}}</option>
                            </select>
                            <span style="color:#ccc">一个角色只能归属一个应用</span>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-12" >
                    <div class="form-group">
                        <label class="control-label col-md-2">角色描述</label>
                        <div class="col-md-10">
                            <textarea class="form-control"  ng_model="roleFrom.roleDesc" maxlength="512" length-limit  num-length=512 scope-models="roleFrom.roleDesc"  name="id"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <div class="actions btn-set" style="float: right;">
                                <button type="button" name="back"  class="btn btn-primary" ng-if="myform.$invalid == false"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" ng-click="add(roleFrom)" > 保存
                                </button>
                                <button type="button" name="back" class="btn default" ng-if="myform.$invalid == true"  ng-disabled="myform.$invalid" popover-trigger="mouseenter" > 保存
                                </button>
                                <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>