<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div  class="caption">
                    <i class="fa fa-pencil"></i>增加岗位人员
                </div>
                <div class="actions btn-set">
                    <button type="button" name="back" class="btn default" ng-click="cancel()"><i
                            class="fa fa-angle-left"></i> 返回
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <!-- BEGIN FORM-->
                                <form action="#" name="myform" class="form-horizontal">
                                    <div class="form-body">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">登录名</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" ng-model="childEmp.searchForm.searchItems.userid_lk"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">人员姓名</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" ng-model="childEmp.searchForm.searchItems.empname_lk"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div style="float: right">
                                                    <button class="btn btn-sm filter-submit margin-bottom green" ng-click="childEmp.search1()">查询 </button>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <button class="btn btn-sm filter-submit margin-bottom" ng-click="childEmp.reset()">重置 </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                    <!--开始table尾部分页以及工具栏-->
                    <div class="row" >
                        <div class="col-md-8 col-sm-12" >
                            <div class="dataTables_paginate">
                                <div class="pagination-panel">
                                    第 <a ng-click="childEmp.prePage()"
                                         class="btn btn-sm default prev" title="Prev"><i
                                        class="fa fa-angle-left"></i></a><input type="text"
                                                                                ng-model="childEmp.searchForm.page.currentPage"
                                                                                class="pagination-panel-input form-control input-mini input-inline input-sm"
                                                                                maxlenght="5" style="text-align: center; margin: 0 5px;"><a
                                        ng-click="childEmp.nextPage()"
                                        class="btn btn-sm default next" title="Next"><i
                                        class="fa fa-angle-right"></i></a> 页,&nbsp;&nbsp;&nbsp;总<span
                                        class="pagination-panel-total">{{childEmp.searchForm.page.totalPages}}</span>页
                                </div>
                            </div>
                            <div class="dataTables_length">
                                <label><span class="seperator">|</span>每页 <select
                                        ng-model="childEmp.searchForm.page.itemsperpage"
                                        class="form-control input-xsmall input-sm input-inline" ng-options="i for i in [10,20,50,100,150]">
                                </select> 条</label>
                            </div>
                            <div class="dataTables_info" role="status" aria-live="polite">
                                <span class="seperator">|</span>总计{{childEmp.searchForm.page.totalItems}}
                                条
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div style="float: right">
                                <button class="btn btn-sm yellow filter-submit margin-bottom" ng-click="teventTRAdd()">新增 </button>
                            </div>
                        </div>
                    </div>
                    <!--结束table尾部分页以及工具栏-->
                    <table class="table table-striped table-bordered table-hover table-checkable">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="3%" class="table-checkbox">
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single"><input type="checkbox" class="group-checkable" ng-model="headcheck" ng-click="childEmp.checkAll(!headcheck)"/><span></span>
                                </label>
                            </th>
                            <th width="2%">
                                序号
                            </th>
                            <th width="10%">
                                人员姓名
                            </th>
                            <th width="10%">
                                人员代码
                            </th>
                            <th width="10%">
                                登录名
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in childEmp.dataList" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single"><input type="checkbox" class="checkboxes" ng-model="d.checked"/><span></span></label>
                            </td>
                            <td>{{$index+1}}</td>
                            <td>
                                {{d.empname}}
                            </td>
                            <td>
                                {{d.empcode}}
                            </td>
                            <td>
                                {{d.userid}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>