<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-form="bigform">
    <div class="col-md-12">

        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div ng-if="item.id != null" class="caption">
                    <i class="fa fa-pencil"></i>编辑岗位
                </div><div ng-if="item.id == null" class="caption">
                <i class="fa fa-pencil"></i>新增岗位
            </div>

                <div class="actions btn-set">
                    <button type="button" name="back" class="btn btn-primary" ng-if="bigform.$invalid == false" ng-disabled="bigform.$invalid" popover-trigger="mouseenter" ng-click="savePosi(item)" > 保存
                    </button>
                    <button type="button" name="back" class="btn default" ng-if="bigform.$invalid == true" ng-disabled="bigform.$invalid" popover-trigger="mouseenter" ng-click="savePosi(item)" > 保存
                    </button>
                    <button type="button" name="back" class="btn default" ng-click="cancel()"><i
                            class="fa fa-angle-left"></i> 返回
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form action="#" name="myform" class="form-horizontal">
                                    <div class="form-body">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">岗位名称<span ng-class="{required:myform.posiname.$invalid}">*</span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" ng-model="item.posiname" name="posiname"
                                                           required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">岗位代码<span ng-class="{required:myform.posicode.$invalid}">*</span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" ng-model="item.posicode" name="posicode" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">所属机构</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" ng-model="parentorg" ng-disabled="parentorg != null"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">所属职务</label>
                                                <div class="col-md-8">
                                                    <select class="form-control" ng-model="item.dutyid">
                                                        <option value="0">总行</option>
                                                        <option value="1">分行</option>
                                                        <option value="2">支行</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">有效时间</label>
                                                <div class="col-md-8">
                                                    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                        <input type="text" class="form-control form-filter" ng-model="item.startdate" readonly name="start_date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">失效时间</label>
                                                <div class="col-md-8">
                                                    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                        <input type="text" class="form-control form-filter" ng-model="item.enddate" readonly name="end_date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>
