<div class="portlet light" style="width: 100%;height:100%;overflow-x: hidden;">
    <div class="portlet-title">
        <div class="caption">
            <!--<span class="caption-subject font-green-sharp bold uppercase" ng-if="!id">新增业务机构</span>-->
            <span class="caption-subject font-green-sharp bold uppercase">编辑业务机构</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="cancel()">
            </a>
        </div>
    </div>
    <div class="portlet-body portlet light" ng-form="bigform">
        <form action="#" name="myform" class="form-horizontal">
            <div class="form-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">业务机构名称:<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <!--<input type="text" class="form-control"  translate-constants comtable="DICT_OM_NODETYPE"-->
                            <input type="text" class="form-control"
                                   ng-model="subFrom.busiorgName"
                                   name="id" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">主管岗位:<span style="color:red">*</span></label>
                        <div class="col-md-8" ng-init="$settings.getCommData('POS')">
                            <select class="form-control" ng-model="subFrom.guidPosition" required name="id" style="width: 100%">
                                <option ng-repeat="d in $settings.commlist['POS'] track by $index"
                                        value="{{d.guid}}">{{d.positionName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="actions btn-set" style="float: right;">
                            <button type="button" name="back" class="btn btn-primary" ng-disabled="bigform.$invalid"
                                    ng-click="add(subFrom)"> 保存
                            </button>
                            <button type="button" name="back" class="btn btn-danger" ng-click="cancel()"> 取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>