<!--操作员权限开始-->
<div class="page-bar ng-scope" style="border-bottom: 1px solid #e7ecf1;">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">操作员</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">操作员个人配置</a>
        </li>
        <li ng-if="currRole!=''">
            <i class="fa fa-circle"></i>
            <a href="#">当前操作员:{{currRole}}</a>
        </li>
    </ul>
    <div class="actions btn-set">
        <button type="button" name="back" class="btn default"  style="float: right;margin-top:3px;" ng-click="myback()"><i
                class="fa fa-angle-left"></i> 返回
        </button>
    </div>
</div>
<h3 class="page-title">
    <small></small>
</h3>
<div class="row">
    <form action="#" name="myform" class="form-horizontal clearfix">
        <div class="form-body ">
            <div class="col-md-6  col-md-offset-3" >
                <div class="form-group">
                    <label class="control-label col-md-4"> 选择应用: </label>
                    <div class="col-md-5">
                        <select class="form-control"  name="select_app"  ng-model="permissFrom.appselect">
                            <!-- 渲染，不能绑定同一个，不然每次点击，都会改变，重新渲染，所以ng-model绑定和渲染必须不同-->
                            <option ng-repeat="d in permiss.appselectApp" value="{{d.guid}}">{{d.appName}}</option>
                        </select>
                        <!--<select class="form-control" name="dict_guidApp" ng-disabled="editflag" ng-model="permissFrom.appselect" required>
                            <option ng-repeat="d in $settings.commlist['APP'] track by $index" value="{{d.guid}}">{{d.appName}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-2">
                        <button type="button" name="back"  class="btn btn-primary"    popover-trigger="mouseenter" ng-click="permiss.search(permissFrom.appselect)" > 查询
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="tab-content portlet light clearfix"  style="margin-top: 20px;"  >
    <div class="col-md-3" ng-show="permiss.selectApp">
        <div class="portlet-body">
            <form id="s">
                <input type="search" ng-model="searchitem" id="q"/>
                <button type="submit" ng-click="permiss.clear()">清空</button>
            </form>
            <div id="container"></div>
        </div>
    </div>
    <div class="col-md-9" ng-show="permiss.selectApp">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
            <li ng-class="{true:'active',false:''}[proflat.funcon]">
                <a data-toggle="tab" href ng-class="{true:'link',false:''}[proflat.funcon]" ng-click="permiss.loadgwdata(0)">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>操作员功能配置
                </a>
            </li>
            <li ng-class="{true:'active',false:''}[proflat.funactive]" ng-if="!isselfts">
                <a  data-toggle="tab" href ng-class="{true:'link',false:''}[proflat.funactive]" ng-click="permiss.loadgwdata(1)">
                    <i class="green ace-icon fa fa-bars bigger-120"></i>操作员行为配置
                </a>
            </li>
        </ul>
        <!--角色配置功能-->
        <div class="tab-content portlet light" ng-show="proflat.funcon">
            <div class="row">
                <div class="col-md-5"  ng-if="permiss.func">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">已授予</span>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div ui-grid="notfuncrolegird" style="height:360px;"
                             ui-grid-pagination ui-grid-selection></div>
                        <div style="float: right;margin-top: 20px;">
                            <span>当前 {{ notfuncrolegird.pagination.getPage() }} / {{ notfuncrolegird.pagination.getTotalPages() }}</span>
                            <button type="button" class="btn btn-success" ng-click="notfuncrolegird.pagination.previousPage()">
                                上一页
                            </button>
                            <button type="button" class="btn btn-success" ng-click="notfuncrolegird.pagination.nextPage()">
                                下一页
                            </button>
                            <!-- <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.seek(3)">
                                 跳转到第3页
                             </button>-->
                        </div>
                    </div>

                </div>
                <div class="col-md-1" style="margin-top:11%;margin-left: -3%;"  ng-if="permiss.func">
                    <div class="col-md-12" style="margin-left: 38%;">
                        <button   type="button" name="back" class="btn btn-primary" ng-disabled="isYear" ng-click="permiss.funcadd()"> 添加特别禁止 >
                        </button>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;margin-left: 38%;">
                        <button  type="button" name="back" class="btn btn-danger" ng-disabled="isYear" ng-click="permiss.funcdel()"> < 移除特别禁止
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1"  ng-if="permiss.func">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">特别禁止</span>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div ui-grid="alrolefuncgird" style="height:380px;"
                             ui-grid-pagination
                             ui-grid-selection ui-grid-resize-columns></div>
                    </div>
                    <div style="float: right;margin-top: 20px;">
                        <span>当前 {{ alrolefuncgird.pagination.getPage() }} / {{ alrolefuncgird.pagination.getTotalPages() }}</span>
                        <button type="button" class="btn btn-success" ng-click="alrolefuncgird.pagination.previousPage()">
                            上一页
                        </button>
                        <button type="button" class="btn btn-success" ng-click="alrolefuncgird.pagination.nextPage()">
                            下一页
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-5"  ng-if="permiss.func">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">未授予</span>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div ui-grid="tograntfuncgird" style="height:380px;"
                             ui-grid-pagination
                             ui-grid-selection ui-grid-resize-columns></div>
                    </div>
                    <div style="float: right;margin-top: 20px;">
                        <span>当前 {{ tograntfuncgird.pagination.getPage() }} / {{ tograntfuncgird.pagination.getTotalPages() }}</span>
                        <button type="button" class="btn btn-success" ng-click="tograntfuncgird.pagination.previousPage()">
                            上一页
                        </button>
                        <button type="button" class="btn btn-success" ng-click="tograntfuncgird.pagination.nextPage()">
                            下一页
                        </button>
                    </div>
                </div>
                <div class="col-md-1" style="margin-top:11%;margin-left: -3%;"  ng-if="permiss.func">
                    <div class="col-md-12" style="margin-left: 38%;">
                        <button   type="button" name="back" class="btn btn-primary" ng-disabled="isYear" ng-click="permiss.paginafunc()"> 添加特别允许 >
                        </button>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;margin-left: 38%;">
                        <button  type="button" name="back" class="btn btn-danger" ng-disabled="isYear" ng-click="permiss.permissfunc()"> < 移除特别允许
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1"  ng-if="permiss.func">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">特别允许</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div ui-grid="permissfuncgird" style="height:380px;"
                             ui-grid-pagination
                             ui-grid-selection ui-grid-resize-columns></div>
                        <div style="float: right;margin-top: 20px;">
                            <span>当前 {{ permissfuncgird.pagination.getPage() }} / {{ permissfuncgird.pagination.getTotalPages() }}</span>
                            <button type="button" class="btn btn-success" ng-click="permissfuncgird.pagination.previousPage()">
                                上一页
                            </button>
                            <button type="button" class="btn btn-success" ng-click="permissfuncgird.pagination.nextPage()">
                                下一页
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--角色配置功能行为-->
        <div class="tab-content portlet light" ng-show="proflat.funactive">
            <div class="row">
                <div class="col-md-5"  ng-if="permiss.funcselect">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">已授予</span>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div ui-grid="notrolegird" style="height:360px;"
                             ui-grid-pagination ui-grid-selection></div>
                        <div style="float: right;margin-top: 20px;">
                            <span>当前 {{ notrolegird.pagination.getPage() }} / {{ notrolegird.pagination.getTotalPages() }}</span>
                            <button type="button" class="btn btn-success" ng-click="notrolegird.pagination.previousPage()">
                                上一页
                            </button>
                            <button type="button" class="btn btn-success" ng-click="notrolegird.pagination.nextPage()">
                                下一页
                            </button>
                            <!-- <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.seek(3)">
                                 跳转到第3页
                             </button>-->
                        </div>
                    </div>

                </div>
                <div class="col-md-1" style="margin-top:11%;margin-left: -3%;"  ng-if="permiss.funcselect">
                    <div class="col-md-12" style="margin-left: 38%;">
                        <button   type="button" name="back" class="btn btn-primary" ng-disabled="isYear" ng-click="permiss.add()"> 添加特别禁止 >
                        </button>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;margin-left: 38%;">
                        <button  type="button" name="back" class="btn btn-danger" ng-disabled="isYear" ng-click="permiss.del()"> < 移除特别禁止
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1"  ng-if="permiss.funcselect">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">特别禁止</span>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div ui-grid="alrolegird" style="height:380px;"
                             ui-grid-pagination
                             ui-grid-selection ui-grid-resize-columns></div>
                    </div>
                    <div style="float: right;margin-top: 20px;">
                        <span>当前 {{ alrolegird.pagination.getPage() }} / {{ alrolegird.pagination.getTotalPages() }}</span>
                        <button type="button" class="btn btn-success" ng-click="alrolegird.pagination.previousPage()">
                            上一页
                        </button>
                        <button type="button" class="btn btn-success" ng-click="alrolegird.pagination.nextPage()">
                            下一页
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-5"  ng-if="permiss.funcselect">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">未授予</span>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div ui-grid="tograntgird" style="height:380px;"
                             ui-grid-pagination
                             ui-grid-selection ui-grid-resize-columns></div>
                    </div>
                    <div style="float: right;margin-top: 20px;">
                        <span>当前 {{ tograntgird.pagination.getPage() }} / {{ tograntgird.pagination.getTotalPages() }}</span>
                        <button type="button" class="btn btn-success" ng-click="tograntgird.pagination.previousPage()">
                            上一页
                        </button>
                        <button type="button" class="btn btn-success" ng-click="tograntgird.pagination.nextPage()">
                            下一页
                        </button>
                    </div>
                </div>
                <div class="col-md-1" style="margin-top:11%;margin-left: -3%;"  ng-if="permiss.funcselect">
                    <div class="col-md-12" style="margin-left: 38%;">
                        <button   type="button" name="back" class="btn btn-primary" ng-disabled="isYear" ng-click="permiss.pagina()"> 添加特别允许 >
                        </button>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;margin-left: 38%;">
                        <button  type="button" name="back" class="btn btn-danger" ng-disabled="isYear" ng-click="permiss.permiss()"> < 移除特别允许
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1"  ng-if="permiss.funcselect">
                    <div class="portlet-title col-md-12">
                        <div class="caption col-md-10">
                            <span class="caption-subject font-blue-sharp bold uppercase">特别允许</span>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div ui-grid="permissiongird" style="height:380px;"
                             ui-grid-pagination
                             ui-grid-selection ui-grid-resize-columns></div>
                        <div style="float: right;margin-top: 20px;">
                            <span>当前 {{ permissiongird.pagination.getPage() }} / {{ permissiongird.pagination.getTotalPages() }}</span>
                            <button type="button" class="btn btn-success" ng-click="permissiongird.pagination.previousPage()">
                                上一页
                            </button>
                            <button type="button" class="btn btn-success" ng-click="permissiongird.pagination.nextPage()">
                                下一页
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
